{{#if categoryPath}}
<div class="selected-category">
  <span class="selected-category-span">
    <span>你当前选择的是:</span>
    <span class="selected-path">{{categoryPath}}</span>
  </span>
  {{#unless itemId}}
    &nbsp;&nbsp;&nbsp;
    <a href="/agreement/release-items?ptype={{ptype}}">重新选择类目</a>
  {{/unless}}
</div>
{{else}}
  <div style="margin-bottom: 20px;"></div>
{{/if}}
