@import "compass/css3/inline-block";
@import "pokeball/theme";

div.order-form-shipments{
  //width: 990px;
  .order-form-shipments-body{
    background-color: #FFFFFF;
    //padding: 15px;
    margin: 0;
    table{
      //width: 960px;

      tbody{
        tr{
          border: 1px solid #e7e9ea;
          td{
            text-align: left;
            border-width: 0 0 1px 0;
            padding-top: 10px;
            padding-bottom: 10px;
            &:first-child{
              border-width: 0 0 1px 1px;
            }
            &:last-child{
              border-width: 0 1px 1px 0;
              text-align: right;
            }
          }
          &.first-level-tr{
            border-width: 0 0 1px 1px;
          }
        }
      }
    }
    .price, .currency{
      color: #FE7800;
    }
    .no-href{
      color: #9E9E9C;
    }
    .shipment-title{
      padding-bottom: 10px;
    }
  }
  .list-pagination {
    text-align: right;
    margin: 10px 0 10px 0;
  }
}
