@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
@import "pokeball/theme";

.tax-hall-header{

  padding: 25px 0 25px 0;

  .img-left{
    float: left;
    margin-top: 5px;
    .mainlogo-a{
      @include inline-block(middle);
      width: 100%;
      height: 100%;
    }
  }
  .form-search{
    min-width: 350px;
    width: 530px;
    margin: 0 auto;
    .search-type-group{
      position: absolute;
      width: 72px;
      height: 32px;
      .search-tab-icon{
        position: absolute;
        top: 15px;
        right: 10px;
      }
      &:hover{
        .active.search-type-li{
          border-right: 0px;
        }
        .search-type{
          background-color: #fff;
        }
        .search-type-li:hover{
          background-color: $color-background;
        }
        .search-tab-icon{
          //transform: rotate(180deg);
          -ms-transform: rotate(180deg);   /* IE 9 */
          -webkit-transform: rotate(180deg); /* Safari and Chrome */
          -o-transform: rotate(180deg);    /* Opera */
          -moz-transform: rotate(180deg);
          transition-duration: 0.5s;
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        }
      }
    }
    .search-type{
      letter-spacing: normal;
      position: absolute;
      list-style: none;
      background-color: $color-background;
      top: 3px;
      left: 3px;
      border: 1px solid $color-border;
      .search-type-li{
        width: 23px;
        height: 16px;
        padding: 7px 23px;
        display: none;
        a{
          font-size: 14px;
          margin-left: -5px;
          text-decoration: none;
          color: $navy;
        }
      }
      .active.search-type-li{
        display: block;
        border-right: 1px solid $color-border;
      }
    }
    .search-input{
      padding-left: 27px !important;
      width: 380px;
      display: none;
      border: 1px solid #197aff;
      &:focus {
        border: 1px solid #016AE6;
      }
    }
    .search-input.active{
      @include inline-block(middle);
    }
  }
  .small-form{
    width: 400px;
    .search-input{
      width: 208px;
    }
  }
  .input-search{
    position: relative;

    .icon-search {
      position: absolute;
      left: 5px;
      top: 10px;
      font-size: 20px;
      color: #9B9B9B;
    }
  }
  .img-right{
    float: right;
    margin-top: -10px;
  }
  .search-hot{
    ul{
      list-style: none;
      li{
        @include inline-block(middle);
        font-size: 13px;
        span{
          font-size: 12px;
        }
        a{
          font-size: 12px;
          color: $navy;
          margin: 0 8px;
          &:hover{
            text-decoration: underline;
          }
          &.red {
            color: $color-danger;
          }
          &.bold {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.suggestion {
  li {
    position: relative;
    zoom: 1;
    b {
      font-weight: normal;
      color: #ccc;
      position: absolute;
      right: 10px;
      top: 6px;
    }
  }
}
