<label>类目：</label>
<div class="category-input">
  <select name="categoryId" class="category-select">
    <option value="">请选择</option>
  </select>
  <div id="item-tree" class="category-tree hide" style="z-index: 999;"></div>
</div>
<label>状态：</label>
<select name="status">
  <option value="">请选择</option>
  <option value="1">已约定</option>
  <option value="0">未约定</option>
</select>
<label>商品名称：</label>
<input type="text" name="itemName" placeholder="请输入商品名称">
<button class="btn btn-info pull-right js-reset">重置</button>
<button class="btn btn-info pull-right js-search">搜索</button>