<div class="empty-body">
  <div class="image">
    <img src="/lunatone/assets/images/other-images/service-empty.png">
  </div>
  <div class="tips">您还没有加入任何服务，请前往<a href="/seller/service/sign-desk">加入服务</a></div>
</div>