{{#component "ZCY-eevee-page-search js-comp"}}
  <div class="eevee-clu-line-header eevee-grids">
    <div class="eevee-col-row">
      {{#inject 'zcyEvEtemp/comps/normalLogo'}}
          {
            "name": "网上超市"
          }
      {{/inject}}
      {{inject 'zcyEvEtemp/comps/header'}}
      {{inject 'zcyEvEtemp/comps/cart'}}
    </div>
    <div class="eevee-clu-line-tabs eevee-grids" style="border-bottom:2px solid rgb(4, 118, 251)">

    </div>
    <div class="eevee-clu-line-tabs eevee-grids">
      <div class="eevee-col-row" style="width: 100%">
        {{inject 'common/goodsSearchContainer'}}
      </div>
    </div>
    <div class="eevee-clu-line-tabs eevee-grids" style="background-color: rgb(245, 245, 245);">
      <div class="eevee-col-row">
        {{inject 'common/page_bottom'}}
      </div>
    </div>

    </div>
{{/component}}
