.spu-list {
  .tab .tab-label {
    width: auto;
    margin-left: 10px;
    background-color: transparent;
    color: #4c97ff
  }
  .component-header {
    padding: 0 !important;
  }
  .span3.date_picker {
    width: 335px;
  }

  .text-warn {
    color: #F2C200 !important;
  }
  .text-link {
    color: #2687d0 !important;
  }
  .text-success {
    color: #2DC12D !important;
  }
  .text-link {
    color: #2687d0 !important;
  }

  .text-muted {
    margin: 0 15px 0 5px;
  }

  .modal {
    .modal-title {
      display: inline-block;
      margin-left: 15px;
    }

    .icon-pokeball-notify-error {
      color: #f00;
      vertical-align: sub;
      font-size: 26px;
    }
    .icon-pokeball-notify-warning {
      color: #F2C32E;
      vertical-align: sub;
      font-size: 26px;
    }
  }
  .spu-list {
    .add-btn {
      margin-top: -37px;
    }
  }
}
