<span class="js-sku-item sku-item">
  <label class="sku-attribute-label">
    <input type="checkbox" name="{{attrKey}}" class="input-checkbox js-select-sku-attr" value="{{attrVal}}">{{attrVal}}
  </label>
  <i class="icon-mewtwo icon-mewtwo-pic attribute-image js-attribute-image"></i>
</span>
