{{#if categoryPath}}
  <div class="section-title pull-left">
    发布类目
  </div>
<div class="selected-category pull-left" style="width:auto;">
  <span class="selected-category-span">
    <span class="selected-path">{{categoryPath}}</span>
  </span>
  {{#unless itemId}}
    &nbsp;&nbsp;&nbsp;
    <a href="/seller/release-items?ptype={{ptype}}">重新修改类目</a>
  {{/unless}}
  {{#if spuId}}
    <div style="margin-top: 5px;">
      <label>此类目商品部分信息无法直接变更，如有错误信息可点击
        <a href="/seller/spus/spu-publish?spuId={{spuId}}&ptype=5&update=true" target="_blank">此处申请变更SPU</a>
      </label>
    </div>
  {{/if}}
</div>
{{/if}}
