<div class="enlarge-image modal" style="position:absolute;background:#fff;width:700px;">
  <div class="modal-header" style="border-bottom:none;">
    <label class="modal-title" style="font-size:16px;">查看图片</label>
    <a href="javascript:;" class="close" style="font-size:20px;">&times;</a>
  </div>
  <div style="width:700px;max-height:700px;overflow-y:scroll;">
    <img src="{{this}}" alt="" width="100%">
  </div>
</div>