<div class="form-section clearfix">
  <div class="section-title pull-left">
    {{#if group}}{{group}}{{else}}&nbsp;{{/if}}
    {{#equals group '技术参数'}}
      {{#equals ptype 3}}
        <span style="color: red; font-size: 12px;">(关键属性经过浙江省疾病预防控制中心审核通过后，将不能编辑修改，请谨慎填写。)</span>
      {{/equals}}
    {{/equals}}
  </div>
  <div class="pull-left section-content">
    <div class="category-attribute attribute-area js-attribute-area">
      <ul class="attribute-list clearfix js-category-attribute-list">
        {{#if otherAttributeWithRules}}
          {{#each otherAttributeWithRules}}
            {{> seller/item_issue/all_templates/_attribute_container}}
          {{/each}}
        {{else}}
          {{#each categoryAttributeWithProperties}}
            {{> seller/item_issue/all_templates/_attribute_container}}
          {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>

