<div class="form-section clearfix">
  <div class="section-title pull-left">价格{{#equals ptype 3}}{{else}}库存{{/equals}}</div>
  <div class="pull-left section-content no-bg sku-info-area" id="js-sku-info-area">
    <label>如果您不填写部分的价格及库存，在商品详情页中就不会展示</label>
    <div class="batch-fill-area">
      {{#equals ptype 4}}
      {{else}}
        <input type="text" class="js-sku-price" placeholder="请输入销售价">
      {{/equals}}
      {{#equals ptype 2}}
        <input type="text" class="js-platform-price" placeholder="请输入电商平台价">
      {{/equals}}
      {{#if showStocks}}
        <input type="text" class="js-sku-stock" placeholder="请输入库存">
      {{/if}}
      <button type="button" class="btn btn-info js-batch-fill {{#equals ptype 4}}{{#unless showStocks}}hide{{/unless}}{{/equals}}">批量填充</button>
    </div>
    <div id="js-sku-table-area" class="js-sku-table-area" data-ptype="{{ptype}}"></div>
    <p class="error-tip">
      <i class="icon-mewtwo icon-mewtwo-alert-fill"></i> 请至少填写一个销售价
    </p>
  </div>
</div>