<div class="form-section section-top-bottom clearfix">
  <div class="section-title pull-left">备注说明</div>
  <div class="pull-left section-content clearfix">
    <div class="control-group">
      <input type="text"
             class="js-remark-content-input"
             placeholder="如有特殊情况可在此处进行说明"
             value="{{memo}}"
             style="margin: 0 0 20px 20px;width: 300px;"
      >
    </div>
  </div>
</div>
