<div class="form-section clearfix">
  <div class="pull-left section-title">商品详情</div>
  <div class="pull-left section-content no-bg">
    <div class="modal-dialog">
    <div class="text-tools">
      <div id="wysihtml5-editor-toolbar">
        <header>
          <ul class="commands">
            <li data-wysihtml5-command="bold" title="粗体(CTRL + B)" class="text-tool-li command"></li>
            <li data-wysihtml5-command="italic" title="斜体 (CTRL + I)" class="text-tool-li command"></li>
            <li data-wysihtml5-command="insertUnorderedList" title="项目符号列表" class="text-tool-li command"></li>
            <li data-wysihtml5-command="insertOrderedList" title="编号列表" class="text-tool-li command"></li>
            <li data-wysihtml5-command="createLink" title="超链接" class="text-tool-li command"></li>
            <li data-wysihtml5-command="insertImage" title="插入图片链接" class="text-tool-li command"></li>
            <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" title="大标题" class="text-tool-li command"></li>
            <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" title="小标题" class="text-tool-li command"></li>
            <li data-wysihtml5-command="insertSpeech" title="Insert speech" class="text-tool-li command"></li>
          </ul>
        </header>
        <div data-wysihtml5-dialog="createLink" style="display: none;">
          <label>
            链接地址:
            <input data-wysihtml5-dialog-field="href" value="http://">
          </label>
          <a data-wysihtml5-dialog-action="save">确定</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">取消</a>
        </div>

        <div data-wysihtml5-dialog="insertImage" style="display: none;" class="image-selecter">
          <label>
            图片:
            <input data-wysihtml5-dialog-field="src" class="image-input" value="http://">
          </label>
          <div class="btn btn-upload btn-secondary btn-small">
            <span>上传图片</span>
            <form class="js-image-upload">
              <input type="file" name="file" data-role="2">
            </form>
          </div>
          <a data-wysihtml5-dialog-action="save" class="btn btn-small btn-primary">确定</a>&nbsp;<a data-wysihtml5-dialog-action="cancel" class="btn btn-info btn-small">取消</a>
        </div>
      </div>

      <section>
        <textarea id="wysihtml5-editor" spellcheck="false" wrap="soft" placeholder="{{placeholderText}}">
          {{data}}
        </textarea>
      </section>
    </div>
  </div>
  </div>
  </div>