{{#component "purchase-organization-list js-comp"}}
  <input type="hidden" class="js-purchas-orgs" value="{{json purchaseOrgs}}">
  <div class="list-header">
    <span class="icon"></span>
    <span class="name">{{floorName}}</span>
  </div>
  <div class="list-body">
    <div class="scroll-arrow left js-left-scroll">
      <a href="javascript:void(0)"><i class="icon-zcy icon-prev"></i></a>
    </div>
    <div class="visible-area">
      <div class="scroll-list">

      </div>
    </div>
    <div class="scroll-arrow right js-right-scroll">
      <a href="javascript:void(0)"><i class="icon-zcy icon-next"></i></a>
    </div>
  </div>
{{/component}}
