{{#each data}}
  <div class="purchaseOrgs">
    <div class="org">
      <div class="logo">
        <a href="/purchaseorg?purchaseOrgId={{id}}&purchaseOrg={{name}}" target="_blank">
          <img src="{{image}}">
        </a>
      </div>
    </div>
  </div>
{{/each}}
