.scroll-items-floor {
  width: 1200px;
  overflow: hidden;
  .floor-title{
    font-weight:bold;
  }
  .carousel {
    height: 350px;
    background: #ffffff;
    box-shadow: 0 -3px 0 0 #474E56;
    .carousel-container {
      margin: 49px 30px 0 30px;
      white-space: nowrap;
      li {
        margin: 0 14px;
        width: 200px;
        float: left;
        &.show {
          display: block;
        }
        &.hide {
          display: none;
        }
        .item-image {
          width: 180px;
          height: 180px;
        }
        img {
          max-width: 180px;
          max-height: 180px;
        }
      }
    }
  }
  .floor-header{
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
    color: #333333;
    .link-more{
      font-size: 13px;
      color: #666666;
      float: right;
      margin-right: 30px;
      &:hover{
        color: #0876FF;
      }
      i{
        font-size:14px;
      }
    }
  }
  .floor-body {
    height:390px;
    border: none;
  }
  .production {
    line-height: 30px;
    margin: 5px 10px 5px 0;
    &-name {
      font-size: 14px;
      display: inline-block;
      white-space: normal;
      line-height: 18px;
      color: #000;
      height: 36px;
      overflow: hidden;
    }
    &-price {
      font-size: 14px;
      color:#ff4100;
      font-weight:bold;
    }
  }

  .scroll-btn {
    display: inline-block;
    position: relative;
    top: -210px;
    width: 25px;
    height: 50px;
    background: #F1F0F1;
    &.prev {
      left:0;
    }
    &.next {
      left: 1146px;
    }
  }
}