.floor-evevator {
  &.list-evevator {
    li {
      .li-slide {
        color:#666;
      }
      &.active {
        background: #197aff;
        .li-slide {
          color: #fff;
        }
      }
    }
  }
}