{{#component "item-publish-with-category"}}
  <span class="hide kaneData">{{json _DATA_}}</span>
  {{> component:seller/item_publish/common/other_templates/base_info}}

  {{#each _DATA_}}
    {{#equals group "普通属性"}}
      {{> component:seller/item_publish/common/other_templates/other_attrs attrGroup="普通属性"}}
    {{/equals}}
  {{/each}}

  {{#with _DATA_}}
    {{> component:seller/item_publish/common/other_templates/sku_attrs}}
  {{/with}}

  {{> component:seller/item_publish/common/other_templates/price_stock}}

  {{#each _DATA_}}
    {{#of group "服务信息,政策信息"}}
      {{> component:seller/item_publish/common/other_templates/other_attrs attrGroup="服务信息,政策信息"}}
    {{/of}}
  {{/each}}

  {{#each _DATA_}}
    {{#of group "普通属性,服务信息,政策信息,USER_DEFINED"}}
    {{else}}
      {{> component:seller/item_publish/common/other_templates/attrs_temp}}
    {{/of}}
  {{/each}}

  {{> component:seller/item_publish/common/other_templates/category_user_defined_attrs}}

  {{> component:seller/item_publish/common/other_templates/rich_editor}}

{{/component}}
