<div class="modal modal-order-confirm">
  <div class="modal-header">
    <h2>订单确认</h2>
  </div>
  <div class="modal-body clearfix">
    <div id="panel-attachments" class="panel" data-link="{{_OTHER_}}">
      <div id="purchase-list-attachment" data-file="{{json _DATA_.attachments}}"></div>
    </div>
    <h6>请上传相关附件信息</h6>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info btn-medium close">取消</button>
    <button class="btn btn-primary btn-medium js-payment-items-submit">确定</button>
  </div>
</div>
