.manufacturer-product-floor{
  .floor-product-title{
    .link-more{
      font-size: 14px;
      color: #333;
      float: right;
      margin-right: 30px;
      &:hover{
        color:#666;
      }
      i{
        padding-left:3px;
      }
    }
    span{
      font-size:20px;
      color:#333;
      padding-left:10px;
    }
  }
  .floor-products{
    width:1200px;
    margin:10px auto;
    .product-item{
      float:left;
      padding:15px 30px 10px 30px;
      margin-bottom:1px;
      background:#fff;
      .product-image{
        width:180px;
        height:180px;
        overflow:hidden;
        background-size:contain;
        background-position: center;
        background-repeat:no-repeat;
        border-bottom:2px solid transparent;
      }
      .product-name{
        display: -webkit-box;
        width:180px;
        height:40px;
        line-height:20px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color:#333;
        &:hover{
          color:#FF7900;
        }
      }
      .currency{
        color:#FF4100;;
      }
    }
  }
}