@import "compass/css3/inline-block";
@import "pokeball/theme";

$active-title-color: #24344E;
$title-color: #666;
$titlt-size: 12px;
$border-color: #ddd;
$active-border-color: #328cff;

$active-li-bg-color: $active-border-color;
$active-li-color: #fff;

.zcy-district {

  .dropdown-content {
    width: 280px;
    border: 1px solid $border-color;

    .zcy-district-title {
      line-height: 32px;
      font-size: $titlt-size;
      margin: 0;

      li {
        float: left;
        text-align: center;
        color: $title-color;
        cursor: pointer;
        padding: 0;
        border-bottom: 2px solid $border-color;
        &.active {
          color: $active-title-color;
          border-bottom-color: $active-border-color;
        }
      }
    }

    .zcy-district-selection {
      ul {
        li {
          float: left;
          padding: 6px;
          margin: 2px 5px;
          cursor: pointer;
          &.active {
            background-color: $active-li-bg-color;
            color: $active-li-color;
            border-radius: 4px;
          }
        }
      }

      &-container {
        padding: 10px;
      }
    }
  }

  &-select-selection {
    width: 280px;
    &.error {
      border-color: $lightred;
    }
    &.valid {
      border-color: $green;
    }
  }
}