{{#component "component-goods-category-tree js-comp"}}
<div class="hide shopId-box" data-shopId="{{shopId}}">{{json shopId}}</div>
  {{#equals searchType 1}}
    <div id="nav" style="{{#if width}}width:{{width}};{{else}}width:228px;{{/if}}">
      <p class="nav-header">本店商品分类</p>
      <div id="menu-tree">
      </div>
    </div>
  {{/equals}}
{{/component}}