$blueColor: #0876FF;

.component-goods-category-tree{

  #nav {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
  }

  .nav-header {
    background: #F5F5F5;
    padding: 12px 0 10px 17px;
    margin: 0px;
    font-family: PingFangSC-Medium !important;
    font-size: 14px;
    color: #666;
  }

  #menu-tree > ul > li {
    & > div.jstree-wholerow, & > div.jstree-wholerow-hovered, & > div.jstree-wholerow-clicked {
      background: #FAFAFA !important;
      box-shadow: 0 1px 0 0 #EEEEEE;
    }
    & > a {
      font-size: 14px;
      color: #666;
      height: 28px !important;
      line-height: 28px !important;
    }
    & > ul {
      padding: 7px 0 4px 0;
      margin-left: 6px;
      li {
        margin-left: 0;
      }
    }

    &.jstree-leaf {
      margin-left: initial !important;
    }
  }

  .jstree-node, .jstree-children, .jstree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
  }

  .jstree-node {
    white-space: nowrap;
  }

  .jstree-anchor {
    display: inline-block;
    color: #000000;
    white-space: nowrap;
    padding: 0 4px 0 1px;
    margin: 0;
    vertical-align: top;
    &:focus {
      outline: 0;
    }
    text-decoration: none;
    color: inherit;
    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      color: inherit;
    }
  }

  .jstree-icon {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
    &:empty {
      display: inline-block;
      text-decoration: none;
      margin: 0;
      padding: 0;
      vertical-align: top;
      text-align: center;
    }
  }

  .jstree-ocl {
    cursor: pointer;
  }

  .jstree-leaf {
    margin-left: 8px !important;
  }

  .jstree-leaf > .jstree-ocl {
    cursor: default;
  }

  .jstree {
    .jstree-open > .jstree-children {
      display: block;
    }
    .jstree-closed > .jstree-children, .jstree-leaf > .jstree-children {
      display: none;
    }
  }

  .jstree-anchor > .jstree-themeicon, .jstree-no-icons .jstree-themeicon, .jstree-anchor > .jstree-themeicon-hidden, .jstree-hidden {
    display: none;
  }

  .jstree-wholerow-ul {
    position: relative;
    display: inline-block;
    min-width: 100%;
    .jstree-leaf > .jstree-ocl {
      cursor: pointer;
    }
    .jstree-anchor, .jstree-icon {
      position: relative;
    }
    .jstree-wholerow {
      width: 100%;
      cursor: pointer;
      position: absolute;
      left: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .jstree-default {
    .jstree-wholerow-clicked {
      background: #fff !important;
    }
    .jstree-node, .jstree-icon {
      background-repeat: no-repeat;
      background-color: transparent;
    }
    .jstree-anchor, .jstree-wholerow {
      transition: background-color .15s,box-shadow .15s;
    }
    .jstree-hovered {
      color: $blueColor !important;
    }
    .jstree-clicked {
      background: #beebff;
      border-radius: 2px;
      box-shadow: inset 0 0 1px #999;
    }
    .jstree-no-icons .jstree-anchor > .jstree-themeicon {
      display: none;
    }
    .jstree-disabled {
      background: 0 0;
      color: #666;
      &.jstree-hovered {
        color: $blueColor;
      }
      &.jstree-clicked {
        background: #efefef;
      }
      > .jstree-icon {
        opacity: .8;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
        //filter: gray;
        -webkit-filter: grayscale(100%);
      }
    }
    .jstree-search {
      font-style: italic;
      color: #8b0000;
      font-weight: 700;
    }
    .jstree-no-checkboxes .jstree-checkbox {
      display: none !important;
    }
    &.jstree-checkbox-no-clicked {
      .jstree-clicked {
        background: 0 0;
        box-shadow: none;
        &.jstree-hovered {
          background: #e7f4f9;
        }
      }
      > .jstree-wholerow-ul .jstree-wholerow-clicked {
        background: #fff;
        &.jstree-wholerow-hovered {
          background: #fff;
        }
      }
    }
    > {
      .jstree-striped {
        min-width: 100%;
        display: inline-block;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==) left top repeat;
      }
      .jstree-wholerow-ul {
        .jstree-hovered, .jstree-clicked {
          background: 0 0;
          box-shadow: none;
          border-radius: 0;
        }
      }
    }
    .jstree-wholerow {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .jstree-wholerow-hovered {
      background: #fff !important;
    }
    .jstree-wholerow-clicked {
      background: #fff;
      background: -webkit-linear-gradient(top, #fff 0, #fff 100%);
      background: linear-gradient(to bottom, #fff 0, #fff 100%);
    }
    .jstree-node {
      min-height: 28px;
      line-height: 28px;
      margin-left: 24px;
      min-width: 24px;
    }
    .jstree-anchor {
      line-height: 26px;
      height: 26px;
      max-width: 100px;
      margin-left: -8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .jstree-icon {
      width: 24px;
      height: 24px;
      line-height: 28px;
      &:empty {
        width: 24px;
        height: 24px;
        line-height: 28px;
      }
    }
    .jstree-wholerow {
      height: 30px;
    }
    .jstree-node, .jstree-icon {
      //background-image: url(32px.png);
    }
    .jstree-node {
      background-position: -292px -4px;
      background-repeat: repeat-y;
    }
    .jstree-last {
      background: 0 0;
    }
    .jstree-open > .jstree-ocl {
      background-position: -132px -4px;
      margin-right: 20px !important;
      &:before {
        content: "\e6f6" !important;
        color: #999;
        margin-left: 17px;
      }
    }
    .jstree-closed > .jstree-ocl {
      background-position: -100px -4px;
      margin-right: 20px !important;
      &:before {
        content: "\e6f7" !important;
        color: #999;
        margin-left: 17px;
      }
    }
    .jstree-leaf > .jstree-ocl {
      background-position: -68px -4px;
    }
    .jstree-themeicon {
      background-position: -260px -4px;
    }
    > .jstree-no-dots {
      .jstree-node, .jstree-leaf > .jstree-ocl {
        background: 0 0;
      }
      .jstree-open > .jstree-ocl {
        background-position: -36px -4px;
      }
      .jstree-closed > .jstree-ocl {
        background-position: -4px -4px;
      }
    }
    .jstree-disabled {
      background: 0 0;
      &.jstree-hovered {
        background: 0 0;
      }
      &.jstree-clicked {
        background: #efefef;
      }
    }
    .jstree-checkbox {
      background-position: -164px -4px;
      &:hover {
        background-position: -164px -36px;
      }
    }
    &.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox, .jstree-checked > .jstree-checkbox {
      background-position: -228px -4px;
    }
    &.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover, .jstree-checked > .jstree-checkbox:hover {
      background-position: -228px -36px;
    }
    .jstree-anchor > .jstree-undetermined {
      background-position: -196px -4px;
      &:hover {
        background-position: -196px -36px;
      }
    }
    .jstree-checkbox-disabled {
      opacity: .8;
      //filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
      //filter: gray;
      -webkit-filter: grayscale(100%);
    }
    > .jstree-striped {
      background-size: auto 48px;
    }
    .jstree-themeicon-custom {
      background-color: transparent;
      background-image: none;
      background-position: 0 0;
    }
    > .jstree-container-ul .jstree-loading > .jstree-ocl {
      //background: url(throbber.gif) center center no-repeat;
    }
    .jstree-file {
      //background: url(32px.png) -100px -68px no-repeat;
    }
    .jstree-folder {
      //background: url(32px.png) -260px -4px no-repeat;
    }
    > .jstree-container-ul > .jstree-node {
      margin-left: 0;
      margin-right: 0;
      border: 1px solid #FAFAFA;
    }
  }
}



