{{#each data}}
  <div class="attibute-list js-attribute-list-component">
    <div class="attibute-list-header">
      <p class="name"><strong>{{key}}</strong></p>
    </div>
    <div class="attibute-list-body">
      <ul class="divide-ul">
        {{#each values}}
          <li class="divide-li" data-attr-val="{{this}}" data-attr-key="{{../key}}">
            <div class="normal-status">
              <a href="javascript:void(0)" class="item-pop"><span>{{this}}</span></a>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/each}}