<div class="key-attribute-search-box">
  <div class="search-item">
    <div class="search-item-group">
      <i class="icon-mewtwo icon-mewtwo-search"></i>
      <input type="text" class="search-item-input js-search-item" placeholder="搜索关键词" data-category-id="{{categoryId}}">
    </div>
    <label class="link">
      找不到SPU？<a href="/seller/release-items?ptype=5" target="_blank">点击申请SPU</a>
    </label>
  </div>
  <div class="key-attribute-list"></div>
</div>




