@import 'compass/css3/inline-block';
@import 'pokeball/theme';
@import 'compass/css3/box-sizing';

$gray-carinsurdetail: #e6e6e6;
$border-hover: #36f;
$blue-carinsurdetail: #24344e;
$orange-carinsurdetail: #ff7900;
$black-carinsurdetail: #2a2d33;
$w-carinsurdetail: #fffefa;
$w2-carinsurdetail: #fbedce;
$whi-carinsurdetail: #fafafa;

.fixed-car-insurance-detail {
  //// breadCrumbs
  //.current-location-dark {
  //  font-size: 14px;
  //  padding: 10px 0;
  //}
  //
  //.current-location-span {
  //  height: 30px;
  //  line-height: 28px;
  //
  //  a {
  //    color: $gray;
  //  }
  //
  //  i {
  //    @include inline-block(baseline);
  //    color: $color-text-secondary-assist;
  //  }
  //
  //}

  // main view
  .fixed-protocol {

    .fixedpro-info {
      overflow: hidden;
      position: relative;
      zoom: 1;

      .fixedpro-left {
        float: left;
        height: 200px;
        margin-right: 40px;
        position: relative;
        width: 930px;

        .fixedpro-logo {
          background: $whi-carinsurdetail;
          border: 1px solid $panel-border-color;
          float: left;
          height: 196px;
          width: 264px;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .fixedpro-summary {
          float: left;
          margin: 0 0 0 40px;
          width: 620px;

          p {
            border-top: 1px dotted $border-color;
            min-height: 36px;
            margin: 0;

            span {
              color: $gray;
              display: inline-block;
              padding: 9px 0;
              width: 150px;
            }

            .summay-val {
              margin-left: 36px;
              color: $blue-carinsurdetail;
              width: 420px;
            }

            .feerate-color {
              color: $orange-carinsurdetail;
            }

            &:last-child {
              border-bottom: 1px dotted $border-color;
            }
          }
        }

      }

      .fixedpro-right {
        background: $w-carinsurdetail;
        border: 1px solid $w2-carinsurdetail;
        float: left;
        height: 196px;
        //padding: 18px;
        padding: 40px 18px 68px 18px; // 修改
        width: 208px;

        //.protcolscore-comp {
        //  height: 60px;
        //}

        .customer-satisfaction {
          .cussatif-key {
            color: $blue-carinsurdetail;
            display: inline-block;
            margin-right: 18px;
            width: 40px;
          }

          .cussatif-val {
            color: $blue-carinsurdetail;
            display: inline-block;
          }

          .car-amount {
            color: $orange-carinsurdetail;
            font-size: 14px;
            font-weight: bold;
            line-height: 18px;
          }

          .supplier-web {
            background: $white;
            border: 1px solid $border-color;
            height: 30px;
            line-height: 30px;
            text-align: center;
            a {
              color: $gray;
            }
          }

        }

      }

    }

    .fixedpro-extra {

      .tab {
        margin-top: 20px;
      }

      .tab-navs {
        margin: 0 0 20px 0;

        a {
          color: $black-carinsurdetail;
        }

        li {
          border: 1px solid $border-color;
          margin-right: 0;
        }

        li + li {
          border-left: 0;
        }
      }

      .table {
        tr{
          td{
            .title-div {
              height: 80px;
              border-right:dashed 1px #e7e9ea;
              line-height: 80px;
              font-size: 14px;
              font-weight: bold;
              padding-left: 40%;
              position: relative;
              img {
                position: absolute;
                left: 20%;
                top: 11px;
                width: 50px;
              }
            }
            ul {
              width: 300px;
              margin-left: 50px;
              li {
                list-style: disc;
                float: left;
                width: 150px;
              }
            }
          }
        }
      }

      .tab-contents {
        margin-bottom: 20px;
        .panel-title {
          font-weight: normal;
          font-size: 2em;
        }
        .recordList{
          tr{
            &>th,td{
              &:first-child{
                text-align: center;
              }
              &:nth-child(2){
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                padding-right: 256px;
              }
            }
          }
        }
      }

    }

  }

}
