<div class="modal qualification-check-modal">
  <div class="modal-header">
    <div class="modal-title">资质自查</div>
    <a class="close" href="javascript:void(0)">&times;</a>
  </div>
  <div class="modal-body">
    <table class="qualification">
      <thead>
        <tr>
          <th>指标项</th>
          <th>供应商满足情况</th>
          <th>自查情况</th>
        </tr>
      </thead>
      <tbody>
      {{#each this}}
        <tr>
          <td>{{checkItem}}</td>
          <td>{{memo}}</td>
          <td>
            {{#equals passed true}}
              <span class="check-result success">
              <i class="icon-zcy icon-notify-success"></i>
              符合
            </span>
            {{else}}
              <span class="check-result error">
              <i class="icon-zcy icon-roundclose"></i>
              不符合
            </span>
            {{/equals}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary close">我知道了</button>
  </div>
</div>