.product-manage-market {
    .component-body{
        .item-list {
            margin-top: 20px;
        }
    }
    .span4 {
        display: inline-block;
        width: 240px;
        vertical-align: middle;
        text-align: left;
    }
}