.service-item-manage {
  min-width: 980px;

  .category-input {
    display: inline-block;
  }
  .category-tree {
    height: auto;
    width: 160px;
    position: absolute;
    border: 1px solid #eee;
    background-color: #fff;
    max-height: 250px;
    overflow: auto;
    padding: 10px;
  }

  select {
    width: 160px;
    height: 32px;
    font-size: 16px;
    color: #24344E;
    line-height: 18px;
  }
  .service-name {
    font-size: 16px;
    font-weight: bold;
    color: #24344E;
    line-height: 32px;
  }

  .overview {
    margin-left: 20px;
    font-size: 12px;
    color: #666666;
  }
  .text-orange {
    color: #ff7900;
    margin-right: 20px;
    font-size: 16px;
  }
  .tip-info {
    float: right;
    font-size: 12px;
    color: #999999;
    .icon-zcy {
      color: #F2C200;
      vertical-align: baseline;
    }
  }

  .search-box {
    margin-top: 10px;
    border: 1px solid #CCD0D6;
    height: 54px;
    padding-top: 10px;
    label {
      margin-left: 20px;
    }
    input {
      width: 160px;
      height: 32px;
      vertical-align: bottom;
    }
    button {
      margin-right: 10px;
    }
  }

  .operations {
    margin: 10px 0;
  }
  .items-table {
    min-height: 100px;
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    thead tr {
      height: 40px;
      background: #F7F7F7;
      border: 1px solid #E7E9EA;
      th {
        font-size: 12px;
        color: #666666;
        line-height: 18px;
        font-weight: normal;
        text-align: left;
        padding-left: 10px;
        &:first-child {
          width: 30px;
        }
        &:last-child {
          text-align: right;
          padding-right: 10px;
        }
      }
    }
    tbody tr {
      height: 70px;
      background: #FFFFFF;
      border: 1px solid #E7E9EA;
      td {
        font-size: 12px;
        color: #666666;
        text-align: left;
        padding-left: 10px;
        &:first-child {
          width: 30px;
        }
        &:last-child {
          text-align: right;
          padding-right: 10px;
        }
        .regions {
          max-width: 320px;
        }
      }
    }
    tfoot tr {
      height: 60px;
      background: #F7F7F7;
      border: 1px solid #E7E9EA;
      td {
        text-align: left;
        padding-left: 10px;
        &:first-child {
          width: 30px;
        }
      }
    }
    input[type=checkbox] {
      width: 14px;
      height: 14px;
    }

    .item-image {
      width: 50px;
      height: 50px;
      border: 1px solid #DDDDDD;
      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
    .no-record {
      text-align: center;
      font-size: 12px;
      color: #999999;
    }
    .items-pagination {
      float: right;
      margin-right: 10px;
    }
  }

  .empty-body {
    padding: 100px 0;
    width: 100%;
    text-align: center;
    .img {
      width: 65px;
      height: 58px;
    }
    .tips {
      margin-top: 40px;
      font-size: 12px;
      color: #999999;
    }

  }
}

.service-setting-modal {
  width: 990px;

  .modal-header {
    .modal-title {
      margin-left: 0;
      font-size: 14px;
    }
    a {
      font-size: 18px;
    }
  }

  .service-setting {
    line-height: 26px;
    input {
      margin-right: 10px;
      vertical-align: text-top;
    }
  }
  .template-address-area {
    margin-top: 10px;
    padding-top: 20px;
    background-color: #F9F9F9;
    .service-area {
      margin-left: 20px;
      margin-bottom: -20px;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
  }
}