@import "pokeball/variables";
@import "pokeball/ext_variables";

table .icon-fujian {
  color: #bbb;
}

.table {
  width: 100%;
  border: 1px solid #e7e9ea;
  th, td {
    border-bottom: 0;
  }
  >thead {
    border-bottom: 1px solid #e7e9ea;
    >tr {
      background-color: #f7f7f7;
      height: 40px;
      color: #666666;
      font-size: 12px;
      text-align: left;
      >th {
        padding: 10px;
        font-weight: normal;
        &:first-child {
          padding-left: 10px;
          border-left: 1px solid #e7e9ea;
        }
        &:last-child {
          padding-right: 10px;
          border-right: 1px solid #e7e9ea;
        }
      }
      a {
        color: #2687d0;
      }
    }
  }
  >tbody {
    >tr {
      height: 40px;
      background-color: white;
      color: #666666;
      border-bottom: 1px solid #e7e9ea;
      >td {
        padding: 10px;
        &:first-of-type {
          padding-left: 10px;
          border-left: 1px solid #e7e9ea;
        }
        &:first-child {
          padding-left: 10px;
          border-left: 1px solid #e7e9ea;
        }
        &:last-child {
          padding-right: 10px;
          border-right: 1px solid #e7e9ea;
        }
      }
      a {
        color: #2687d0;
      }
    }
  }

  >tfoot {
    border-bottom: 1px solid #e7e9ea;
    &.aside-tfoot {
      position: fixed;
      bottom: 0;
      display: block;

      >tr {
        display: table;
      }
    }
    label, select {
      vertical-align: middle;
    }
    .selectric {
      width: 64px;
    }
    >tr {
      background-color: #f7f7f7;
      height: 40px;
      color: #666666;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
      >th {
        padding: 10px;
        font-weight: normal;
        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 10px;
        }
      }

      >td {
        padding: 10px;
        >div {
          display: inline-block;
        }

        &:not(:first-child), &:not(:last-child) {
          border-left: none;
          border-right: none;
        }
      }
    }
  }
}

.table-fixed {
  > tbody{
    > tr {
      > td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        word-wrap:normal;
      }
    }
  }
  td {
    overflow: inherit;
  }
}

.nested-table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
        text-align: left;
        border: none !important;
      }

      background-color: $table-bg-color;
    }
  }
  > thead > tr > th {
    padding: 8px 8px;
    height: $table-header-height;
    font-size: 12px;
    color: $table-header-text-color;
  }
  > tbody {
    > tr {
      > td {
        padding: 8px;
      }
      &:not(.child-row) {
        > td > .button-container > button,
        > td > button {
          background-color: $nt-row-bg-color;
          width: 100%;
          text-align: right;
        }
        height: $nt-row-height;
        background-color: $nt-row-bg-color;
        border-left: 4px solid $nt-row-border-color;

        & > td:last-child {
          border-width: 1px;
        }
        &:hover {
          background-color: $nt-row-hover-color;
          > td > .button-container > button,
          > td > button {
            background-color: $nt-row-hover-color;
          }
        }

        &.error {
          background-color: $nt-row-error-bg;
          border-left-color: $nt-row-error-border-color;

          > td {
            > .button-container > button,
            > button {
              background-color: $nt-row-error-bg;
            }
          }
        }
      }

      &.child-row {
        > td {
          padding: 0px 10px;

          > button {
            background-color: $nt-child-row-bg-color;
          }
        }
        border-width: 1px 0px;
        border-style: solid;
        border-color: #eeeeee;
        height: $nt-child-row-height;
        background-color: $nt-child-row-bg-color;

        &:hover {
          background-color: $nt-child-row-hover-color;
          > td > .button-container > button,
          > button {
            background-color: $nt-child-row-hover-color;
          }
        }
      }

      &.child-row.closed {
        background-color: #f9f9f9;
        > td,
        > td > a,
        > td > span {
          color: #bbbbbb;
        }
        button {
          display: none;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 14px;
    background-color: #FFFFFF;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: $scrollbar-thumb-color;
    border: 2px solid #FDFDFD;
  }

  ::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: $scrollbar-thumb-color-fill;
  }

  .nt-expanded {
    display: inline-block;
    -webkit-transform: rotate(-180deg);
    -moz-transform   : rotate(-180deg);
    -ms-transform    : rotate(-180deg);
    -o-transform     : rotate(-180deg);
    transform        : rotate(-180deg);
  }

  .nt-expand-btn {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    background-color: $nt-row-bg-color;
    color: $nt-expand-btn-color;

    i {
      font-size: 10px;
      font-weight: bold;
    }
  }

  .nt-operation-column {
    width: $nt-op-column-width;
    padding: 0px !important;
  }

  .button-container {
    width: 100px;
    float: right;
    text-align: right;
  }

  .child-table {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .child-table-row {
    height: auto !important;
    border-left: none !important;
  }
}

.table-tree {
  @for $i from 0 through 11 {
    .depth-#{$i} {
      text-align: left;
      padding-left: ($i+1) * 10px;
    }
  }

  .icon {
    margin-left : -12px;
    padding-right: 2px;
    padding-bottom: 3px;
  }
  .icon-trianglebottom, .icon-triangleright {
    &:hover {
      cursor : pointer;
    }
  }
}

// 抽屉表格，另一种嵌套表格的样式实现
table.drawer-table {
  width: 100%;
  table-layout:fixed;

  input[type="checkbox"] {
    margin: 0;
    padding: 0;
  }
  .text-xl {
    font-size: 19px;
  }
  .text-lg {
    font-size: 14px;
  }
  thead {
    tr {
      background:#F7F7F7;
      height:32px;
      font-size:12px;
      color:#999999;
      line-height:18px;
      text-align:left;
      text-decoration: none;
      border:1px solid #E7E9EA;
      border-left: 4px solid #F7F7F7;
      th {
        font-weight: normal;
        padding: 12px;
        color: #2a2d33;
        text-align: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }
    }
  }
  tbody {
    tr.level1 {
      background:#F3F6F9;
      border:1px solid #E7E9EA;
      border-left:4px solid #B6BFCC;
      border-top: 0;

      td {
        padding: 12px;
        font-weight: normal;
        &:first-child {
          padding-left: 12px;
        }
        &:last-child {
          padding-right: 12px;
        }
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      .drawer-btn-container {
        text-align: center;
        border-left: 1px solid #E7E9EA;
        padding: 0 !important;
        cursor: pointer;
        &:hover {
          background-color: white;
        }
        transition:         background-color 0.2s, border-color 0.2s, color 0.2s;
        -moz-transition:    background-color 0.2s, border-color 0.2s, color 0.2s;
        -webkit-transition: background-color 0.2s, border-color 0.2s, color 0.2s;
        -o-transition:      background-color 0.2s, border-color 0.2s, color 0.2s;
        span,i {
          font-size: 10px;
        }
      }
    }
    tr.level2 {
      >td {
        >.drawer-panel {
          display: none;
          margin: 0 -1px 0 -2px;
          padding: 0 1px 0 2px;
          max-height: 200px;
          overflow-y: auto;
          border:{
            left: 1px solid #E7E9EA;
            right: 1px solid #E7E9EA;
          }
          table {
            width: 100%;
            table-layout:fixed;

            tbody {
              tr {
                height: 40px;
                td {
                  padding: {
                    left: 12px;
                    right: 12px;
                  }
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  word-break: break-all;
                  &:first-child {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
        padding: 0;
      }

    }
  }

  tfoot {
    border: 1px solid #e7e9ea;
    border-left:0;
    border-top:0;
    &.aside-tfoot {
      position: fixed;
      bottom: 0;
      display: block;
      border-top: 1px solid #e7e9ea;
      >tr {
        display: table;
        >td {
          &.checkbox-container {
            width: 40px;
          }
        }
      }
    }
    label, select {
      vertical-align: middle;
    }
    label {
      line-height: 32px;
    }
    .selectric {
      width: 64px;
      label {
        line-height: 1.2em;
      }
    }
    >tr {
      background-color: #f7f7f7;
      height: 40px;
      color: #222222;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
      >th {
        font-weight: normal;
      }

      >td {
        &.checkbox-container {
          padding: 0;
          div {
            width: 100%;
            height: 100%;
            background-color: #f7f7f7;
            border-left: 1px solid #E7E9EA;
            border-bottom: 1px solid #F7F7F7;
            margin-left: -4px;
            line-height: 54px;
            input[type="checkbox"] {
              margin: 21px 0 0 5px;
            }
          }
        }
        padding: 10px;
        >div {
          display: inline-block;
        }
      }
    }
  }
}
