@import "pokeball/theme";
@import "compass/css3/inline-block";

.ceiling {
  .hide {
    display: none;
  }

  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #666;
  background-color: $light-background-color;

  a {
    color: #666;
  }

  .navbar-header {
    span.box {
      margin-right: 12px;
      a:hover {
        color: #197aff;
      }
    }

    i {
      vertical-align: baseline;
      color: #0876FF;
      margin-right: 3px;
    }

    .home-page {
      i {
        font-size: 14px;
      }
    }

    .administrative-divisions {
      i {
        position: relative;
        top: 1px;
        margin-right: -3px;
      }

      .user-region-show {
        color: #666;
      }
    }

    #js-user-action {
      a {
        color: #0876FF;
      }
    }
  }

  .navbar-right, .user-info {
    * {
      color: #666 !important;
    }
    i {
      font-size: 12px;
    }

    li {
      position: relative;
      overflow: visible !important;
      padding: 9px 8px !important;
      &.no-options {
        height: 30px;
        a {
          color: #666 !important;
          &:hover {
            color: #0876FF !important;
          }
        }
      }
      &.more-options {
        height: 30px;
        &:hover {
          background-color: #fff !important;
          border: 1px solid #eee;
          border-bottom: 0;
          padding: 8px 7px 9px 7px !important;
          transition: initial;
        }
        .select-box {
          position: absolute;
          background-color: #fff;
          border: 1px solid #eee;
          border-top: 0;
          top: 29px;
          min-width: 80px;
          display: none;
          left: -1px;
          z-index: 100;
          &.last {
            left: -99px;
            padding: 10px;
            a {
              margin-right: 8px;
            }
            .title {
              cursor:auto;
              color:#197AFF !important;
            }
          }
          a {
            display: block;
            text-align: left;
            margin-left: 8px;
            &:hover {
              color: #0876FF;
            }
          }
          span {
            line-height: 30px;
            display: block;
            &:hover {
              background-color: #f5f5f5;
            }
          }
          .content-box {
            display: inline-block;
            &.right {
              vertical-align: top;
            }
            .title {
              font-weight: bold;
              &:hover {
                background-color: #fff;
              }
            }
          }
        }
      }
      &.active {
        a {
          color: #197AFF;
        }
      }
      a {
        &.logout-href {
          color: #197AFF;
        }
      }
    }
  }

  .user-info {
    li {
      padding: 10px 8px !important;
      &.more-options {
        &:hover {
          padding: 9px 7px 10px 7px !important;
        }
        .select-box {
          width: 119px;
        }
      }
    }
  }
  .popover {
    &.block-tip {
      margin-right: 10px;
    }
  }
}

.user-region-modal {
  .location-switch-form {
    .address-select-group {
      @include inline-block(middle);
      width: 400px;
    }

    select,
    .selectric {
      width: 120px;
    }

    .selectric-wrapper.empty {
      .selectric {
        border-color: $color-danger;
      }
    }

    .selectric-hide {
      display: none;
    }
  }
}