.uploadFile {
  display: inline-block;
  position: relative;
  .update-btn {
    margin-bottom: 5px;
    width: 90px;
    height: 32px;
  }
  .btn-upload {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 90px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
  }
  .deleteFile {
    font-size: 16px;
    color: #999999;
    display: none;
    line-height: 15px;
  }
  .progress-err {
    color: #ff2200;
  }
  .fileName{
    color: #666666;
    cursor: pointer;
  }
  .fileSize{
    color: #999999;
  }
  .fileResize{
    color: #999999;
  }
  .icon-fujian{
    font-size: 12px;
    line-height: 15px;
  }
  .fileMsg {
    max-width: 430px;
    line-height: 25px;
  }
  .fileRow {
    margin-bottom: 3px;
  }
  .fileMsg:hover {
    background: rgba(24,121,255,0.05);
    .deleteFile {
      display: inline-block;
    }
  }
  .fileMsgErr:hover {
    background: #fffaf8;
  }
}
