{{#partial "realTitle"}}采购人中心{{/partial}}
{{#partial "realBody"}}
  <div name="{{json _USER_}}"></div>
  <h3 class="left-text"><strong>{{i18n "Dear" bundle="all_mix"}} {{_USER_.name}}，{{i18n "Welcome back" bundle="all_mix"}}！</strong></h3>
{{/partial}}
{{> user_layout}}
