{{#if DATA.hasRole}}
  <div class="often-goods-tab clearfix">
    <ul class="clearfix mod-tab">
      <li class="active">
        <a href="javascript:;" data-role="">我的常购商品<span>(72)</span></a>
      </li>
      <li>
        <a href="javascript:;" data-role="">我关注的店铺<span>(34)</span></a>
      </li>
    </ul>
    <div class="goods-common-search">
      <input type="text" name="" placeholder="宝贝搜索">
      <button class="btn btn-search"><i class="icon-zcy icon-search"></i></button>
    </div>
  </div>
  <div class="often-goods-wrap">
    <div class="goods-list-category clearfix">
      <span class="active">全部</span>
      <span>笔记本电脑</span>
      <span>办公用品</span>
    </div>
    <div class="often-goods-list">
      <div class="jSpin hide">
        {{inject "common/wc-spin"}}
      </div>
      <div class="jOftenList">

      </div>
    </div>
  </div>
{{else}}
  <div class="has-no-authority">
    <div class="clearfix no-author">
      <img src="/lunatone/assets/images/other-images/noAuthority.png" class="pull-left" alt="">
      <div class="tip-info pull-left">
        <h2>抱歉，您权限不足！</h2>
        <div class="info-text">“我的关注”模块暂时只针对经办人开放，可通过“我的常购商品”和“我关注的供应商”进行选品<br>
          若您是经办人，请联系机构管理员配置权限
        </div>
        <div><a href="/" class="btn">去首页看看</a></div>
      </div>
    </div>
  </div>
{{/if}}