@import "compass/css3/inline-block";
@import "pokeball/theme";

.item-publish {
  margin-bottom: 20px;

  &.item-check-detail{
      input:not(.xxx),select:not(.xxx){
          background: #f5f5f5 !important;
          border: 0 !important;
      }
      .selectric{
          background: #f5f5f5 !important;
      }
  }

  .inline {
    display: inline-block;
  }

  .wd-300 {
    width: 300px;
  }

  .section-title {
    @include inline-block(middle);
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .delivery-list-area {
    padding: 20px 10px;
    margin: 0;
    list-style-type: none;
  }

  .delivery-template {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
    padding-left: 10px;
  }

  .group-content.error {
    .selectric {
      border-color: $color-danger;
    }
  }
  .line-h-32 {
    line-height: 32px;
  }
}

.sa_span{
    display: inline-block;
    line-height: 32px;
    height: 32px;
}
.product-detail-warp {
  display: none;
  .detail-box {
    width: 90%;
    background: #f7f7f7;
  }
}

.item-publish.product-log-warp {
  background: #fff;
  padding: 20px 0;
}

.product-log-warp {
  .log-box {
    width: 90%;
    background: #f7f7f7;
    padding:20px 30px;
    ul{
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 10px 0 10px 50px;
        position: relative;
        font-size: 12px;
        color:#666;
        div {
          display: inline-block;
          float: left;
        }
        .log-time{
          width: 150px;
        }
        .log-company {
          width: 110px;
        }
        .log-name {
          width: 110px;
        }
        .log-message {
          width: 120px;
        }
        .log-explain {
          width: 200px;
        }
        .text-overflow{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 15px;
        }
        div[data-type="0"] {
          color: #55C857;
        }
        div[data-type="1"] {
          color: #FC832A;
        }
        span.mark {
          display: block;
          width: 10px;
          height: 10px;
          border: solid 1px #CCD0D6;
          border-radius: 50%;
          position: absolute;
          top: 14px;
          left: 20px;
          background: #fff;
          &:after {
            content: '';
            display: block;
            width: 2px;
            height: 29px;
            position: relative;
            top: 8px;
            left: 3px;
            background-color: #ccd0d6;
          }
        }
        &:last-child {
          span.mark {
            border: solid 1px #2D88CD;
            background: #2D88CD;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
.auditing-warp {
  .auditing-title {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    display:block;
    width:100%;
    background: #545A6A;
    color:#fff;
  }
  .auditing-box {
    background: #fff;
    padding: 20px 0 20px 60px;
    .auditing-title-s {
      margin-right: 15px;
      color:#999;
    }
    .auditing-result {
      .result-box {
        ul.result-radio {
          li {
            display: inline-block;
            float: left;
            label {
              margin-right: 20px;
              color: #333;
              cursor: pointer;
              input {
                margin-right: 5px;
              }
            }
          }
        }
        .result-content {
          color: #999;
          padding:10px 0;
          span.next-item {
            padding: 6px 5px;
            display: inline-block;
            width: 100px;
            border: solid 1px #ccd0d6;
            color: #333;
          }
          .selectric-wrapper {
            position: relative;
            top: -2px;
          }
          .selectric {
            width: 150px;
          }
        }
      }
    }
    .auditing-opinion {
      .opinion-box {
        width: 600px;
        max-height:200px;
        border: solid 1px #ccd0d6;
        .opinion-box-header {
          background: #f7f7f7;
          padding: 5px;
          border-bottom: solid 1px #ccd0d6;
          span {
            float: right;
            position: relative;
            top: 6px;
            right: 5px;
          }
        }
        .opinion-edit-box {
          height:155px;
          position: relative;
          textarea {
            border:0;
            width: 100%;
            height: 100%;
            max-height: 155px;
            max-width: 598px;
          }
          .font-num－box {
            position: absolute;
            right: 5px;
            bottom: 5px;
            color: #999;
          }
        }
      }
    }
    .btn-box {
      margin-top:20px;
      div {
        float: left;
        cursor: pointer;
        padding: 5px 20px;
        &.submit-btn {
          background: #237EFB;
          border: solid 1px #237EFB;
          color: #fff;
          margin:0 20px 0 75px;
        }
        &.cancel-btn {
          background:#f7f7f7;
          color: #666;
          border: solid 1px #ccd0d6;
        }
      }
    }
  }
}