<div class="modal js-user-region-modal user-region-modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h2>切换区划</h2>
  </div>
  <form method="post" class="form form-aligned location-switch-form">
    <div class="modal-body">
      <div class="control-group">
        <label for="">当前区划:</label>
        <span>{{districtName}}</span>
      </div>
      <div class="control-group">
        <label for="">切换至:</label>
        <div class="address-select-group">
          <select name="provinceId" class="address-select" data-level="1">
            <option value="" class="">请选择</option>
          </select>
          &nbsp;
          <select name="cityId" class="address-select hide" data-level="2">
            <option value="" class="">请选择</option>
          </select>
          &nbsp;
          <select name="regionId" class="address-select hide" data-level="3">
            <option value="" class="">请选择</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info btn-medium close" type="button">{{i18n "Cancel" bundle="all_mix"}}</button>
      &nbsp;
      <button class="btn btn-primay btn-medium js-switch-region" type="submit">{{i18n "Confirm" bundle="all_mix"}}</button>
    </div>
  </form>
</div>
