@import "compass/css3/inline-block";
@import "pokeball/theme";
@import "compass/css3/box-sizing";

$width: 200px;

.nav-eevee {
  min-height:30px;
  .nav-categorys {
    background: #F4F3F4;
    .first-category{
      background:#eee;
      font-size: 16px;
      padding: 15px 0;
      text-align:center;
      color:#666;
      cursor:pointer;
      &:hover{
        color:#0876FF;
      }
      span{
        vertical-align: middle;
        margin-left:5px;
        cursor:pointer;
      }
      i{
        cursor:pointer;
      }
    }
    .child-second-category{
      padding:10px 0;
      display:none;
    }
    .category-li {
      position: relative;
      padding-left: 25px;
      height: 30px;
      line-height: 30px;
      list-style: none;
      color: #24344E;
      &:hover {
        background: #197AFF;
        color: #FFF;
        .expand-category{
          display:block;
        }
      }

      .child-category {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .nav-categorys-container {
      padding: 0;
      .first-category-li{
        border-top:1px solid #ccc;
        &:first-child{
          border:none;
        }
      }
    }

    .expand-panel {
      .expand-category {
        display:none;
        position: absolute;
        padding: 5px 15px;
        top: 0;
        width: 720px;
        z-index: 999;
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: 0 0 5px #ddd;
        li {
          height: 42px;
          line-height: 42px;
          float: left;
          padding: 0 10px;
          list-style: none;
          font-weight: bold;
          a {
            color: #666;
          }
        }
      }
    }
  }
}