<div class="modal item-check-modal">
	  <div class="modal-header">
	    <div class="modal-title">{{#if title}}{{title}}{{else}}商品审核{{/if}}</div>
	    <a href="javascript:;" class="close pull-right">&times;</a>
	  </div>
	    <div class="modal-body">
					{{#with item}}
					<div class="item-info">
						<label>商品标题：</label>
						<span class="item-name">{{itemName}}</span>
					</div>
					<div class="price-change"></div>
					{{/with}}
	        <div class="audit-result">
	          <label><b class="required">*</b>审核结果：</label>
	          <input type="radio" name="passed" class="input-radio" value="true" checked><span class="ml-xs text-muted">通过</span>
            <input type="radio" name="passed" class="input-radio" value="false"><span class="ml-xs text-muted">不通过</span>
	        </div>
	        <div class="first_check">
	          <label>&nbsp;</label>
	          <span>下一环节进入终审,&nbsp;&nbsp;执行人</span>
	          <select name="" id="nextOperatorId">
	          	<option value="">请选择</option>
	          </select>
	        </div>
	        <div class="audit-comment">
	       	  <label for="js-goods-mark"><b class="required">*</b>审核意见：</label>
	          <textarea id="js-examine-reason" name="comment" placeholder="请输入审核意见" required></textarea>
	        </div>
	    </div>
	    <div class="modal-footer">
	    		<button class="btn btn-info btn-medium close" type="button">取消</button>&nbsp;
	      	<button class="btn btn-primary btn-medium js-examine-submit" type="button" disabled>提交</button>
	    </div>
	</div>