.sr-flowLog {

  table {
    width: auto;
    td{
      padding-top: 0;
      padding-bottom: 20px;
      padding-right: 20px;

      vertical-align: top;

      max-width: 450px;
      height: 42px;

      &:first-child {
        position: relative;
        padding-right: 10px;
      }
    }

    .sr-line {
      position: absolute;
      left: 6px;
      top: 14px;
      bottom: 0;
      width: 1px;
      height: 100%;
      border-left: 2px solid #ccd0d6;
      margin-bottom: 0;
      margin-left: 0;
      margin-top: 0;

      &.line-dashed {
        border-left-style: dashed;
      }
    }
  }

  margin-top: 16px;
  /* margin-bottom: 16px; */
  span.danger{
    color:#ff2200
  }
  span.success{
    color:#2DC12D
  }
  .sr-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    float: left;
    border: 2px solid #e5e9ee;
    margin-top: 3px;
    &.dot-success {
      border-color: #2dc12d;
      background-color: #2dc12d;
    }
    &.dot-danger {
      border-color: #ff2200;
      background-color: #ff2200;
    }
    &.dot-primary {
      border-color: #197aff;
      background-color: #197aff;
    }
    &.dot-muted {
      border-color: #e5e9ee;
      /* background-color: #e5e9ee; */
    }
  }
  .sr-line {
    width:1px;
    height: 30px;
    border-left: 2px solid #ccd0d6;
    margin-bottom: -3px;
    margin-left: 5px;
    margin-top: -1px;
    &.line-dashed {
      border-left-style: dashed;
    }
  }
}
