@import "compass/css3/inline-block";
@import "pokeball/theme";
@import "compass/css3/box-sizing";
.items-search-list{
  a{color: inherit;}

  .more-options {
    margin: 0;
  }
  .more-dd {
    margin: 0 10px 0 5px;
    float: right;

    i {
      color: $color-text-secondary-assist;
    }
  }

  .items-total{
    line-height: 30px;
    float: right;
  }

  .current-location-dark{
    padding: 10px 0;
    font-size: 14px;
  }
  .print-btn {
    height: 30px;
    width: 127px;
    border: 1px solid #0476FB;
    font-size: 14px;
    color: #24344E;
    margin-right: 20px;
    &:hover {
      color: #FFF;
      background-color: #0476FB;
    }
  }

  .current-location-span{
    height: 30px;
    line-height: 28px;
    i{
      @include inline-block(baseline);
      margin-left: 5px;
      color: $color-text-secondary-assist;

      &.chosen-close{
        @include inline-block(bottom);
      }
    }

    .bread-selector {
      @include inline-block(middle);
      background-color: #fff;
      border: 1px solid #e6e6e6;
      padding: 3px 10px 3px 6px;
      margin-right: 6px;

      &:hover {
        border-color:  #3366ff;
      }
    }
  }

  .nav-group dl {
    padding: 0;

    dt, dd {
      vertical-align: top;
    }

    dt {
      width: 110px;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .list-more {
      dd {
        width: auto;
        margin: 0 20px;
      }
    }

    dd {
      button {
        margin-top: 4px;
      }
    }
  }

  .attr-list,
  .brand-list,
  .categories-list,
  .catalogs-list{
    @include inline-block(middle);
    width: 910px;
    margin-top: 1px;
    overflow: hidden;

    .brand-buttons{
      text-align: center;
      padding-bottom: 10px;
    }
  }

  &.hall-search {
    .attr-list,
    .brand-list,
    .categories-list,
    .catalogs-list {
      width: 660px;
    }

    .filter {
      .filter-form {
        width: 650px;
      }
    }
  }

  .categories-list{
    overflow: hidden;
  }

  .js-more{
    color: $navy;
    text-decoration: none;
    margin-right: 8px;
    &:hover{
      text-decoration: none;
    }
  }

  .s-more {
    text-align: center;
    height: 36px;
    line-height: 36px;
    top: -1px;
    position: relative;
    border-top: 1px solid $color-border-dark;

    .sm-wrap {
      position: relative;
      display: inline-block;
      margin-top: -1px;
      height: 28px;
      line-height: 28px;
      padding: 0 40px 0 20px;
      border-width: 1px;
      border-style: solid;
      border-color: $white $color-border-dark $color-border-dark;
      background: $white;
      cursor: pointer;
      color: $default-front-body-color;
      -webkit-transition: border-color .15s ease-in-out;
      -moz-transition: border-color .15s ease-in-out;
      transition: border-color .15s ease-in-out;
    }
    .sm-text {
      margin-right: 5px;
    }
  }

  .dd-cancel {
    label {
      color: $color-text;
    }
  }

  .list-more.active{
    overflow: auto;
    max-height: 102px;
  }

  .category-nav{
    margin-bottom: 10px;
    padding: 5px 0 0 20px;
    border: 1px solid $color-border;

    .list-more {
      height: 33px;
    }

    .sl-text {
      dd {
        width: auto;
      }
    }
  }

  .filter{
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    background: #F5F5F5;
    border: 1px solid #E6E6E6;
    .filter-banner{
      @include inline-block(middle);
      i{
        font-size: 12px;
        margin-left: 10px;
        &.icon-barrowdown12{
          @include inline-block(middle);
        }
      }
    }
    .js-item-sort{
      vertical-align: baseline;
    }
    .filter-form{
      width: 750px;
      @include inline-block(middle);
      margin-left: 10px;
      /* 2016.11.28 修改*/
      fieldset {
        padding: 1px 0;
        .span3{
          width: auto;
         &:hover{
           height: 38px;
           box-shadow: 0 2px 8px #000000;
           opacity: 1;
           border: #D8D8D8 1px;
           background-color: #FFFFFF;
           padding-left: 10px;
           padding-right: 10px;
           #js-price-range{
               display: inline-block;
               margin-left: 10px;
               width: 48px;
               height: 28px;
             }
           }
          #js-price-range {
            display: none;
            width: auto;
          }
          label{
            margin: 0;
            padding: 0;
          }
        }
        #forins{
          display: inline-block;
          width: 10px;
          text-align: center;
        }
      }
      input[type="number"].input-small.p_f, input[type="number"].input-small.p_t{
        width: 70px!important;
        height: 28px!important;
      }
    }
    .view-mode {
      &-type {
        line-height: 40px;
        width: 60px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        &.active {
          background: #fff;
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6;
          color: #197AFF;
        }
      }
    }
  }
  .list{
    margin-top: 10px;
    li{
      height:330px;
      &.product{
        .product-desc{
          margin-bottom:0;
        }
        .product-owner{
          top:306px;
        }
        .sign-show{
          display:block;
          span{
            float:left;
            margin-top:2px;
            margin-left:3px;
            &.jsQualityLabel{
              float:right;
              margin-top:0;
              &.hide{
                display:none;
              }
            }
          }
        }

      }
      &:hover {
        box-shadow: 0 0 1px #000;
        border: 0;
      }

      .check-select{
        position: absolute;
        i{
          font-size: 20px;
          color: $color-secondary;
        }
        &.active{
          i{
            color: $color-danger;
          }
        }
      }
      .add-cart{
        float: right;
        margin-right: 20px;
        i{
          font-size: 30px;
          color: black;
        }
      }
    }

    &.view-list {
      .view-mode-thumb {
        display: none;
      }
      .view-mode-list {
        display: table;
      }
    }

    .view-mode-thumb {
      display: table;
    }
    .view-mode-list {
      thead {
        > tr {
          background: #fff;
        }
      }
      tbody {
        > tr {
          &.odd {
            background: #F5F5F5;
          }
          &.even {
            background: #fff;
          }
          a {
            color: #333;
            font-style: normal;
            &:hover {
              color: #197AFF;
            }
          }
        }
      }

      display: none;
    }
  }

  .product-owner{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
  }

  .insert-compare {
    position: absolute;
    right: 10px;
    bottom: 4px;

    .compare-checkbox {
      float: right;
      margin: 2px 0 0 10px;
    }
  }

  .list-pagination{
    width: 100%;
    padding: 25px 0;
    text-align: center;
  }
  .disappear{
    display: none;
  }

  .product-desc em {
    color: $color-danger;
  }

  .sale-volume {
    float: right;
  }
  .list-pagination{
    text-align: right;
    font-size: 14px;
  }
}
.supplier-no-goods {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  img{
    width: 309px;
    height: 287px;
    margin-right: 20px;
    vertical-align: middle;
  }
  span{
    height: 34px;
    font-size: 24px;
    width: 280px;
  }


}
