<div class="form-section clearfix">
  <div class="section-title">
    自定义属性
  </div>
  <div class="pull-left section-content">
    <div class="category-attribute attribute-area js-attribute-area">
      <ul class="attribute-list clearfix attribute-data"
          id="js-category-attribute-list" style="min-height: 20px;"
        {{#each _DATA_}}
          {{#equals group "USER_DEFINED"}}
          data-attr="{{json categoryAttributes}}"
          {{/equals}}
        {{/each}}>
        {{#each _DATA_}}
          {{#equals group "USER_DEFINED"}}
            {{#each categoryAttributes}}
              {{> component:seller/item_publish/common/other_templates/_attribute_container}}
            {{/each}}
          {{/equals}}
        {{/each}}
      </ul>
      <div class="new-attribute-area">
        <a id="js-extend-attribute" class="js-attribute-new label-align-btn" href="javascript:void(0);">添加属性</a>
      </div>
    </div>
  </div>
</div>