<div class="date-interval-picker-{{name}}">
  <input class="js-date-start date-input"
         type="text"
         placeholder='{{startHolder}}'> -
  <input class="js-date-end date-input"
         type="text"
         placeholder='{{endHolder}}'>
</div>