@import "pokeball/theme";
@import "compass/css3/inline-block";
@import "icons";

.product-self {
  .product-information-ul {
    border: 1px solid $color-border;
    border-bottom: 0;

    .product-li {
      border-bottom: 1px solid $color-border;
      line-height: 40px;
      padding: 0 10px;

      &:first-child {
        background-color: #eee;
        border-bottom: 0;
      }

      .title {
        color: #9F9F9F;
      }
    }
  }
}
.modal-evaluation {
  .evaluation-star-part {
    width: 220px;
  }

  .order-border-ul {
    width: 280px;

    .order-evaluation-li {
      padding-bottom: 20px;
    }

    .right-star {
      @include inline-block();
      margin-left: 10px;
    }
  }

  .left-title {
    @include inline-block();
    width: 65px;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    text-align: right;
  }

  .btn-image {
    margin-left: 6px;

    span {width: 70px; height: 70px; line-height:70px;}
  }

  .dash-devide {
    @include inline-block();
    height: 90px;
    margin-left: 40px;
    border-left: 1px dashed $color-border;
  }

  .image-location, .image-show-evaluation{
      position: relative;
      left: 200px;
      width: 500px;
      top: -95px;
      margin-left: 70px;

    img {
      @include inline-block();
      width: 100px;
      height: 90px;
      background-size: 100% 100%;
      margin-top: 3px;
      margin-right: 10px;
    }
  }

  .image-only-select {
    left: 10px;
    top: -15px;
  }

  .rating-cancel {float:left;width:0px;height:0px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;}
  .star-rating {float:left;width:16px;height:16px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;}
  .star-rating a {display:block;width:16px;height:16px;border:0;}
  .star-rating  {
    &.star-rating-hover a {@extend .icon-star-big-active;}
    &.star-rating-on a {@extend .icon-star-big-active;}
    a  {
      @extend .icon-star-big-cancel;
    }
  }

  .entire-star {
    margin-right: 8px;
  }


  .btn-small {
    margin: 0px 20px 15px 6px;
  }
  .nocancel {
    background-color:#3366ff;
    color:white;
  }
  .short-title {
    padding: 0 20px 0 20px !important;
    border-bottom: 1px solid $color-border-dark;
    .modal-tile {
      line-height: 50px;
    }
    a {
      cursor: pointer;
      line-height: 50px;
      margin-top: 0;
      font-weight: 600;
    }
  }

  .evaluation-modal {

    padding: 20px;

    .right-star {
      @include inline-block();
      margin-left: 10px;
    }

    .divide-dashed-evalaution {
      height: 1px;
      margin: 10px 0;
      border-top: 1px dashed $color-border;
    }

    .appraise {
      margin-bottom: 10px;

      .input-fivehundred-content {
        margin-left: 70px;
        margin-top: -20px;

        textarea {
          height: 120px;
          resize:none;
          width: 450px;
          margin-left:9px;
        }
      }

      .appraise-content {
        margin-left: 10px;
        word-break: break-all;
      }
    }

    .delete-add-photo-item {
      border-top: 1px solid $color-border-light;
      padding-top: 10px;

      .delete-add-photo-left {
        margin-left: 75px;
        margin-top: -27px;
      }

      .image-show-evaluation {
        .image-single{
          position: relative;
          @include inline-block();
          width: 100px;
          .icon-shanchu {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .change-image-single {

          &:hover {
            .icon-shanchu {
              @include inline-block();
              &:hover {cursor: pointer;}
            }
          }
        }
      }

    }

    .add-title {
      position: relative;
      @include inline-block();
      width: 65px;
      line-height: 12px;
      padding-top: 9px;
      padding-bottom: 15px;
      text-align: right;
    }
  }
}
