<div id="receiptModal" class="modal" style="display:none">
  <div>
    <div class="modal-header">
    <span>确认收货</span>
    <i class="icon-zcy icon-close pull-right close"></i>
    </div>
    <div class="modal-body" style="min-width:500px;">
      <div style="margin-top: 50px;">
        <span>备 注：</span>
        <textarea name="receiptModalRemark" id="" cols="30" rows="10" style="width:260px;height: 60px;" placeholder="请输入"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary btn-medium close">取消</button>
      <button class="btn  btn-primary btn-medium" id="receiptSave">确认收货</button>
      
    </div>
  </div>
</div>