<div class="modal">
    <div class="modal-header" style="width:550px;">
      <span>删除失败</span>
      <a href="javascript:;" class="close pull-right">x</a>
    </div>
      <div class="modal-body">
        <div style="padding-left: 50px;">
          <div>
            <i class="icon-pokeball icon-pokeball-notify-error"></i><h2 class="modal-title">失败提示</h2>
         </div>
         <div>
           <label for="js-goods-mark" style="margin-bottom: 20px;width: 45px;"></label>
           <span>该品牌下有商品,不可删除</span>
         </div>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-info btn-medium close" type="button">确定</button>
      </div>
  </div>