@import "pokeball/theme";
@import "compass/css3/inline-block";

.component-select-product {
  width: 1190px;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: white;

  .pull-more-right {
      padding-left: 20px;
      width: 115px;
      @include inline-block();
      border-right: 1px dashed $color-border-dark;
      line-height: 60px;
      color: $color-border-dark;
      font-weight: 900;

    }
  .product-img {
    @include inline-block();
    margin-left: 10px;
    width: 60px;
    height: 60px;
  }

  .number-product {
    background-color: $color-background;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: $color-border-dark;
    font-weight: 900;
  }
  .close-compare {
    width: 20px;
    background-color: $color-background;
    float: right;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;

    .icon-close {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .product-contrast-select {
    border: 1px solid $color-border;
    height: 100%;
  }

  .product-contrast-li {
    @include inline-block();
    padding: 20px 0;
    width: 210px;
    .delect-selected {display: none;}
    &:hover {
      .delect-selected {@include inline-block();}
    }
    .sale-details{
      @include inline-block();
      margin-top: 4px;
      height: 16px !important;
    }

    strong {
      line-height: 60px;
    }

    &:first-child {
      background-color: $color-background;
      text-align: center;
      border-right: 1px solid $color-border;
    }

    .right-detail {
      width: 120px;
      @include inline-block();
      border-right: 1px dashed $color-border-dark;
      padding: 0 5px;

      span {
        @include inline-block();
        overflow: hidden;
        height: 30px;
        text-overflow: ellipsis;
        font-size: 12px;
        line-height: 14px;
      }
    }



  }

  .select-function {
    width: 110px;

    .btn-small {
      color: white;
      background-color: #3366FF;
      text-align: center;
      padding: 0px 16px !important;
      margin-left: 22px;
    }

    .empty-product {
      margin-top: 5px;
      background-color: white;
      color: black;
      border: 1px solid $color-border-dark;
    }
  }
}

.hide-mydefine {
  display: none !important;
}
