<li class="template-item template-address-area js-template-item" data-id="{{id}}">
  <div class="template-container active">
    <div class="template-main clearfix">
      <div class="template-info">
        <p>
          <span class="edit-status">新建发货区域模板</span>
          <input type="text" name="name" {{#if name}}value="{{name}}"{{/if}} placeholder="新建发货区域模板" class="js-template-name save-status">
          <a href="javascript:void(0)"><i class="icon-zcy icon-edit"></i></a>
        </p>
        <p class="template-area js-template-area">

        </p>
      </div>
      <div class="template-operation">
        <button class="btn btn-minor btn-small js-delete-template btn-right">删除</button>
        <button class="btn btn-primary btn-small js-save-template btn-right">保存</button>
      </div>
    </div>
  </div>
  {{> "seller/area_select/templates/_province_list"}}
</li>
