.delivery-address-picker {
  .address-table{
    display: table;
    width: 1000px;
    padding: 0;
    .address-block {
      position: relative;
      vertical-align: bottom;
      margin:10px 10px 10px 0px;
      border: 1px solid #ccd0d6;
      line-height: 20px;
      padding: 10px;
      width: 240px;
      height: 100px;
      display: inline-block;
      font-size: 12px;
      .contact-person {
        font-size: 13px;
        height: 20px;
        white-space: nowrap;
        .name {
          vertical-align: bottom;
          display: inline-block;
          max-width: 60px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      .address-detail {
        height: 40px;
        overflow: hidden;
      }
      .additions {
        font-size: 10px;
        .text-info {
          color: #666666;
        }
      }
      .active-sign {
        display: none;
      }
      .hover-sign {
        display: none;
      }
    }

    .address-block.active {
      border: 1px solid #197aff;
      .angle {
        font-size: 8px;
        line-height: 8px;
        padding: 0;
        width: 0;
        height: 0;
        border-width: 10px 10px;
        border-color: transparent #197aff #197aff transparent;
        border-style: dashed solid solid dashed;
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .active-sign {
        display: inline-block;
      }
    }
    .address-block:hover {
      border: 1px solid #197aff;
      .hover-sign {
        display: inline;
      }
    }
    .extra {
      display: none;
    }

    .foot-operations a {
      margin-right: 10px;
      .expand-all {
        width: 80px;
        display: block;
      }
    }
    .foot-operations .manage-address{
      float: right;
      margin-right: 20px;
    }
  }
}

.delivery-address-edit {
  .address-table {
    textarea {
      width: 400px;
      height: 60px;
      resize: none;
    }
    .hint-text {
      color: #666666;
    }
  }
}