{{!-- {{#partial "category_item"}} --}}
<li class="divide-li" data-category="{{pp this}}" id="{{id}}">
  <div class="normal-status">
    <span class="operate-span">
      <button class="btn btn-mini operate-status js-edit-category"><i class="icon-pencil"></i></button>
      {{#equals hasChild "false"}}<button class="btn btn-mini operate-status js-delete-category"><i class="icon-trash"></i></button>{{/equals}}
    </span>
    {{#equals hasChild "true"}}<i class="icon-mewtwo icon-mewtwo-right next"></i>{{/equals}}
    <a href="javascript:void(0);" class="item-pop"><span>{{name}}</span></a>
  </div>
  <form class="form category-edit-form update-category-group " style="display: none;" onkeydown="if(event.keyCode==13){return false;}">
    <div class="input-group input-group-append input-medium">
      <input type="text" class="update-category-input form-control" name="name" >
      <span class="input-group-btn">
        <button class="btn btn-success js-update-category" type="button">{{i18n "Edit" bundle="all_mix"}}</button>
      </span>
    </div>
  </form>
</li>
{{!-- {{/partial}} --}}

