{{#component ""}}
{{!-- 
{
  "cancelProposer":"型号",
  "cancelReason":"品牌",
  "cancelTime":"品牌",
  "contacts":"品牌",
} 
--}}
<section>
  <h2>采购失败原因</h2>
  <table class="table table-fixed table-fixed-ie8">
    <tbody>
      <tr>
        <td>撤销申请人</td>
        <td>{{cancelProposer}}</td>
      </tr>
      <tr>
        <td>撤销理由</td>
        <td>{{cancelReason}}</td>
      </tr>
      <tr>
        <td>撤销时间</td>
        <td>{{formatDate cancelTime}}</td>
      </tr>
      <tr>
        <td>联系电话</td>
        <td>{{contacts}}</td>
      </tr>
    </tbody>
  </table>
</section>
{{/component}}