@import "compass/css3/inline-block";
@import "pokeball/theme";

div.pur-detail{
  //width: 990px;
  .icon-warningfill{
    color:#aaa;
    margin-left:2px;
    margin-top:-2px;
    cursor:pointer;
    &:hover{
      color:#197AFF;
    }
  }
  .btn-print{
    float: right;
    margin-top: 16px;
  }
  .pur-detail-body{
    //background-color: #FFFFFF;
    //padding: 15px;
    margin: 10px 0 0 0;
    .pur-title{
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
      &.pur-detail-about-title{
        margin-top: 0px;
        margin-bottom: 10px;
      }
    }
    .receiver-mulit-payments{
      margin-top: 10px;
    }
    .pur-all-payments{
      margin-top: 20px;
      table{
        margin-top: 10px;
        border-width: 0 !important;
        tr{
          border-width: 0 !important;
        }
        td{
          border-width: 0 !important;
          background-color: #F7F7F7  !important;
        }
      }
    }
    .timeline{
      margin: 10px;
    }
    table{
      //width: 960px;

      tbody{
        tr{
          border: 1px solid #e7e9ea;
          td{
            text-align: left;
            border-width: 0 0 1px 0;
            padding-top: 10px;
            padding-bottom: 10px;
            &:first-child{
              border-width: 0 0 1px 1px;
            }
            &:last-child{
              border-width: 0 1px 1px 0;
              text-align: right;
            }
            &.no-border{
              border-width: 0;
              padding: 10px;
            }
          }
          &.first-level-tr{
            border-width: 0 0 1px 2px;
          }
          &.second-level-tr{
            display: none;
          }
          &.no-border{
            border-width: 0;
          }
        }
      }
    }
    .price, .currency, .css-price{
      color: #FE7800;
    }
    .no-href{
      color: #9E9E9C;
    }
    .pur-detail-about{
      table{
        border-width: 0;
        .td{
          border-width: 0;
        }
      }
    }
    .pur-checklog{
      border: 1px solid #CCC;
      margin-top: 10px;
      .checklog-title{
        padding: 10px;
        background-color: #EFEFEF;
      }
      .checklog-body{
        text-align: center;
        overflow: auto;
      }
    }
  }
  .confirm-order-foot{
    margin-top: 10px;
    .pur-result{
      padding: 0 10px;
      margin-top: -2px;
      float: right;
      .pur-cancel{
        margin: 0 20px 0 20px;
      }
    }
  }

  .red-text{
    color: #FF2300;
  }
  .green-text {
    color: #00B22D;
  }
  .purchase-plan-no {
    padding: 5px;
  }
  .item-catalog {
    text-overflow: ellipsis;
    padding: 0 20px 0 0;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    max-height: 20px;
    display: inline-block;
  }
}
.modal-order-confirm{
  width:350px;

  .modal-body{
    min-height: 118px;
    h6{
      margin: 0;
      padding: 0;
      color: #9f9f9f;
      font-size: 12px;
      font-weight: 300;
    }
  }
  .modal-footer{
    padding: 10px 20px 12px 20px;
  }

}