.component-headerSearch{
  .eveComponts-text{
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    text-align: left;
    white-space: normal;
    width: 80px;
    margin-top: 68px;
    margin-left: 10px;
  }
  .eve-newConpont{
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    text-align: left;
    margin-left: 0;
    white-space: normal;
  }
  .supplier-eve{
    padding: 25px 0;
  }
  .supplier-eve-msg{
    margin: 0 85px 0 13px;
  }
  .supplier-eve-search{
    margin-top: 7px;
  }
}