<div class="modal">
	  <div class="modal-header" style="width:550px;">
	    <span>品牌提交审核</span>
	    <a href="javascript:;" class="close pull-right">x</a>
	  </div>
	    <div class="modal-body">
	      <div style="padding-left: 50px;">
	      	<div>
	          <i class="icon-confirm"></i><h2 class="freeze-title">确认提交审核</h2>
	       </div>
	      </div>
	    </div>
	    <div class="modal-footer">
	    		<button class="btn btn-info btn-medium close" type="button">取消</button>
	    		&nbsp;
	      	<button class="btn btn-primary btn-medium js-examine-submit" type="button">提交</button>
	    </div>
	</div>