@import "pokeball/theme";

$nav-portal-height: 50px;
$nav-other-portal-height: 30px;
$nav-other-portal-width: 170px;

$sidebar-item-font-size: 14px;

$nav-icon-width : 40px;
$nav-icon-height: 40px;
$nav-header-icon-width : 20px;

$nav-scrollbar-width: 20px;

$nav-collapsed-width : $nav-icon-width;
$nav-collapsed-height: $nav-icon-height;

$nav-width       : 180px;

$nav-title-width : $nav-width;
$nav-title-height: 46px;
$nav-title-bg    : #353644;

$nav-list-height    : 40px;
$nav-list-bg        : $sidebar-bgcolor;
$nav-list-font-color: #E0E0E0;

$subnav-margin-left: $nav-icon-width + 10px;
$subnav-list-width : $nav-width - $subnav-margin-left;

$nav-floating-panel-font-color: #5D5F69;

$nav-collapsed-floating: 180px;

$scrollbar-thumb-color: #C3C5CA;

.sidebar {
	::-webkit-scrollbar {
		width: 10px;
		background-color: $sidebar-bgcolor;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		background-color: $scrollbar-thumb-color;
		opacity: 0.6;
	}

	::-webkit-scrollbar-thumb:hover {
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		background-color: $scrollbar-thumb-color;
		opacity: 1;
	}

	height: 100%;


	div.sidebar {
		width: $nav-width;
		overflow-x: hidden;
		overflow-y: auto;
		display: inline-block;
		background-color: $sidebar-bgcolor;
		padding-top:$header-height;
		position: relative;
	}

	div.sidebar * {
		list-style: none;
		font-size: 14px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	  margin: 0px;
	  padding: 0px;
	  color: white;
	}

	/* IE8 */
	.sidebar {
		padding-top:$header-height;
	}

	.btn-collapse {
		height: $foot-height;
		width: $nav-width;
		background-color: $nav-title-bg;
		border: 1px inset #979797;
		color: black;

		position: absolute;
		left: 0;
		bottom: 0;

		&:active {
			border: 1px outset #979797;
		}
	}

	.nav-title {
		background-color: $nav-title-bg;
		opacity: 1;
		border-radius: 0px;
		width: $nav-title-width;
		height: $nav-title-height;
	}

	.nav-title .nav-icon {
		width  : $nav-icon-width;
		height : $nav-icon-height;
		float: left;
	}

	.nav-title .nav-header {
		width: $nav-width - $nav-icon-width - $nav-scrollbar-width;
		height: $nav-title-height;
		float: left;

		label {
			font-size: 16px;
			position: relative;
			top: 15px;
			left: 0;
		}
	}

	.nav-list {
		height: $nav-list-height;
		overflow: hidden;
	}

	.nav-list .nav-icon {
		width  : $nav-icon-width;
		height : $nav-icon-height;
		float: left;

		em, i {
			position: relative;
			top: ($nav-icon-height - $icon-size) / 2;
			left: ($nav-icon-width - $icon-size) / 2;
			font-size: 16px;
		}
	}

	.nav-list .nav-list-header {
		height: $nav-list-height;
		color : #adb1b6;

		&:hover {
			background-color: #545a6b;
			label {
				color: #FFFFFF;
			}
		}

		&.selected .nav-header label {
			color: #FFFFFF;
		}
	}

	.nav-list .nav-header {
		width: $nav-width - $nav-icon-width - $nav-scrollbar-width;
		height: $nav-list-height;
		float: left;

		label {
			width: $nav-width - $nav-icon-width - $nav-header-icon-width - $nav-scrollbar-width;
			position: relative;
			top: ($nav-list-height - $sidebar-item-font-size) / 2;
			left: 0;
			font-family: 'Microsoft YaHei';
			font-size: 14px;
			color: #ADB1B6;
			line-height: 18px;
		}

		span {
			width: $nav-header-icon-width;
			height: $nav-list-height;
			position: absolute;
			right: 10px;
			text-align: center;

			em, i {
				position: relative;
				top: 14px;
				left: 0;
				font-size: 9px;
				color: #999999;

				&:hover {
					color: #bbbbbb;
				}
			}
		}
	}

	.subnav-list {
		width: $nav-width;
		height: $nav-list-height;
	}

	.subnav-list .subnav-list-header {
		height: 100%;

		&:hover {
			background-color: #545a6b;
			label {
				color: #FFFFFF;
			}
		}

		&.selected {
			label {
				color: #FFFFFF;
			}
		}

		label {
			position: relative;
			top: ($nav-list-height - $sidebar-item-font-size) / 2;
			left: $subnav-margin-left;
			font-family: 'Microsoft YaHei';
			font-size: 14px;
			color: #8B8B90;
			line-height: 18px;
		}
	}

	.selected {
		background-color: #545a6b;
	}

	.subnav-list .subnav-list-body {
		height: 0;
		width: 0;
		overflow: hidden;
	}

	.subnav-list .floating-panel-open {
		height: auto;
		width: $nav-title-width;
		line-height: 1.5em;
	}

	.subnav-list .floating-panel-open .nav-leaf-item {
		background-color: #FFFFFF;
		height: $nav-list-height;

		&:hover {
			background-color: #F0F0F0;
		}

		label {
			color: $nav-floating-panel-font-color;
			position: relative;
			top: ($nav-list-height - $sidebar-item-font-size) / 2;
			left: 18px;
		}
	}

	.nav-open, .subnav-open {
		height: auto;
		width: auto;
		display: block;

		-webkit-transition: all 1s linear;
			 -moz-transition: all 1s linear;
				-ms-transition: all 1s linear;
				 -o-transition: all 1s linear;
						transition: all 1s linear;

		span i {

			-webkit-transform: rotate(-180deg);
			   -moz-transform: rotate(-180deg);
			    -ms-transform: rotate(-180deg);
			     -o-transform: rotate(-180deg);
			        transform: rotate(-180deg);
		}
	}

	.nav-collapsed {
			width: $nav-collapsed-width;
			height: $nav-collapsed-height;
			overflow: hidden;
	}

	.nav-collapsed-open {
		opacity: 1;
		height: auto;
		width: $nav-title-width;
	}

	.nav-floating {
		width: 0;
		height: 0;
		background-color: #FFFFFF;
		color: black;
		font-size: 14px;
		list-style: none;

		-webkit-transition: width .5s linear;
		   -moz-transition: width .5s linear;
		    -ms-transition: width .5s linear;
		     -o-transition: width .5s linear;
		        transition: width .5s linear;

		* {
			list-style: none;
		}
	}

	.nav-floating .nav-list {
		height: auto;
	}

	.nav-floating .nav-list .nav-list-header {
		border-bottom: 1px solid #545a6b;

		&:hover {
			background-color: #FFFFFF;
		}

		.nav-icon {
			display: none;
		}

		.nav-header {
			label {
				position: relative;
				left: 18px;
				top: ($nav-list-height - $sidebar-item-font-size) / 2;
				color: #545a6b;
			}
		}
	}

	.nav-floating .nav-list .nav-list-body {
		height: auto;

		* {
			color: #272938;
		}
	}

	.nav-floating .nav-list .nav-list-body .subnav-list {
		background-color: #FFFFFF;
		height: auto;
	}

	.nav-floating .nav-list .nav-list-body .subnav-list .subnav-list-header {
		height: $nav-list-height;

		&:hover {
			background-color: #F0F0F0;
		}

		label {
			position: relative;
			left: 18px;
			top: ($nav-list-height - $sidebar-item-font-size) / 2;
		}
	}

	.nav-floating .nav-list .nav-list-body .subnav-list .subnav-list-body {
		height: auto;
		width: auto;

		.nav-leaf-item {
			height: $nav-list-height;

			&:hover {
				background-color: #F0F0F0;
			}

			label {
				position: relative;
				left: 28px;
				top: ($nav-list-height - $sidebar-item-font-size) / 2;
			}
		}
	}

	.nav-floating-open {
		width: $nav-width - $nav-icon-width;
		height: 100%;
		overflow-x: hidden;
		line-height: 1.5em;
		border: 1px solid #F0F0F0;

		-webkit-transition: width .5s linear;
		   -moz-transition: width .5s linear;
		    -ms-transition: width .5s linear;
		     -o-transition: width .5s linear;
		        transition: width .5s linear;
	}

	.sidebar-portal {
		width: $sidebar-width;
		overflow: hidden;
		padding-top: 60px\9;
		.portal-item {
			height: $nav-portal-height;
			font-size: 14px;

			&:hover {
				background-color: #545a6b;
			}

			.portal-expand-icon {
				width: $nav-icon-width;
				height: $nav-portal-height;
				position: absolute;
		    right: 0px;
		    padding-top: ($nav-portal-height - $sidebar-item-font-size) / 2;
				text-align: center;
			}
		}

		.portal-icon {
			width: $nav-icon-width;
			height: $nav-portal-height;

			em {
				height: $nav-portal-height;
				font-size: 20px;
				color: #197aff;
				position: relative;
				left: 15px;
				top: 18px;
			}
		}

		.portal-title {
			width: $nav-width - $nav-icon-width;
			height: $nav-portal-height;
			position: relative;
			font-size: 14px;
			line-height: 14px;
			padding-left: 22px;
			color: #ADB1B6;
			top: 5px;
		}

		.other-portals {
			background-color: #FFFFFF;
			z-index: 10;
			position: absolute;
			width: $nav-other-portal-width;
			margin: 0px 5px;

			.portal-title {
				width: $nav-other-portal-width - $nav-icon-width;
				float: left;
				font-size: 14px;
				color: #4a4a4a;
				position: static;
				height: $nav-other-portal-height;
				line-height: $nav-other-portal-height;
			}

			.portal-icon {
				width: $nav-icon-width;
				height: $nav-other-portal-height;
				float: left;
				position: relative;

				em {
					font-size: 20px;
					color: #197aff;
				}

				.portal-dot {
					width: 8px;
					height: 8px;
					border: 4px;
					border-radius: 4px;
					background-color: black;
					margin: 0 auto;
					vertical-align: middle;
					position: absolute;
					top: 11px;
					left: 21px;
				}
			}

			.portal-item:hover {
				background-color: #D8D8D8;
			}

			.portal-item {
				height: 30px;
			}
		}
	}

	.hidden {
		display: none;
	}

	.other-portal-show {
		height: auto;

		i {
			-webkit-transform: rotate(-180deg);
			   -moz-transform: rotate(-180deg);
			    -ms-transform: rotate(-180deg);
			     -o-transform: rotate(-180deg);
			        transform: rotate(-180deg);
		}
	}
}
