{{#component "component-goods-supplierSearch-list js-comp"}}
    <div class="js-search-list">
        {{!-- <div class="wc-spin spin-large hide">
            <div class="wc-spin-circle-bg"></div>
            <div class="wc-spin-circle">
                <div class="wc-spin-circle-mask"></div>
            </div>
            <div class="wc-spin-icon"><i class="icon-zcy icon-zcy-logo"></i></div>
        </div> --}}
    </div>
    <div class="hide storeUserInfo" data-user-info="{{json _USER_}}"></div>
    <div class="hide storeHrefInfo" data-href-info="{{json _HREF_}}"></div>
{{/component}}
