{{#partial "realTitle"}}{{i18n "Seller Center " bundle="all_mix"}}{{/partial}}
{{#partial "realBody"}}
  <h3 class="left-text"><strong>{{i18n "Dear" bundle="all_mix"}} {{_USER_.nickname}}，{{i18n "Welcome back" bundle="all_mix"}}！</strong></h3>
{{/partial}}
{{> user_layout}}
