{{#partial "realTitle"}}商品管理-普通商品管理{{/partial}}
{{#partial "realBody"}}
    {{#inject "common/breadcrumb"}}
        {
        "breadcrumb":
        [{
        "crumb": "商品管理",
        "url": "#"
        },
        {
        "crumb": "普通商品管理",
        "url": "#"
        }],
        "menuPath": "/seller/product-manage"
        }
    {{/inject}}
    {{!--
    <div class="product-manage b-right">
        <a class="btn btn-minor" href="/seller/release-items?ptype=6">网超预发商品发布</a>
    </div>
    --}}
    <div class="product-manage b-right">
        <a class="btn btn-minor" href="/seller/release-items?ptype=1">普通商品发布</a>
    </div>
    {{inject "seller/product_manage"}}
{{/partial}}
{{> user_layout}}
