<div class="modal">
	  <div class="modal-header" style="width:550px;">
	    <span>商品审核</span>
	    <a href="javascript:;" class="close pull-right">x</a>
	  </div>
	    <div class="modal-body">
	      <div style="padding-left: 50px;">
	      	<div>
	          <i class="icon-confirm"></i><h2 class="freeze-title">审核商品</h2>
	        </div>
	        <div>
	          <label for="" style="margin-bottom: 20px;width: 70px;"><b class="required">*</b>审核结果：</label>
	          <input type="radio" name="passed" value="true" checked><span class="ml-xs text-muted">通过</span>
              <input type="radio" name="passed" value="false" class="ml"><span class="ml-xs text-muted">不通过</span>
	        </div>
	        <div>
	       	  <label for="js-goods-mark" style="margin-bottom: 20px;width: 70px;"><b class="required">*</b>审核意见：</label>
	          <textarea id="js-examine-reason" name="comment" placeholder="请输入审核理由" style="height:150px;width: 336px;" required></textarea>
	        </div>
	      </div>
	    </div>
	    <div class="modal-footer">
	    		<button class="btn btn-info btn-medium close" type="button">取消</button>
	    		&nbsp;
	      	<button class="btn btn-primary btn-medium js-examine-submit" type="button" disabled>提交</button>
	    </div>
	</div>