<table>
  <tbody>
  <tr>
    <td>
      大厅适配域名：
    </td>
    <td>
      <input type="text" name="hallhref" />
    </td>
  </tr>
  <tr>
    <td>
      大厅名称：
    </td>
    <td>
      <input type="text" name="hallname" />
    </td>
  </tr>
  </tbody>
</table>