{{#equals type 'line'}}
  <div class="editor-config-panel">
    <h1>选项</h1>
    <div class="editor-config-panel-container">
      <div class="editor-config-toolbar">
        <div>
          <a> 设为全网</a>
          <a> 设为全站</a>
          <a class="setRouter"> 设置作用域</a>
        </div>
        <div>
          <a class="addAllComps"> 增加组件</a>
          <a class="addRow"> 增加行</a>
        </div>

      </div>

      <ul class="editor-config-parts">
        <li>
          <h2>搜索栏热词</h2>
          <p>搜索栏热词推荐组件。</p>
          <div class="field-group" data-description="组件宽度，单位像素">
            <span class="field-group-label">宽度:</span><span class="field-group-content">887</span>
          </div>
          <div class="field-group" data-description="组件高度，单位像素">
            <span class="field-group-label">高度:</span><span class="field-group-content">90</span>
          </div>
        </li>
        <li>
          <form action="" data-scope="base">
            <h2>基础设置</h2>
            <div class="field-group" data-description="将容器或组件，及其所包含的内容全部隐藏" data-name="hide">
              <span class="field-group-label">隐藏:</span><span class="field-group-content">
            <label><input type="checkbox" name="hide" value="true"></label>
          </span>
            </div>
            <div class="field-group" data-description="组件设置" data-name="">
          <span class="field-group-content">
          </span>
            </div>
            <div class="field-group" data-description="元素与上边元素之间的距离" data-name="margin-top">
              <span class="field-group-label">上边距:</span><span class="field-group-content">
            <input type="text" name="margin-top" value="0" class="small">
          </span>
            </div>
            <div class="field-group" data-description="元素与下边元素之间的距离" data-name="margin-bottom">
              <span class="field-group-label">下边距:</span><span class="field-group-content">
            <input type="text" name="margin-bottom" value="0" class="small">
          </span>
            </div>
            <div class="field-group" data-description="组件在父元素中的对齐位置" data-name="component-align">
              <span class="field-group-label">对齐:</span><span class="field-group-content">
              <label><input type="radio" name="component-align" value="eve-align-default" checked="">默认</label>
              <label><input type="radio" name="component-align" value="eve-align-center">居中</label>
              <label><input type="radio" name="component-align" value="eve-align-right">居右</label>
          </span>
            </div>
            <div class="field-group" data-description="元素与左边元素之间的距离" data-name="margin-left">
              <span class="field-group-label">左边距:</span><span class="field-group-content">
    <input type="text" name="margin-left" value="0" class="small">
  </span>
            </div>
            <div class="field-group" data-description="元素与右边元素之间的距离" data-name="margin-right">
              <span class="field-group-label">右边距:</span><span class="field-group-content">
    <input type="text" name="margin-right" value="0" class="small">
  </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
  {{else}}
  <div class="editor-config-panel">
    <h1>选项</h1>
    <div class="editor-config-panel-container">
      <div class="editor-config-toolbar">
        <div>
          <a> 设为全网</a>
          <a> 设为全站</a>
          <a class="setRouter"> 设置作用域</a>
        </div>
        <div>
          <a class="addComps"> 增加组件</a>
          <a class="deleComs"> 删除组件</a>
        </div>
      </div>

      <ul class="editor-config-parts">
        <li>
          <h2>搜索栏热词</h2>
          <p>搜索栏热词推荐组件。</p>
          <div class="field-group" data-description="组件宽度，单位像素">
            <span class="field-group-label">宽度:</span><span class="field-group-content">887</span>
          </div>
          <div class="field-group" data-description="组件高度，单位像素">
            <span class="field-group-label">高度:</span><span class="field-group-content">90</span>
          </div>
        </li>
        <li>
          <form action="" data-scope="base">
            <h2>基础设置</h2>
            <div class="field-group" data-description="将容器或组件，及其所包含的内容全部隐藏" data-name="hide">
              <span class="field-group-label">隐藏:</span><span class="field-group-content">
            <label><input type="checkbox" name="hide" value="true"></label>
          </span>
            </div>
            <div class="field-group" data-description="组件设置" data-name="">
          <span class="field-group-content">
          </span>
            </div>
            <div class="field-group" data-description="元素与上边元素之间的距离" data-name="margin-top">
              <span class="field-group-label">上边距:</span><span class="field-group-content">
            <input type="text" name="margin-top" value="0" class="small">
          </span>
            </div>
            <div class="field-group" data-description="元素与下边元素之间的距离" data-name="margin-bottom">
              <span class="field-group-label">下边距:</span><span class="field-group-content">
            <input type="text" name="margin-bottom" value="0" class="small">
          </span>
            </div>
            <div class="field-group" data-description="组件在父元素中的对齐位置" data-name="component-align">
              <span class="field-group-label">对齐:</span><span class="field-group-content">
              <label><input type="radio" name="component-align" value="eve-align-default" checked="">默认</label>
              <label><input type="radio" name="component-align" value="eve-align-center">居中</label>
              <label><input type="radio" name="component-align" value="eve-align-right">居右</label>
          </span>
            </div>
            <div class="field-group" data-description="元素与左边元素之间的距离" data-name="margin-left">
              <span class="field-group-label">左边距:</span><span class="field-group-content">
    <input type="text" name="margin-left" value="0" class="small">
  </span>
            </div>
            <div class="field-group" data-description="元素与右边元素之间的距离" data-name="margin-right">
              <span class="field-group-label">右边距:</span><span class="field-group-content">
    <input type="text" name="margin-right" value="0" class="small">
  </span>
            </div>
          </form>
        </li>
        <li>
          <form action="" data-scope="ext">
            <h2>组件设置</h2>
            <div class="field-group" data-description="可输入多个热词 中间用空格分隔 最多可输入7个" data-name="hotwords">
              <span class="field-group-label">热词:</span><span class="field-group-content">
            <input type="text" name="hotwords" value="硒鼓 打印纸 中性笔 墨粉 墨盒 粉盒 移动硬盘">
          </span>
            </div>
            <div class="field-group" data-description="搜索框宽度，不能小于350" data-name="width">
              <span class="field-group-label">组件宽度:</span><span class="field-group-content">
            <input type="text" name="width" value="530">
          </span>
            </div>
            <div class="field-group" data-description="为热词选择展示位置" data-name="position">
              <span class="field-group-label">热词位置:</span><span class="field-group-content">
              <label><input type="radio" name="position" value="up">搜索框上面</label>
              <label><input type="radio" name="position" value="down" checked="">搜索框下面</label>
          </span>
            </div>
            <div class="field-group" data-description="针对类目查询，该类目id会添加作为查询参数，多个逗号分隔" data-name="fcid">
              <span class="field-group-label">特定类目:</span><span class="field-group-content">
            <input type="text" name="fcid" value="">
          </span>
            </div>
            <div class="field-group" data-description="搜索按钮名称，默认为搜索" data-name="searchBtn">
              <span class="field-group-label">搜索按钮名:</span><span class="field-group-content">
            <input type="text" name="searchBtn" value="">
          </span>
            </div>
            <div class="field-group" data-description="点击搜索按钮跳转链接地址，默认/search" data-name="action">
              <span class="field-group-label">搜索跳转链接:</span><span class="field-group-content">
            <input type="text" name="action" value="">
          </span>
            </div>
            <div class="field-group" data-description="是否显示供应商选项" data-name="ifshowSupplier">
              <span class="field-group-label">是否显示供应商选项:</span><span class="field-group-content">
              <label><input type="radio" name="ifshowSupplier" value="true" checked="">显示</label>
              <label><input type="radio" name="ifshowSupplier" value="false">隐藏</label>
          </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
{{/equals}}