<table>
  <tbody>
  <tr>
    <td>
      作用大厅：
    </td>
    <td>
      <input type="text" name="pageid" />
    </td>
    <td>
      作用页面：
    </td>
    <td>
      <input type="text" name="pageid" />
    </td>
    <td>
      unless Page：
    </td>
    <td>
      <input type="text" name="pageid" />
    </td>
    <td class="addTD">
      <a>➕</a>
    </td>
  </tr>
  </tbody>
</table>