@import "pokeball/theme";
@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";

$color-border: #eee;

.manufacturer-elevator-floor {
  * {
    @include box-sizing(content-box);
  }

  width: 1200px;
  min-height: 200px;

  .floor-body {
    padding: 0;
  }

  .floor-left {
    width: 232px;
    height: 500px;
    float: left;
    background-repeat:no-repeat;
    background-position: 0% 0%;
    .floor-name {
      margin: 15px;
      font-size: 26px;
      color: #FFFFFF;
      line-height: 37px;
      height: 37px;
      font-weight: bold;
    }
    .floor-tags {
      margin-left: 15px;
      .keyWord {
        white-space: nowrap;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        background: rgba(255,255,255,0.20);
        height: 22px;
        padding: 0 4px;
        color: #ffffff;
        font-size: 12px;
        line-height: 22px;
        &:hover {
          background: #ffffff;
          color: #ff7900;
        }
      }
    }
    .floor-image {
      position: relative;

    }
  }

  .floor-products {
    margin: 10px 0 0 0;
    float: left;
    width: 968px;
  }

  .products-list {
    width: 968px;
    padding: 0 10px;

    .product-item {
      width: 240px;
      height: 240px;
      text-align: center;
      margin-top: 4px;
      a{
        display:inline-block;
      }
    }

    .product-image {
      width: 150px;
      height: 150px;
      overflow: hidden;
      img {
        max-width: 150px;
        max-height: 150px;
        &:hover{
          transform: scale(1.05);
        }
      }
    }

    .product-info {
      text-align: left;
      width: 165px;
    }

    .product-name {
      color: #333;
      font-size: 14px;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .product-price {
      color: $navy;
      font-size: 14px;

      span {
        font-size: 14px;
        color:#ff4100;
        font-weight:bold;
      }
    }

    .product-sale {
      color: $navy;
    }
  }

  .floor-brands {
    float: left;
    width: 1200px;
    height: 100px;
  }

  .brands-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    color: $navy;
  }

  .brand-list {
    width: 1200px;
    height: 100px;
    .brand-item {
      width: 150px;
      padding: 10px 0;
      overflow: hidden;
      text-align: center;
      image {
        width: 134px;
        height: 60px;
      }
      img{
        &:hover{
          transform: scale(1.05);
        }
      }
    }

    p {
      color: $navy;
      margin-bottom: 0;
    }

    .brand-name {
      word-break: break-all;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    img {
      max-width: 134px;
      max-height: 60px;
    }
  }

  ol {
    list-style-type: none;
    margin: 0;

    li {
      float: left;
    }

    .seperator-line {
      margin: 0 -10px;
      float: left;
      width: 968px;
      height: 1px;
      background: #EEEEEE;
    }
  }
}
