
.common-navigation{
    .nav-container {
        zoom: 1;
        &:after {
            clear:both;
            content:'.';
            display:block;
            width: 0;
            height: 0;
            visibility:hidden;
        }
        .box {
            padding: 10px 8px 9px 12px;
            float: left;
            margin: 0 6px;
            &.underline {
                border-bottom-width: 3px;
                border-bottom-style: solid;
                border-bottom-color: rgb(1, 106, 230);
            }
        }
    }
}