@import "compass/css3/inline-block";
@import "pokeball/theme";
@import "icons";
@import "font";

div.spu-tab{
  // width: 980px;
  // border: 1px solid $color-border;
  .spu-params {
    border: 1px solid $color-border;
    .more-par {
      padding-right: 20px;
    }
  }
  .spu-info {
    border: none;
  }

  .tab-navs {

    .active {
      margin: 0 -1px 0 -2px;
    }
    li {
      border-right: 1px solid $color-border-dark;
      &.active a {
        padding: 9px 35px 12px 35px;
        border-left: 0;
        border-right: 0;
        &:hover {border-left: 0;border-right: 0;}
      }
      a {
        border-left: 0;
        border-right: 0;
        text-align: center;
        color: inherit;
        padding: 12px 35px;
        background-color: $color-background;

        &:hover {
          background-color: inherit;
        }
      }
    }
  }
  .tab-content{
    margin-top: 0;
    background-color: white;
    position: relative;
    overflow: hidden;
    .list-pagination{
      width: 100%;
      height: 40px;
      text-align: center;
    }

    img {
      width: 100%;
    }
  }
  .record-list{
    padding:20px;
    table{
      width:100%;
      thead{
        border-bottom: 1px solid #ccd0d6;
        td{
          padding-left:10px;
          &:first-child{
            padding-left:20px;
          }
        }
        tr{
          background-color: #f7f7f7;
          border:1px solid #ccd0d6;
          height: 40px;
          color: #666666;
          font-size: 12px;
          text-align: left;
        }
      }
    tbody{
      tr{
        border:1px solid #ccd0d6;
        height:40px;
        td{
          padding-left:10px;
          &:first-child{
            padding-left:20px;
          }
          &.price{
            color:#ff7900;
          }
        }
      }
    }
      tfoot{
        tr{
          height:60px;
          background:#f7f7f7;
          border:1px solid #ccd0d6;
        }
        .pagination{
          margin-right:20px;
        }
      }
    }
  }
  .package-list{
    padding: 20px 20px !important;

    .attribute-tab {
      border-top: 1px solid $color-border;
      border-left: 1px solid $color-border;
      width: 100%;

      .attribute-title {
        background-color: $color-background;
        padding: 0 10px;
      }

      th,td {
        height: 32px;
        padding: 0 10px;
        text-align: left;
        border-right: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
      }

      .main-parameter {
        width: 190px;
      }
    }
  }

  .user-description {
    padding-left: 40px;
    padding-top: 20px;
    background-color: white;

    li {
      padding-left: 0 !important;
    }

    ul {
      background-color: transparent;
    }

    .custumer-agree {
      position: relative;
      margin-bottom:40px;
    }

    .agree-span {
      line-height: 10px;
      font-size: 12px;
    }

    .agree-grade {
      font-size: 40px !important;
      color: #ff7300;
      position: absolute;
      margin-top: 10px;
    }

    .tip-grade {
      position: relative;
      text-align: center;
      bottom: 25px;
      width: 30px;
      line-height: 20px;
      font-size: 18px;
      color: white;
      background-color: #ff7300;
      left: -14px;
    }

    .arrow-down {
      position: relative;
      bottom: 25px;
      width: 0;
      left: -3px;
      border-top: 4px solid #ff7300;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      z-index: 9;
    }

    .descrip-tab {
      width: 900px;
      margin-top: 65px;

      .oddColor {
        background-color: white;
      }

      .evenColor {
        background-color: $color-background;
      }

      .descrip-title {
        padding-left: 20px;
        background-color: $color-background;
        input {
          top: 1px;
        }

        span {
          margin-right: 20px;
          line-height: 40px;
        }

        .star-total-evaluation {
          color: #3366FF;
          margin-left: 5px;
          font-size: 14px;
        }
        a {
          cursor: default;
          margin-left: 5px;
        }

        .selectric-content-descrip {
          margin-right: 6px;
          margin-top: 4px;
          float: right;
        }
      }

      .list-comment {

        td {
          padding-top: 10px;
        }

        .toggle-icon {
          float: right;
        }

        .content-span {
          @include inline-block(middle);
          margin-bottom: 10px;
          max-width: 565px;
          word-break: break-all;
        }

        img {
          width: 50px;
          height: 50px;
          margin: 5px 5px  5px 0;
        }
      }
    }

    .location-grade-heng {
      position: relative;
      width: 425px;
      left: 200px;
      height: 15px;
      top: 18px;

      .bar-show {
        position: absolute !important;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: $color-border-dark;

        .bar-show-li {
          margin-right: 0;
          padding: 0 !important;
          margin-bottom: 0 !important;
          height: 100%;
          width: 20%;
          list-style: none;
          float: left;
        }
      }
    }
  }
}
