<ul class="products-list clearfix" data-items="">

  {{#each DATA}}
    {{#gt ../showNo @index }}
      <li class="product-item">
        <a href="/items/{{itemId}}?searchType=1">
          <div class="product-image" style="background-image:url('{{cdnPath mainImage "330w"}}')"></div>
          <div class="product-info">
            <p class="product-name">{{itemName}}</p>
            <p class="product-price">
              <span class="currency">￥{{formatPrice lowPrice 0}}</span>
            </p>
          </div>
        </a>
      </li>
    {{/gt}}
  {{/each}}
</ul>