@import "compass/css3/inline-block";
@import "pokeball/theme";

div.pur-process-requisition-items{
  //width: 990px;
  background-color: #FFFFFF;
  //padding: 15px;
  margin: 0;
  table{
    //width: 960px;
    thead{
      tr{
        background-color: #F7F7F7;
        color: #9F9F9F;
        th{
          text-align: left;
          border: 1px solid $color-border;
          border-width: 0 0 1px 0;
          &:first-child{
            border-width: 0 0 1px 1px;
          }
          &:last-child{
            border-width: 0 1px 1px 0;
            text-align: right;
          }
        }
      }
    }
    tbody{
      tr{
        border: 1px solid #e7e9ea;
        td{
          text-align: left;
          border-width: 0 0 1px 0;
          &:first-child{
            border-width: 0 0 1px 1px;
          }
          &:last-child{
            border-width: 0 1px 1px 0;
            text-align: right;
          }
          .sku-attrs{
            color: #BBB;
          }
        }
        &.first-level-tr{
          border-width: 0 0 1px 2px;
        }
        &.second-level-tr{
          display: none;
        }
      }
    }
  }
  .hide{
    display: none;
  }
  .price, .currency{
    color: #FE7800;
  }
  .no-href{
    color: #9E9E9C;
  }
  .red-text{
    color: #FF2300;
  }
  .req-title{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .list-pagination {
    text-align: right;
    margin: 10px 0 10px 0;
  }
}




