.ZCY-eevee-comp-often-goods{
  .often-goods-search{
    .search-wrap{
      position:relative;
      float:left;
      width:60px;
      height:36px;
      line-height:36px;
      background: #fff;
      text-align:center;
      border-right: 1px solid #F5F5F5;
      &:hover{
        ul{
          display:block;
        }
        span{
          i.down{
            display:inline-block;
          }
          i.up{
            display:none;
          }
        }
      }
      span{
        display:block;
        height:36px;
        font-size: 12px;
        color: #999;
        a{
          color:inherit;
        }
        i{
          font-size: 12px;
        }
        .down{
          display:none;
        }
      }
      ul{
        position:absolute;
        width: 100%;
        left: 0;
        background: #fff;
        border-bottom: 1px solid #f5f5f5;
        display:none;
        li{
          height: 25px;
          line-height: 25px;
          cursor: pointer;
          color: #999;
          padding-left: 13px;
          text-align:left;
          &:hover,&.active{
            background:#f5f5f5;
          }
        }
      }
    }
    .input-group-btn{
      .goods-search{
        padding: 11px 18px;
        background: #F9F9F9;
        font-size: 16px;
        color: #0876FF;
        margin-left: -4px;
        vertical-align: bottom;
      }
    }
  }
  .input-wrap{
    position:relative;
    padding-left:30px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    vertical-align: bottom;
    background: #fff;
    i{
      position:absolute;
      left:9px;
      color:#ddd;
    }
    input{
      border: none;
      width: 100%;
    }
    .search-input{
      line-height: 1;
      height: inherit;
    }
  }
}