{{#component "js-comp brands-floor"}}
  <input type="hidden" class="js-brands-id" value="{{brandList}}">
  <input type="hidden" class="js-env-href" value="{{json _ENV_HREF_}}">
  <div class="list-header">
    <span class="icon"></span>
    <span class="name">{{floorName}}</span>
  </div>
  <div class="list-body">
    <div class="brands">
    </div>
  </div>
{{/component}}