.component-supperPro-main{
  .overflow-ell{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .hover-c:hover{
    cursor: pointer;
  }
  .icon-zcy{
    font-size: 12px;
    vertical-align: bottom;
  }
  .avg-up {
    color: #ff3c00;
  }
  .avg-down {
    color: #2dc12d;
  }
  .avg-cp {
    color: #ff7900;
    margin-right: -6px;
  }
  .floor-header{
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px;
    .link-more{
      font-size: 13px;
      color: #666666;
      float: right;
      margin-right: 30px;
      &:hover{
        color: #0876FF;
      }
      i{
        font-size:14px;
      }
    }
  }
  .floor-body{
    width: 1200px;
    margin-top: 20px;
    .supplier-list{
      li{
        background-color: #ffffff;
      }
      li.list-li{
        position: relative;
        width: 390px;
        height:310px;
        border: 1px solid #eeeeee;
        margin: 5px 5px 5px 0;
        display: inline-block;
        .supplier-mask{
          position: absolute;
          background-color: rgba(0, 0, 0, 0.4);
          width: 390px;
          height: 300px;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
      .supplier-title{
        width: 100%;
        background: #fff;
        position:absolute;
        height: 62px;
        overflow: hidden;
        z-index: 3;
        transition:height 0.5s;
        -moz-transition:height 0.5s; /* Firefox 4 */
        -webkit-transition:height 0.5s; /* Safari and Chrome */
        -o-transition:height 0.5s; /* Opera */
        padding: 20px 25px 0 25px;
        &:hover{
          cursor: pointer;
          height:175px;
        }
        .scale{
          //-moz-transform:scale(1.05,1.1);
          //-webkit-transform:scale(1.05,1.1);
          //-o-transform:scale(1.05,1.1);
        }
        .title-content{
          background-color: #ffffff;
          padding-top: 12px;
          height: 110px;
          color:#999999;
          ul{
            border-top: 1px dashed #dddddd;
            padding-top: 10px;
          }
          li{
            margin-bottom: 20px;
            .score-box{
              .arrow-content{
                display: inline-block;
                margin-right: 5px;
              }
            }
          }
        }
        img {
          width: 134px;
          height: 40px;
          margin-right: 10px;
        }
        .title-msg{
          display: inline-block;
          width: 184px;
          .supplier-name-show{
            font-size: 16px;
            text-overflow: ellipsis;
          }
        }
        p{
          font-size: 14px;
          overflow: hidden;
          width: 180px;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
          margin: 0;
        }
      }
      .img-box{
        position: absolute;
        word-spacing: -4px;
        top: 85px;
        z-index: 1;
        width: 100%;
        padding: 0 25px 10px 25px;
        background-color: #ffffff;
        .supplier-link{
          display: inline-block;
          position: relative;
          border: 1px solid #f8f8f8;
          &.fl-r{
            float: right;
          }
          img{
            width: 198px;
            height: 198px;
          }
          .link-info{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            top: 0;
            padding: 0 10px;
            p{
              font-size: 12px;
              &.info-p{
                height: 20px;
                overflow: hidden;
                color: #ffffff;
                text-align: center;
                margin-top: 90px;
              }
            }
          }
        }
        .show-msg{
          height: 200px;
          vertical-align: top;
          width: 132px;
          background-color: #f9f9f9;
          li{
            background: none;
            border-bottom:1px solid #eeeeee;
            padding: 10px 0;
            margin: 0 17px;
            &:last-child{
              border: 0;
            }
            p{
              margin:0;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #666666;
              line-height: 23px;
            }
            p:first-child{
              font-size: 12px;
              color: #999999;
            }
          }
        }
      }
    }
  }
  .page-title{
    background: transparent;
    height: 224px;
    width: 1200px;
    padding:48px 100px 0 0;
    .btn-tab{
      font-family: PingFangSC-Regular;
      height:30px;
      width:80px;
      text-align: center;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.51px;
      padding-top: 6px;
      &.active{
        background: #0876FF;
        border-radius: 36px;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .local-tab{
      margin-top:29px;
      ul{
        li{
          font-family: PingFangSC-Regular;
          display: inline-block;
          font-size: 16px;
          color: #FFFFFF;
          opacity: 0.7;
          letter-spacing: 0.46px;
          margin-right: 49px;
          min-width: 56px;
          line-height: 22px;
          text-align: center;
          padding-bottom: 7px;
          &.active{
            opacity: 1;
            border-bottom: 2px solid #0876FF;
          }
        }
      }
    }
  }
  .inline-block{
    display: inline-block;
  }
}