.product-manage-market {
  .component-header {
    padding: 0;
  }
  .component-body {
    .item-list {
      margin-top: 20px;
    }
  }
  .span4 {
    display: inline-block;
    width: 240px;
    vertical-align: middle;
    text-align: left;
  }
  .table > tbody > tr > td:last-child.drawer-btn-container {
    width: 20px;
    padding: 0;
    border: 1px solid #e7e9ea;
    text-align: center;
    .icon-zcy {
      color: #44454d;
      font-size: 12px;
    }
  }
  .text-ellipsis {
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .color-frizen{
    color:#F2C200;
  }
  .color-currency{
    color: #FF7900;
  }
}