.reverseHall-list {
  font-size: 14px;
  .reverse-district-tip {
    i {
      font-size: 14px;
    }
    >span {
      display: inline-block;
      height: 26px;
      line-height: 26px;
      margin: 4px;
    }
    &:after {
      display: table;
      content: '';
      overflow: hidden;
      clear: both;
    }
    .hide-code {
      display: none;
    }
  }
  .reverse-bread-title {
    float: left;
    padding-right: 10px;
  }
  .reverse-bread {
    position: relative;
    max-width: 486px;
    padding: 0 24px 0 4px;
    border: 1px solid #ccd0d6;
    // set width ...
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      border-color: #999;
    }
    i {
      vertical-align: top;
      position: absolute;
      right: 2px;
      &:hover {
        cursor: pointer;
        color: #197aff;
      }
    }
  }
  .mt {
    margin-top: 10px !important;
  }
  .mt-lg {
    margin-top: 45px !important;
  }
  .mb {
    margin-bottom: 10px !important;
  }
  .mr {
    margin-right: 10px !important;
  }
  .ml {
    margin-left: 10px !important;
  }
  .ft16 {
    font-size: 16px;
  }
  .lh15 {
    line-height: 15px;
    vertical-align: baseline;
  }
  .date-input {
    background-color: #fff !important;
  }
  //.il-search {
  //  border: 1px solid #eee;
  //  padding: 10px 20px;
  //  .search-block {
  //    padding: 5px 0;
  //    border-top: 1px dashed #eee;
  //    .clear_float {
  //      height: auto;
  //      clear: both;
  //      font-size: 0;
  //    }
  //    &:first-child {
  //      display: table;
  //      border: none;
  //    }
  //    .search-label {
  //      display: table-cell;
  //      width: 100px;
  //      line-height: 26px;
  //    }
  //    .search-content {
  //      display: table-cell;
  //      width: 1000px;
  //      .search-time {
  //        color: #333;
  //        display: inline-block;
  //        width: 90px;
  //        &:hover,
  //        &.choosed {
  //          color: #166fff;
  //        }
  //      }
  //    }
  //  }
  //}
  //
  .inject-district {
    width: 562px;
    margin: 10px auto 30px;
  }
  span.orange {
    color: #ff8100;
    font-size: 14px;
  }
  //.input-search {
  //  float: right;
  //  input {
  //    font-size: 12px;
  //    padding-right: 20px;
  //  }
  //  i {
  //    position: relative;
  //    right: -230px;
  //    cursor: pointer;
  //    &:hover {
  //      color: #166fff;
  //    }
  //  }
  //}
  table.table {
    border: none !important;
    tr,
    td,
    th,
    thead {
      border: none !important;
    }
    thead th {
      font-weight: bold;
      font-size: 14px;
      background: #fff;
    }
    tr {
      height: 52px;
      &:nth-child(2n+1) {
        background: #f8f8f8;
      }
      &:hover {
        background: #E5EDFC;
        td,
        a,
        button {
          color: #2464FF;
        }
        button {
          border: 1px solid #2464FF;
          &:hover {
            background: #2464FF;
            color: #fff;
          }
        }
      }
      th:first-child,
      td:first-child {
        padding-left: 30px;
      }
      a {
        color: #000;
        font-weight: 500;
        span {
          &:first-child {
            color: #FF7000;
          }
          &:last-child {
            font-weight: 500;
          }
        }
      }
    }
    .icon-xinxigonggao {
      font-size: 24px;
      color: #ff9100;
      &:hover {
        color: #ff6100;
      }
    }
  }
  .list-pagination {
    width: 100%;
    padding: 25px 0;
    text-align: right;
    font-size: 14px;
  }
}