@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";

.carousel-wrap {
  * {
    @include box-sizing(content-box);
  }
  position: relative;
  zoom: 1;
  min-height: 30px;

  .carousel {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: none;

    &.show {
      display: block;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .carousel-container {
      white-space: nowrap;
      font-size: 0;
      width: 100%;

      li {
        width: 100%;
        @include inline-block(none);

        &.grid-side {
          position: relative;
          zoom: 1;
          @include box-shadow(rgba(0, 0, 0, .1) 0 0 5px);

          img {
            overflow: hidden;
            @include border-radius(5px);
          }

          .name {
            @include border-radius(5px);
          }
        }

        img {
          width: 100%;
          font-size: 12px;
          text-align: center;
        }

        .name {
          font-size: 12px;
          color: #fff;
          width: 100%;
          text-align: center;
          background-color: rgba(0, 0, 0, .5);
          position: absolute;
          top: 0;
          height: 100%;
          @include opacity(1);
          @include transition(all .3s);

          &:before {
            height: 100%;
            width: 0;
            content: "";
            @include inline-block(middle);
          }

          span {
            white-space: normal;
            word-wrap: break-word;
            line-height: 1.5em;
            @include inline-block(middle);
          }
        }

        :hover {
          .name {
            @include opacity(0);
          }
        }
      }
    }
  }

  .carousel-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    li {
      width: 5px;
      height: 5px;
      margin: 0 2px;
      background-color: #999;
      @include border-radius(50%);
      @include inline-block(none);

      &.active {
        background-color: #fff;
        @include box-shadow(rgba(0, 0, 0, .1), 0 0 2px);
      }
    }
  }

  .prev, .next {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    display: none;
    @include border-radius(5px);

    &.outside {
      color: #000;
      font-weight: bold;
      background-color: transparent;
    }
  }

  .prev {
    left: 10px;

    &:after {
      content: "〈";
      margin-left: -10px;
    }

    &.outside {
      left: -30px;
    }
  }

  .next {
    right: 10px;

    &:after {
      content: "〉";
      margin-right: -10px;
    }

    &.outside {
      right: -30px;
    }
  }
}
