@import "pokeball/theme";
@import "compass/css3/inline-block";

.stock-list {
  .product-sku-list {
    padding: 0 10px;
    background-color: white;

    .stock-product-list-table {
      border: none;
      tr {
        border: none;
        td {
          border: none;
        }
      }
    }
  }

  .stock-list-body {
    padding: 0 10px 10px 10px;
    background-color: white;
    #form4 {
      button {
        margin-right: 10px;
      }
    }
    .warehouse-list-table {
      .operating-list {
        text-align: right;

        .in-out-stock-input {
          position: relative;
          input {width: 100px;}
        }
      }
    }
  }
}

