<div class="white-paper-wrap">
  <div class="data-white-paper" style="width: 1400px;">
    <div class="subject-wrap">
      <div class="part-1">
        <img class="lazy" src="/lunatone/assets/images/other-images/bg_top.png" alt="">
      </div>
      <div class="part-2">
        <h1 class="subject-title mb-66">【 2017年平台交易额迅速增长 】</h1>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-1.png" alt="">
        </div>
      </div>

      <div class="part-3">
        <h1 class="subject-title mt-150">【浙江省采购单位基本入驻】</h1>
        <p class="info">已上线交易区划<span>107</span>个，<span>106</span>个为今年新增；新增采购单位数<span>22161</span>家，累计<span>22532</span>家。</p>
        <div class="subject-img"><img class="lazy" src="/lunatone/assets/images/other-images/part-2.png" alt=""></div>
      </div>
      <div class="part-4 mt-150">
        <h1 class="subject-title mb-66">【垂管系统政采系统、行业特色馆稳步搭建】</h1>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-3.png" alt="">
        </div>
      </div>
      <div class="part-5 mt-150">
        <h1 class="subject-title">【电子卖场、项目采购各模块百花齐放】</h1>
        <p class="subject-info">
          全省一张网的建设，扩大了采购需求，同时又引进了更多的供应商，让市场有了更多的商品和竞争；平台新的采购政策、新的交易方式、使得整个采购更加方便、快捷、安全、
          使得整个采购过程更加市场化、活跃及开放。电子卖场的全面应用，合同占比稳定提升，达到<span>93%</span>，值得一提的是全年网超共有<span>3029</span>单是订单价格小于100块的，这在以前是没有的，这说明政府采购也可以做的更加灵活和精细。
        </p>
        <div class="subject-img"><img class="lazy" src="/lunatone/assets/images/other-images/part-4.png" alt=""></div>
        <div class="subject-img mt-200"><img class="lazy" src="/lunatone/assets/images/other-images/part-5.png" alt=""></div>
      </div>
      <div class="part-6 mt-150">
        <h1 class="subject-title">【在线询价市场活跃】</h1>
        <p class="subject-info color-yellow mb-66">
          截止当前在线询价交易额突破<span>4.7</span>亿元，与原有系统同比增长<span>433%</span>。全年在线询价采购更加活跃，累计签约合同<span>7147</span>单，占总合同数的<span>6.88%</span>。极大的提高了供应商积极度和整个市场的活跃度。全年共发起<span>10498</span>次询价，参与的供应商数量达到了<span>4532</span>家，是2016年的<span>5</span>倍多；总共发生<span>127540</span>次供应商报价，是2016年的<span>17</span>倍；同时每个询价单平均有<span>12.149</span>家供应商参与报价，这是2016年的<span>4</span>倍；而低于两家供应商参与的询价项目占比降低到了<span>1.18%</span>，这是2016年的<span>1/7</span>。
        </p>
        <div class="subject-img"><img class="lazy" src="/lunatone/assets/images/other-images/part-6.png" alt=""></div>
      </div>
      <div class="part-7  mt-150">
        <h1 class="subject-title">【协议供货市场活跃】</h1>
        <p class="subject-info color-yellow ">
          截止当前协议供货共成交<span>4.6</span>亿，同比增长<span>100%</span>。全年协议供货共签约合同<span>30482</span>单，占总合同数的<span>29.34%</span>。全年共发起<span>20345</span>次协议打包，参与的供应商数量达到了<span>1398</span>家，与2016年同比增长<span>129%</span>；总共发生<span>137062</span>次供应商报价，是2016年的<span>4</span>倍多；同时每个协议项目平均有<span>6.73</span>家供应商参与报价，这是2016年的<span>2.5</span>倍；而10家以上供应商参与的协议项目占比达到了<span>5.82%</span>，这是2016年的<span>48</span>倍。
        </p>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-7.png" alt="">
        </div>
      </div>
      <div class="part-8">
        <h1 class="subject-title mt-150">【招标市场活跃】</h1>
        <p class="subject-info color-yellow mb-66">
          全年项目招标共有<span>12078</span>个项目、签约合同<span>7547</span>单，基本和去年相同。同2016年相比，参与的供应商有了很大的增加，达到<span>24909</span>家，同比增长<span>145%</span>；供应商报名达到<span>44857</span>次，同比增长<span>73%</span>；项目平均供应商达到了<span>3.71</span>家。2017年平台项目平均签约时间从2016年的<span>27.38</span>天缩减到<span>17.4665</span>天。云平台模式打通了整个交易流程，大大缩短了采购人的审批中间时间。同时电子化的项目采购实现方式的转变也吸引了更多供应商来参与，竞争性采购项目占整体的<span>81%</span>。
        </p>
        <div class="subject-img">
          <div><img class="lazy" src="/lunatone/assets/images/other-images/part-8-1.png" alt=""></div>
          <div><img class="lazy mt-100" src="/lunatone/assets/images/other-images/part-8-2.png" alt=""></div>
        </div>
      </div>
      <div class="part-9">
        <h1 class="subject-title mt-150">【平台商品丰富度逐步提升】</h1>
        <p class="subject-info color-green mb-66">
          网超商品已达到<span>364</span>万，品牌数达<span>1.7</span>万，类目数达<span>6129</span>个，基本涵盖政府采购通用类目，苏宁、京东、天猫、史泰博、领先未来等大型电商已陆续对接上线，商品类目正向精细化方向推进。
        </p>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-9.png" alt="">
        </div>
      </div>
      <div class="part-10">
        <h1 class="subject-title mt-150 mb-66">【商品库类目覆盖更加全面】</h1>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-10.png" alt="">
        </div>
      </div>
      <div class="part-11">
        <h1 class="subject-title mt-150">【节能环保商品交易逐步攀升】</h1>
        <p class="subject-info mb-66">平台积极推进节能产品商品的建设和交易引导，积极推动建设环境友好型的政府采购。</p>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-11.png" alt="">
        </div>
      </div>
      <div class="part-12">
        <h1 class="subject-title mt-150">【更多供应商沉淀到平台上】</h1>
        <p class="subject-info color-purple mb-66">
          截止12月当前政采云注册供应商达到<span>27506</span>家，同比2016年增加<span>36%</span>，有更多的供应商从临时供应商转为正式供应商沉淀到平台里。这表明政采云平台对于供应商有更多机会。同时供应商的行业分布也更加全面，覆盖全部头部行业，可以满足政府采购的全部需求。平台积极推进精品国货民族品牌的建设，精品制造馆的供应商、品牌和商品逐步上升。
        </p>
        <div class="subject-img"><img class="lazy" src="/lunatone/assets/images/other-images/part-12.png" alt=""></div>
        <p class="subject-info mt-120 mb-66">
          平台数据显示，2017年政采云平台供应商行业总数为<span>338</span>个，涵盖信息，建筑，制造及其他传统及现代行业。按交易额维度统计，文具用品批发位居第一位，占所有供应商总交易额的<span>9%</span>。按交易数维度统计，批发和零售业位居第一位，占所有供应商总交易数的<span>21.9%</span>。传统畅销类行业带来稳固收益的同时，以信息，软件，医药为代表的现代高科技行业走势迅猛。
        </p>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-13.png" alt="">
        </div>
      </div>
      <div class="part-13">
        <h1 class="subject-title mt-150">【高素质专家库体系逐渐形成】</h1>
        <p class="subject-info color-green mb-66">
          2017年政采云平台注册专家<span>12548</span>位，<span>85%</span>以上的专家拥有本科以上学历，<span>73%</span>的专家拥有中级及以上职称。专家库中所有专家的专业评标领域共有<span>973</span>个。平台专家评标专业占政府采购所有评标专业的<span>97%</span>，基本上可以满足所有专业的评标需求。
        </p>
        <div class="subject-img"><img class="lazy" src="/lunatone/assets/images/other-images/part-14.png" alt=""></div>
      </div>
      <div class="part-14">
        <h1 class="subject-title mt-150">【专家抽取需求概况】</h1>
        <p class="subject-info color-yellow mb-66">
          从2017年<span>15430</span>个项目抽取需求，可以发现工程类的项目相对较少，这同专家库评标专业的分布是一致的；头部需求在于通用设备、专用设备、信息技术服务、商务服务等头部专业，占比超过<span>50%</span>。
        </p>
        <div class="subject-img">
          <div><img class="lazy" src="/lunatone/assets/images/other-images/part-15-1.png" alt=""></div>
          <div><img class="lazy mt-100" src="/lunatone/assets/images/other-images/part-15-2.png" alt=""></div>
        </div>
      </div>
      <div class="part-15">
        <h1 class="subject-title mt-150 mb-66">【专家抽取更加精准、公正、透明】</h1>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-16.png" alt="">
        </div>
      </div>
      <div class="part-16">
        <h1 class="subject-title mt-150">【代理机构库逐步成型】</h1>
        <p class="subject-info color-purple mb-66">平台累积注册代理机构<span>466</span>家，初步形成规模，从代理机构代理领域分类主要集中在货物和服务相关项目提供服务。</p>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-17.png" alt="">
        </div>
      </div>
      <div class="part-17">
        <h1 class="subject-title mt-150">【统一全省公告发布平台】</h1>
        <p class="subject-info color-yellow mb-66">
          2017年浙江省全面应用政采云后，平台上集中了全省的采购组织机构，这形成了全省的公告平台。同时平台通过开放接口，打通了市县上传、下载公告的通道，以及积极对接公共资源交易平台，数据开始互通和流动。这也极大的增加了采购的公开、透明度。2017年省采网共新增<span>196622</span>条公告，新增的合同公告占比达到了<span>22%</span>，合同公示使得整个采购链条更加公开和透明。
        </p>
        <div class="subject-img">
          <div><img class="lazy" src="/lunatone/assets/images/other-images/part-18.png" alt=""></div>
          <div><img class="lazy mt-100" src="/lunatone/assets/images/other-images/part-19.png" alt=""></div>
        </div>
      </div>
      <div class="part-18">
        <h1 class="subject-title mt-150">【公告访问流量概况】</h1>
        <p class="subject-info color-yellow mb-66">公告的访问更加活跃，自2017年9月27号省采网改版以来，共有<span>8,404,973</span>次公告访问，工作日日均访问量达到<span>100,000</span>以上。</p>
        <div class="subject-img">
          <img class="lazy" src="/lunatone/assets/images/other-images/part-20.png" alt="">
        </div>
      </div>
      <div class="part-19">
        <h1 class="subject-title mt-150">【平台网超订单成交高峰】</h1>
        <p class="subject-info color-yellow mb-66"><span>10点&15点</span>为订单成交高峰，采购需求转化订单趋向<span>1</span>小时内完成。</p>
        <div class="subject-img">
          <div><img class="lazy" src="/lunatone/assets/images/other-images/part-21-1.png" alt=""></div>
          <div><img class="lazy mt-120" src="/lunatone/assets/images/other-images/part-21-2.png" alt=""></div>
        </div>
      </div>
    </div>
    <div class="video-wrap">
      <span class="ued-logo"><img class="lazy" src="/lunatone/assets/images/other-images/UED-logo.png" alt=""></span>
      <div class="text-center"><img class="lazy" src="/lunatone/assets/images/other-images/100.png" alt=""></div>
      <h2>只是我们一个新的起点</h2>
      <div class="text-center"><img class="lazy" src="/lunatone/assets/images/other-images/btn.png" alt=""></div>
      <h1>2018我们继续一起并肩共进</h1>
      <div class="video-title">【2017全国政府采购工作会议上政采云宣传片】</div>
      <div class="video-area">
        <!--<embed src='http://player.youku.com/player.php/sid/XMzIxMTY2NjA0NA==/v.swf' allowFullScreen='true' quality='high' width='100%' height='100%' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>-->
        {{!-- <iframe height=498 width="100%" src='https://player.youku.com/embed/XMzIxMTY2NjA0NA==' frameborder=0 'allowfullscreen'></iframe> --}}
        <video style="background: #000;" controls="controls" preload="auto" height=498 width="100%" src='https://zcy-cdn.oss-cn-shanghai.aliyuncs.com/ZCY-pinpai/%E6%94%BF%E9%87%87%E4%BA%91%E5%B9%B3%E5%8F%B0%E5%AE%A3%E4%BC%A0%E7%89%87.mov'></video>
      </div>
    </div>
  </div>
</div>
