.component-supplier-search{
  position: relative;
  font-size: 0;
  .input-search .icon-search {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 20px;
    color: #9b9b9b;
  }
  .search-input.active {
    display: inline-block;
    vertical-align: middle;
  }
  .search-input {
    padding-left: 27px!important;
    width: 300px;
    display: none;
    &:hover{
      border: 2px solid #197aff;
    }
  }
  #search-button-local{
    margin-right: 5px;
    padding: 9px 13px;
    font-size: 15px;
  }
  #search-button-all{
    background-color: #fff;
    border: 1px solid #197aff;
    color: #197aff;
    padding: 9px 13px;
    font-size: 15px;
    &:hover{
      color: #fff;
      background-color: #2374e1;
      border-color: transparent;
      text-decoration: none;
      outline: 0;
    }
  }
}

