@import "pokeball/theme";
@import "compass/css3/inline-block";
.service-guarantee {

  .hide {
    display: none;
  }

  .for-tax {
    display: inline-block !important;
    width: 100px; 
  }

  .btn-shop-located {
    display:inline-block;
    cursor: pointer;
    text-align: center;
    color:#666;
    border: solid 1px #ddd;
    line-height: 26px;
    width: 80px;
    margin-left:6px;
    font-size:12px;
    &:hover{
      color: #197aff;
      border-color:#197aff;
    }
  }

  .service-li {
    a {
      color: #bbb;
      line-height:17px;
    }
    .icon-zcy {
      font-size: 26px;
      color: #0476FB;
      height:28px;
      line-height:28px;
    }
    &-icon {
      margin: 8px auto 4px;
    }
  }

  .bg-zaixiankefu {
            background-size: contain;
       -moz-background-size: contain;
    -webkit-background-size: contain;
         -o-background-size: contain;
    background-image: url('/lunatone/assets/images/other-images/zaixiankefu.png');
  }
  .bg-liuyanzixun {
            background-size: contain;
       -moz-background-size: contain;
    -webkit-background-size: contain;
         -o-background-size: contain;
    background-image: url('/lunatone/assets/images/other-images/liuyanzixun.png');
  }

  .notice-list{
    padding-top:12px;
    li{
      span{
        color:#bbb;
        vertical-align: middle;
      }
      a{
        display:inline-block;
        vertical-align: middle;
        width:80%;
        height:24px;
        font-size: 12px;
        color: #2A2A2A;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}

.user-information {
  height: 202px;
  padding: 0 0 20px;
  font-size: 14px;
  text-align:center;
  .logo-img{
    width: 58px;
    height: 58px;
    line-height:58px;
    overflow: hidden;
    text-align:center;
    border-radius: 50%;
    background:#F7F7F7;
    margin:0 auto;

    i{
      font-size: 30px;
      color:#ddd;
    }
  }
  .user-welcome {
    font-size: 12px;
    color: #666666;
    line-height: 24px;
    margin-top:9px;
    &-name {
      margin-bottom: 6px;
    }
    &-title {
      margin-bottom: 20px;
    }
  }

  .btn-submit {
    display:inline-block;
    cursor: pointer;
    width:80px;
    line-height: 28px;
    text-align: center;
    background-color: #197AFF;
    color: #fff;
    font-size: 12px;
    &:hover{
      background-color: rgb(22,94,208);
    }
  }
  &.noDealt{
    .btn-submit{
      width:100%;
      margin-top:9px;
    }
  }
  &.qk-init-2{
    .logo-img{
     display:inline-block;
      vertical-align:middle;
      margin-left: 0;
    }
    .user-welcome-name{
      height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .user-welcome{
      display:inline-block;
      vertical-align:middle;
      text-align:center;
      width:60%;
      margin-top:-6px;
    }
    padding-bottom: 0;
    .user-welcome-title{
      display: none;
    }
    .qk-init-yhzx{
      display: none;
    }
    .btn-submit {
      width: 80px;
      cursor: pointer;
      line-height: 28px;
      text-align: center;
      background-color: #0876FF;
      color: #EEF5FF;
      font-weight: normal;
      font-size: 12px;
      border: 0;
      &:hover{
        background-color: #197AFF;
        color: #ffffff;
      }
    }
  }
  &.qk-init-3{
    .user-welcome{
      text-align:left;
      margin-left:13px;
    }
  }
  &.qk-init-line1{
    .logo-img{
      display:block;
      margin: 0 auto 3px;
    }
    text-align: center;
  }
  .blank-block {
    text-align: center;
    max-height: 80px;
  }
}

.service-location {
  border-top: 1px solid #eeeeee;
  margin-left: -10px;
  margin-right: -10px;
  &.qk-init-local{
    border-top: 0;
    .service-ul{
      margin: 20px 0;
      width:100%;
      position: relative;
      &:before{
        content:"";
        position:absolute;
        left:10px;
        right:10px;
        border-top:1px dashed #eee;

      }
      li{
        width: 33%;
        border:none;
        padding:0;
        margin-top:16px;
        .icon-box{
          font-size: 16px;
          color: #197AFF;
          font-family: ArialMT
        }
        .icon-message{
          color:#666666;
          font-size:12px;
          display: block;
          margin-top:3px;
        }
      }
      .service-li-icon{
        margin:0;
      }
    }
  }
  &.qk-init-local2{
    margin-left: -10px;
    margin-right: -10px;
    .service-ul{
      padding: 10px 0;
      width: 100%;
      li{
        width: 25%;
        .icon-zcy{
          font-size: 29px;
        }
        .word-content{
          color:#999999;
        }
      }
    }
  }
  .title {
    @include inline-block();
    margin-top: 15px;
    font-weight: 500;
  }
}

.service-item {
  text-align: center;
  padding: 8px 0;
  &-middle {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ccc;
    height: 43px;
    line-height: 43px;
    color: #555;
    padding: 0 6px;
    text-align: center;
    cursor: pointer;

    .service-item-icon {
      width: 20px;
      height: 20px;
      float: left;
      margin: 12px 2px;
    }
    a {
      color: #555;
      display: inline-block;
    }
  }
}
.service-item-middle{
  &.no-border{
    border-bottom:0 ;
  }
  height: auto;
  .server-num{
    font-size: 13px;
    text-align: left;
    padding: 5px 0 5px 10px;
    span{
      color:#0655f7;
    }
  }
  .col-new-6{
    width: 42%;
    background-color: #f7f7f7;
    outline: 1px solid #e7e9ea;
    height: 27px;
    padding-top: 4px;
    .icon-zcy{
      vertical-align: top;
      line-height: 20px;
      color: #bbb;
    }
    .online-box{
      display: inline-block;
      line-height: normal;
      vertical-align: top;
    }
    &.js-kefu-service{
      margin-right: 15px;

    }
  }
  .btn-bottom:hover{
    background-color: #197AFF;
    color: #fff;
    outline:1px solid #197AFF;
    i,a{
      color: #fff;
    }
  }
}
.service-ul {
  width:102%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  .service-li {
    position: relative;
    list-style: none;
    width: 49.6%;
    float: left;
    color: #4a4a12;
    border-style:solid;
    border-color:#eee;
    border-width:0 0 1px 1px;
    margin-left:-1px;
    padding-bottom:6px;
    .left-top {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 5px;
      background-color: white;
    }

    span {
      @include inline-block();
      position: absolute;
      top: 8px;
      left: 50px;
      font-size: 14px;
    }
  }
}

#consult-modal {
  width: 500px;

  .modal-body {
    min-height: 120px;
  }
  .modal-body-content {
    width: 60%;
    margin: 0 auto;

    .icon-zcy {
      font-size: 24px;
      margin-right: 5px;
      color: #72C5E8;
    }
    .mail {
      margin-left: 2em;
    }
  }
}
