.zcy_modal_normal {
  .modal-header{
    padding: 20px;
    label , a {
      font-size:14px;
      color: #666;
    }
  }
  .modal-body {
    padding: 20px;
    min-height: 100px;
    min-width: 300px;
  }
  .modal-footer {
    padding: 12px 20px 12px 0;
  }
}
.zcy_modal_other {
  height: 210px;
  width: 420px;
  .modal-header{
    height: 50px;
    padding: 20px 20px 0 20px;
    label , a {
      font-size:14px;
      color: #666;
    }
  }
  .modal-body {
    padding: 30px 60px;
    height:110px;
    min-height: 110px;
    i{
      vertical-align: sub;
    }
    label {
      &.info-title{
        margin-left: 16px;
        font-size: 16px;
      }
      &.info-content {
        font-size: 12px;
        display: block;
        margin-left:51px;
      }
    }
  }
  .modal-footer {
    height: 50px;
    padding: 12px 20px 0 0;
    .btn {
      padding: 7px 15px;
    }
  }
}
.zcy_modal_second {
  height: 280px;
  width: 550px;
  .modal-header{
    height: 50px;
    padding: 20px 20px 0 20px;
    label , a {
      font-size:14px;
      color: #666;
    }
  }
  .modal-body {
    padding: 30px 60px;
    height:180px;
    min-height: 110px;
    overflow-y: auto;
    i{
      vertical-align: sub;
    }
    label {
      &.info-title{
        font-size: 16px;
        margin-left: 16px;
      }
      &.info-content {
        font-size: 12px;
        display: block;
        margin-left:51px;
      }
    }
    .second-box {
      margin-top: 10px;
      width: 100%;
      background-color: #f5f5f5;
      padding: 22px 38px;

      .second-checkbox{
        width: 15px;
        height: 14px;
        vertical-align: top;
        margin-top: 2px;
      }
      .second-content {
        padding-left: 4px;
        display: inline-block;
        width: 90%;
      }
    }
  }
  .modal-footer {
    height: 50px;
    padding: 12px 20px 0 0;
    .btn {
      padding: 7px 15px;
    }
  }
}
.zcy-validate-error{
  border: 1px solid #FF0000!important;
}
.zcy-text-danger {
  position: absolute;
  padding: 6px;
  color:#FF0000;
}
.zcy-text-danger-box {
  display: inline-block;
  position: relative;
}
.zcy-validate-buttom-box {
  position: absolute;
  top: 100%;
  width: 200px;
  left: 0;
  padding-top: 4px;
}
.zcy-icon-error-right {
  margin-left: 5px;
  &:hover{
    cursor:pointer;
  }
}
.zcy-icon-error-select-right{
  position: absolute;
  top: 8px;
  right: -22px;
  &:hover{
    cursor:pointer;
  }
}
.zcy-icon-error-inside {
  margin-left: -25px;
  &:hover{
    cursor:pointer;
  }
}
.zcy-error-text-out{
  color: #ff0000;
}