{{#partial "realBody"}}
  <div class="user-background index-user-background">
    <div class="main-container clearfix">
      <div class="shop-right">
        {{#designPart "design-list"}}
        {{/designPart}}
        {{#if floorName}}
          {{#inject "floor/item_list"}}{{/inject}}
        {{else}}
          {{#inject "floor/item_all_list"}}{{/inject}}
        {{/if}}
      </div>
      <div class="shop-left">
       {{#inject "floor/accordions"}}{{/inject}}
      </div>
    </div>
  </div>
{{/partial}}
{{> layouts/shop/layout}}
