<span class="js-sku-item">
  <label class="sku-attribute-label">
    <span class="input-text">{{attrVal}}</span>
  </label>
  <i class="icon-alakazam icon-alakazam-pic attribute-image js-attribute-image"></i>
</span>
