<div class="modal changePostModal" style="display:none;width: 500px;">
  <div class="modal-header">
    <span style='font-size: 14px;'>请选择指定人</span>
    <i class="icon-zcy icon-guanbi pull-right close"></i>
  </div>
  <div class="modal-body">
    {{#each _DATA_}}
      <div style='line-height: 30px;'>
        <label for="">
          <input type="radio" class="mr" name="post-radio" value="{{id}}" />{{consignerName}}
        </label>
      </div>
    {{/each}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-minor btn-medium close">取消</button>
    <button class="btn btn-primary btn-medium js-changePost" disabled>确定</button>
  </div>
</div>