<div class="js-category-attr-input category-attr-input" data-key="{{attrKey}}" data-type="STRING" data-required="false">
  <span class="dropdown-selector-text" title="{{attrVal}}">{{attrVal}}</span>
</div>
{{#if attrMetasForK}}
  {{#if property.unit}}
    <span class="attr-unit-show">&nbsp;{{property.unit}}</span>
  {{/if}}
{{/if}}
