<td class="center-text">
  <div class="td-inner-line">
    <div class="control-group">
      <label><span class="input-text">市场价&nbsp;&nbsp;{{formatPrice extraPrice.originPrice}}</span>
      </label>
    </div>
  </div>
</td>
