.order-form-create-by-requisition{
  min-width: 1220px;
  .order-container {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .table > thead > tr{
    height:39px;
  }
  .delivery-address-picker{
    .address-table{
      .address-block{
        width:230px;
        height:116px;
        padding:10px 15px;
        margin-right:19px;
        &.active{
          .angle{
            border-color:transparent #0876FF #0876FF transparent;
          }
        }
        .contact-person{
          font-size:14px;
          line-height:28px;
        }
        .additions{
          height:17px;
          line-height:17px;
          margin-top:5px;
        }
        .address-detail{
          line-height: 20px;
          margin-top: 8px;
        }
        &:hover{
          border-color:#0876FF;

        }
      }
      a.hover-sign{
        color:#0876FF;
      }
    }
  }
  .order-addition-info {
    border: 1px solid #eee;
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.10);
    background:#fff;
    @media (min-width: 1366px) {
      min-width: 1145px;
    }
    @media (min-width: 1440px) {
      min-width: 1228px;
    }
    position: fixed;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    padding-right: 0;
    clear: both;
    text-align: right;
    span {
      margin-right: 40px;
      vertical-align: middle;
    }
    .price.currency {
      font-size: 18px;
    }
    .btn.btn-primary {
      height: 50px;
      width: 120px;
      font-size: 18px;
      border:none;
      vertical-align: middle;
      margin-top:-6px;
    }
  }
  .operator-btn {
    margin-bottom: 14px;
    line-height:18px;
    a{
      color:#0876FF;
    }
  }
  .trade-block {
    display: table;
    background: #ffffff;
    margin-bottom: 10px;
    @media (min-width: 1366px) {
      padding: 25px 35px 30px 35px;
    }
    @media (min-width: 1440px) {
      padding: 25px 58px 30px 41px;
    }
    .block-title {
      width: 56px;
      float: left;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .block-content {
      width: 1050px;
      float: left;
      margin-left: 25px;
    }

    .requisition-item-list{
      .tables-header {
        border-width: 0 0 2px 0;
        border-color: #ccd0d6;
        color: #666666;
        tbody {
          tr {
            height: 30px;
            vertical-align: text-top;
            border: none;
            td {
              border: none;
            }
            td:last-child {
              text-align: left;
            }
          }
        }

      }
      div.shop-name {
        font-size: 12px;
        color: #333333;
        margin-top:16px;
        margin-bottom:6px;
        line-height:17px;
      }
      table.requisition-items-table {
        background: #e9f5fd;
        border: none;
        tbody {
          tr {
            border-color: #ccd0d6;
            border-width:0 0 1px 0;
            height: 70px;
            line-height: 70px;
            td {
              .item-info {
                line-height: 20px;
                img {
                  float: left;
                }
                span {
                  vertical-align: text-top;
                }
                .item-name {
                  color: #333333;
                }
                .sku-info {
                  color:#3f3f3f;
                  line-height:18px;
                }

              }

              .remark-input {
                width: 300px;
              }
            }
            td:first-child {
              padding-left:15px;
            }
            td:last-child {
              text-align: left;
            }
          }
          tr:last-child {
            height: 50px;
            line-height: 50px;
            border: none;
          }
        }
      }
      .total-money {
        color: #ff7900;
      }
    }
  }

  .items-plans-list{
    thead{
      background:#f6f6f6;
      th{
        padding:0;
      }
    }
  }

  .purchase-plan-box {
    display: inline-block;
    height: 60px;
    width: 140px;
    border: solid 1px #ccd0d6;
    text-align: center;
    margin: 4px;
    .purchase-plan-no {
      margin-bottom: 16px;
      height: 20px;
      a{
        overflow: auto;
      }
    }
    .btn {
      width: 60px;
      text-align: center;
      font-size: 12px;
      padding: 2px;
      border-radius: 4px;
    }

  }
  .red-text{
    color: #FF2300;
  }
  .green-text {
    color: #00B22D;
  }
  .item-catalog {
    text-overflow: ellipsis;
    padding: 0 20px 0 0;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    max-height: 20px;
    display: inline-block;
  }

  .trade-manage{
    .t-breadcrumb{
      line-height:16px;
      padding:18px 0 10px;
    }
  }
  .main-right{
    padding:0 15px;
  }
  .foot-operations{
    a{
      color:#0876FF;
    }
  }
  .invoice-picker {
    .popover-invoice-detail{
      color:#0876FF;
    }
    .invoice-table{
      .invoice-block{
        width:230px;
        height:120px;
        margin-top:15px;
        margin-right:19px;
        padding:10px 15px;
        line-height:20px;
        &.active{
          .angle{
            border-color:transparent #0876ff #0876ff transparent;
          }
        }
        .additions{
          line-height: 17px;
          margin-top: 5px;
          color:#0876FF;
          .hover-sign{
            color:#0876FF;
          }
        }
      }
    }
  }
  .delivery-address-picker{
    .address-table{
      .foot-operations{
        .manage-address{
          margin-right:63px;
        }
      }
    }
  }
  .invoice-picker{
    .invoice-table{
      .foot-operations{
        .manage-invoice{
          margin-right:63px;
        }
      }
    }
  }
  .delete-item{
    color:#0876ff;
  }
  .contract {
    position: relative;
    @media (min-width: 1366px) {
      left: 1095px;
    }
    @media (min-width: 1440px) {
      left: 1150px;
    }
    margin-bottom: 20px;
    label {
      color: #333333;
    }
  }
}

