{{#component "order-form-create-by-requisition trade-manage js-comp clearfix"}}
  <div class="t-breadcrumb">
    <a href="/buyer/requisitions">需求单列表</a>
    <label> > </label>
    <label class="active">创建订单</label>
  </div>
  <div class="order-container">
    <div class="trade-block clearfix">
      <div class="block-title">采购计划</div>
      <div class="block-content">
        <div class="clearfix operator-btn">
          <a href="javascript:;" class="js-bind-purchase-plan">关联采购计划</a>
        </div>
        <div class="items-plans-list">
        </div>
      </div>
    </div>
    <div class="trade-block">
      <div class="block-title">收货地址</div>
      <div class="block-content">
        {{inject "buyer/delivery_address_picker" userId=_USER_.id middleHref=_DATA_.middle editAble=true}}
      </div>
    </div>

    <div class="trade-block">
      <div class="block-title">发票</div>
      <div class="block-content">
        {{inject "buyer/invoice_picker" orgId=_USER_.orgId userId=_USER_.id}}
      </div>
    </div>

    <div class="trade-block">
        <div class="block-title">需求商品</div>
        <div class="block-content">
            <div class="requisition-item-list">

            </div>
        </div>
    </div>

    <div class="contract">
        <label><input type="checkbox" class="js-contract-checkbox input-checkbox"/>网超合同</label>
    </div>
  </div>
  <div class="order-addition-info">
    <span>已关联采购计划总额(元)：<span class="price js-bind-money">0.00</span></span>
    <span>计划外资金总额(元)：<span class="price js-unbind-money">0.00</span></span>
    <span>总计金额(元)：<span class="price currency js-total-money">0.00</span></span>
    <button class="btn btn-primary js-submit-order">确定下单</button>
  </div>
{{/component}}