{{#partial "realTitle"}}协议入围管理-协议商品管理{{/partial}}
{{#partial "realBody"}}
    {{#inject "common/breadcrumb"}}
        {
        "breadcrumb":
        [{
        "crumb": "协议管理",
        "url": "#"
        },
        {
        "crumb": "协议商品管理",
        "url": "#"
        }],
        "menuPath": "/agreement/product-manage"
        }
    {{/inject}}
    <div class="product-manage b-right">
        <a class="btn btn-minor" href="/agreement/release-items?ptype=1">添加协议商品</a>
    </div>
    {{inject "agreement/product_manage"}}
{{/partial}}
{{> user_layout}}
