.zcy-pagination {
  display: inline-block;
  font-size: 12px;
  >.page-size-controller {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    line-height: 14px;
    label {
      margin-top: -20px \9;
    }
  }
  >.pagination {
    display: inline-block;
  }
}
