.ZCY-eevee-comp-normalSearch{
  position: relative;
  font-size: 0;
  .input-search .icon-search {
    position: absolute;
    left: 9px;
    top: 8px;
    font-size: 18px;
    color: #ddd;
  }
  .search-input.active {
    display: inline-block;
    vertical-align: bottom;
  }
  .search-input {
    padding-left: 36px!important;
    height:36px;
    display: none;
    box-sizing:border-box;
    border: 2px solid #197aff;
    border-right:none;
    &:hover{
      border-color:#197aff;
    }
  }
  #search-button-local{
    border-left: 0;
    margin-right: 12px;
    padding: 8px 11px;
    font-size: 16px;
    background-image: linear-gradient(-90deg,  #0876FF 1%,#03B0FF 98%);
    &:hover{
      background:#197aff;
    }
  }
  #search-button-all{
    background: #FBFDFF;
    border: 1px solid #0876FF;
    color: #0876FF;
    padding: 8px 11px;
    font-size: 16px;
    margin-right:12px;
    &:hover{
      color: #fff;
      background-color:#197aff;
      border-color: transparent;
      text-decoration: none;
      outline: 0;
    }
  }
}

