.component-supplierList{
  .no-data-box{
    display: inline-block;
  }
  .supplierItem{
    border: 1px solid #E6E6E6;
    margin-bottom:20px;
    .content-left{
      display: inline-block;
      width: 490px;
      padding-left: 33px;
      padding-top: 40px;
      padding-right: 30px;
      vertical-align: top;
      border-right: 1px solid #e6e6e6;
      height:250px;
      div.js-supplier-avg-score-div{
        display: inline-block;
        margin-right: 6px;
        font-size: 12px;
        span{
          display: block;
          &.js-average-score{
            margin-bottom: 0;
          }
        }
        span.inlineBlock{
          display: inline-block;
        }
        .icon-zcy{
          font-size: 12px;
          vertical-align: bottom;
          margin-left: -2px;
        }
        .avg-up {
          color: #ff3c00;
        }
        .avg-down {
          color: #2dc12d;
        }
        .avg-cp {
          color: #ff7900;
          margin-left: -4px;
          vertical-align: initial;
        }
      }
      table{
        width:100%;
        tr{
          td{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            &.icon-td{
              width:20px;
              i{
                color: #c3c3c3;
                font-size: 14px;
              }
            }
            &.msg-td{
              width: 186px;
              font-size:12px;
              color:#24344e;
              letter-spacing:0;
              line-height:30px;
            }
          }
        }
      }
    }
    .content-right{
      background-color: #f9f9f9;
      display:inline-block;
      height: 250px;
      width: 708px;
      padding-left: 20px;
      margin-left: -4px;
      position: relative;
      .img-box{
        margin-top: 50px;
        display: inline-block;
        color:#333;
        vertical-align: text-top;
        width: 142px;
        height: 170px;
        padding: 0;
        background-color: #ffffff;
        margin-right: 19px;
        border: 1px solid #EEEEEE;
        img{
          width: 140px;
          height: 140px;
        }
        div{
          width: 100%;
          padding: 5px 0;
          .price{
            padding-left: 5px;
            line-height: 20px;
            font-size:14px;
            color:#ff7900;
            letter-spacing:0;
            text-align:left;
          }
          .sp-xl{
            padding-right: 5px;
            float:right;
            font-size:12px;
            color:#9b9b9b;
            letter-spacing:0;
            text-align:left;
          }
        }
      }
      .operators {
        position: absolute;
        top: 20px;
        right: 0;
        a {
          margin-right: 15px;
        }
      }
    }
  }
  .supplier-title{
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 1px dashed #e6e6e6;
    .logo-img-box{
      padding: 23px 6px;
      display: inline-block;
      width: 91px;
      height: 91px;
      border: 1px solid #dfdfdf;
      border-radius: 50px;
      overflow: hidden;
      //background: url(/lunatone/assets/images/other-images/Oval_img.png) 50% no-repeat;
      img{
        width: 76px;
        max-height: 91px;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .supplier-msg{
      display: inline-block;
      height: 91px;
      vertical-align: top;
      margin-left: 20px;
      p{
        &:hover{
          cursor: pointer;
        }
        font-size: 16px;
        font-weight: bolder;
        .supplierName{
          display: inline-block;
          max-width: 230px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        i{
          color: #1a7aff;
          font-size: 16px;
          vertical-align: bottom;
          margin-left: 5px;
          &:hover{
            cursor: pointer;
          }
        }
        em{
          color: #1a7aff;
          font-style: normal;
        }
      }
    }
  }
  .overflow-hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 99px;
    vertical-align: bottom;
  }
}
