<ul class="brands-list clearfix">
{{#each data}}
<li class="brands-kind {{#gt @index 7}}second-line{{/gt}} {{#mod @index 8}}last{{/mod}}">
  <a href="/search?bid={{id}}"><img src="{{cdnPath logo "68h"}}">
  </a>
</li>
{{/each}}
</ul>
