.footer-ul {
  background: #f5f5f5;
  .copyright {
    height: 87px;
    padding: 21px 0 20px 0;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #999999 !important;
    border-top: 0;
    .statement {
      margin-bottom: 11px;
      color: #666;
      span {
        margin: 0 12px;
        a {
          color: #666
        }
      }
      .line {
        height: 10px;
        width: 1px;
        background: #999;
        margin-right: 0;
      }
    }
    span {
      a {
        color: #999;
        img {
          vertical-align: bottom;
        }
      }
    }
  }
}