{{#component "footer-ul js-comp"}}
  <div class="copyright">
    <div class="statement">
       <span><a href="http://www.zhengcaiyun.cn/" target="_blank">关于我们</a></span><label class="line"></label>
       <span><a href="https://help.zcy.gov.cn/web/site_2/contact/index.html" target="_blank">联系我们</a></span><label class="line"></label>
       <span><a href="https://rule.zcy.gov.cn/web/site_1/2016/08/29/190.html" target="_blank">法律声明</a></span><label class="line"></label>
       <span><a href="https://rule.zcy.gov.cn/web/site_1/2016/09/22/201.html" target="_blank">隐私声明</a></span>
      </div>
    <span>
      ©&nbsp;2016-2017&nbsp;政采云有限公司&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备06051979号-4&nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602006125">
            <img src="/lunatone/assets/images/other-images/nationalEmblem.png">
            &nbsp;浙公网安备 33010602006125号
        </a>
    </span>
  </div>
{{/component}}
