{{#component "js-comp supplier-compare"}}
<div class="supplier-compare-title">
其他供应商价格<span>换一批</span>
</div>
<ul class="supplier-compare-ul">
  <li class="supplier-compare-li">
    <a><span>北京冠群耗材专营店</span></a>
    <div class="sale-supplier currency">￥<span>108</span><div class="left-tran hide-mydefine"></div><div class="most-preferential hide-mydefine">最优惠</div>
    </div>
  </li>
  <li class="supplier-compare-li">
    <a><span>北京熊丫丫耗材专营店</span></a>
    <div class="sale-supplier currency">￥<span>98</span><div class="left-tran hide-mydefine"></div><div class="most-preferential hide-mydefine">最优惠</div>
    </div>
  </li>
  <li class="supplier-compare-li">
    <a><span>京东商城</span></a>
    <div class="sale-supplier currency">￥<span>89</span><div class="left-tran hide-mydefine"></div><div class="most-preferential hide-mydefine">最优惠</div>
    </div>
  </li>
</ul>
{{/component}}
