@import "pokeball/theme";
@import "compass/css3/inline-block";

.supplier-compare {

  a {
    color: inherit;
  }

  .hide-mydefine {
    display: none !important;
  }

  .supplier-compare-title {
    background-color: $color-border;
    padding: 0 20px;
    line-height: 35px;
    font-size: 12px;

    span {
      cursor: pointer;
      float: right;
      font-family: 'songti';
    }
  }

  .supplier-compare-li {
    border-bottom: 1px solid $color-border-dark;
    padding: 13px 20px;

    span {
      font-size: 12px;
      line-height: 12px;
    }

    .sale-supplier {
      color: $color-primary;
      margin-top: 5px;
    }
  }

  .left-tran {
    @include inline-block();
    width: 0;
    border-right: 3px solid red;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    margin-left: 10px;
  }

  .most-preferential {
    @include inline-block(middle);
    background-color: red;
    color: white;
    line-height: 13px;
    font-size: 12px;

  }
}
