{{#component "item-publish product-detail-warp clearfix js-comp"}}
        <span class="section-title js-pro-itemid" data-itemid="{{itemId}}">商品详情</span>
        <div class="section-content clearfix detail-box js-detail-box">
        </div>
{{/component}}