{{#component "js-comp manufacturer-nav-bar"}}
  <p class="hide">{{json this}}</p>
  <input type="hidden" class="js-categories-id" value="{{ids}}">
  <div class="nav-bar-header">
    制造馆商品
  </div>
  <div class="categories-nav hide"></div>
{{/component}}