{{#component "regular-goods js-comp"}}
 <div class="hide">{{json this}}</div>
  {{#if _ROLE_}}
    <div class="often-goods-tab clearfix">
      <ul class="clearfix mod-tab">
        <li class="active">
          <a href="/eevees/regular_purchase/goods" data-role="">我的常购商品<span class="jtotalGoods"></span></a>
        </li>
        <li>
          <a href="/eevees/regular_purchase/shops" data-role="">我关注的店铺<span></span></a>
        </li>
      </ul>
      <div class="goods-common-search">
        <input type="text" name="goodsSearch" placeholder="宝贝搜索" class="jSearchGoods">
        <button id="innerSearch" class="btn btn-search"><i class="icon-zcy icon-search"></i></button>
      </div>
    </div>
    <div class="often-goods-wrap ">
      <div class="goods-list-category clearfix jOftenWrap">

      </div>
      <div class="often-goods-list">
        <div class="jOftenList">

        </div>
      </div>
    </div>
  {{else}}
    <div class="has-no-authority">
      <div class="clearfix no-author">
        <img src="/lunatone/assets/images/other-images/noAuthority.png" class="pull-left" alt="">
        <div class="tip-info pull-left">
          <h2>抱歉，您权限不足！</h2>
          <div class="info-text">“我的关注”模块包含：我的常购商品、我关注的店铺，可帮您快速查找到商品和店铺;<br>该功能暂时只针对采购单位经办人开放;<br>若您是经办人，请联系单位机构管理员配置权限；
          </div>
          <div><a href="/" class="btn">去首页看看</a></div>
        </div>
      </div>
    </div>
  {{/if}}
{{/component}}