@import "compass/css3/inline-block";
@import "pokeball/theme";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
$parTextColor: #666;
$subTextColor: #151515;
$borderColor: #eee;
$bgColor: #f5f5f5;
$blueColor: #0876FF;
$priceColor: #FF5342;
$cartSubmitColor: #FF7056;
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:100%;
}
.text-over{
  display: -webkit-box;
  width:100%;
  height:34px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.regular-goods{
  .has-no-authority{
    height:320px;
    background: #F7F7F7;
    border: 1px solid #EEEEEE;
    .no-author{
      width:700px;
      margin: 58px auto;
      .tip-info{
        width:370px;
        background: #F7F7F7;
        margin-left:76px;
        margin-top:40px;
        h2{
          font-size: 18px;
          font-weight:normal;
          color: #333333;
          line-height: 22px;
          margin:0;
        }
        .info-text{
          font-size: 12px;
          line-height:17px;
          color: #666666;
          margin-top:4px;
        }
        .btn{
          padding:7px 9px;
          margin-top:18px;
        }
      }
    }
  }
  .often-goods-tab{
    border-bottom:1px solid #eee;
    .mod-tab{
      float:left;
      li{
        float:left;
        padding:0 17px 14px;
        a{
          font-size: 14px;
          line-height:20px;
          color: #666666;
        }
        span{
          color:#999;
        }
        &.active{
          a,span{
            color: #0876FF;
          }
          border-bottom:4px solid #0876FF;
        }
      }
    }
    .goods-common-search{
      float:right;
      margin-top: -4px;
      input{
        vertical-align: middle;
        border-right:none;
        width:218px;
        border-color:#ddd;
      }
      .btn-search{
        vertical-align: middle;
        margin-left:-4px;
        background: #F9F9F9;
        border: 1px solid #DDDDDD;
        color:#999;
        width:42px;
        padding-left:12px;
      }
    }
  }
  .list-pagination{
    text-align:center;
    margin-top:10px;
  }
  .often-goods-wrap{
    width:1200px;
    overflow:hidden;
    .goods-list-category{
      margin:13px 17px 8px;
      span{
        float:left;
        cursor:pointer;
        font-size: 12px;
        color: #989A9C;
        line-height: 16px;
        padding:4px 15px;
        margin-bottom:5px;
        &:hover{
          color:#0876FF;
        }
        &.active{
          background: #0876FF;
          color:#fff;
          &:hover{
            color:#fff;
          }
        }
      }
    }

    .often-goods-list{
      width:1230px;
      .list-wrap{
        .no-always-buy{
          height:240px;
          background: #F7F7F7;
          border: 1px solid #EEEEEE;
          margin-top:20px;
          .info-tip{
            margin-left:19px;
          }
          .mod-always-buy{
            width:600px;
            margin:60px auto;
            p{
              font-size: 18px;
              color: #333333;
              line-height:25px;
            }
            .btn-wrap{
              .btn{
                font-size:12px;
                padding: 7px 9px;
              }
              .btn-check-all{
                background: #F8F8F8;
                border: 1px solid #DDDDDD;
                color: #666666;
                padding:7px 14px;
                margin-right:7px;
              }
            }
          }
        }
      }
      .list {

        .price_discount{
          position: absolute;
          bottom: 22px;
          left:0;
          display:none;
          &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 3px;
            border-color: #ff5342 transparent transparent;
            border-style: solid;
            left: 31px;
            bottom: -6px
          }
          span{
            padding: 0 1px;
            font-size: 12px;
            line-height: 14px;
            border: 1px solid #ff5342;
            height: 15px;
            box-sizing: border-box;
            display: inline-block;
            color: #ff5342;
            background: #fff;
            &:first-child{
              border-color: #ff5342;
              background: #ff5342;
              color: #fff;
            }
          }
        }
        .product-cart{
          display:none;
        }
        margin-top: 10px;
        .goods-info{
          font-size: 12px;
          color: #333333;
          line-height:17px;
          &:hover{
            text-decoration: none;
            color: #0876FF;
          }
        }
        .company-info{
          font-size: 12px;
          color: #999999;
          line-height:17px;
          a{
            color: #999999;
            &:hover{
              text-decoration: none;
              color: #0876FF;
            }
          }
        }
        .icon-gather{
          display:block;
          height:16px;
          line-height:16px;
          vertical-align:bottom;
          margin-top:6px;
          font-size: 16px;
          .box{
            position:relative;
            float:left;
            img{
              margin-right: 5px;
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
            .serviceName{
              display:none;
              font-size:12px;
              padding: 8px 11px;
              position: absolute;
              height: 32px;
              color: #666;
              z-index: 10;
              background: #fff;
              border: 1px solid #ddd;
              box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
              border-radius: 2px;
              width: 100px;
              text-align: center;
              margin: 7px 0 0 -10px;
            }
            &:hover{
              .serviceName{
                display:inline-block;
              }
            }
          }
        }
        ul{
          padding:0;
        }
        li {
          width: 228px;
          height: 385px;
          margin-right:15px;
          &:hover{
            .product-cart{
              display:block;
            }
          }
          &.product {
            border: 1px solid #eee;
            .product-image {
              width: 208px;
              height: 208px;
              position: relative;
              img {
                display:inline-block;
                text-align:center;
                line-height:208px;
                font-size:14px;
              }
              .availablePlan, .stockNum, .regionSell {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                height: 26px;
                line-height: 26px;
                background-color: #333;
                color: #fff;
                opacity: 0.6;
                text-align: center;
              }
            }
            .product-price {
              margin: 9px 0 6px;
              i{
                color:#F5C323;
                vertical-align:bottom;
                margin-right:2px;
              }
              .currency {
                font-family: Arial-BoldMT;
                font-size: 20px;
                color: $priceColor !important;
                vertical-align: bottom;
                position:relative;
                &:hover{
                  .price_discount{
                    display:block;
                  }
                }
              }
              .sale-volume {
                font-family: MicrosoftYaHei;
                color: #999;
              }
            }
            .product-desc {
              margin: 0;
              margin-top:16px;
              width: 211px;
              height: 34px;
              overflow: hidden;
            }
            .product-owner {
              //top: 301px;
              position: static;
              margin-bottom: 6px;
              a {
                color: $parTextColor !important;
                &:hover {
                  color: $blueColor !important;
                }
              }
            }
            .product-type {
              //position: absolute;
              //top: 325px;
              float: right;
              height: 16px;
              .tooltips {
                height: 37px;
              }
            }
            .product-tag {
              position: absolute;
              top: -8px;
              right: 5px;
              height: 16px;
            }
            .product-cart {
              button {
                height: 30px;
              }
              .addToCart {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 113px;
                background-color: $cartSubmitColor;
                color: #fff;
                vertical-align:bottom;
                &:hover {
                  background: $priceColor;
                }
                &.disabled {
                  background: #BBBBBB;
                  color: #fff;
                  &:hover {
                    background: #BBBBBB;
                  }
                }
                i {
                  margin-right: 2px;
                  vertical-align:bottom;
                }
              }
              .insert-compare {
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 113px;
                border-top: 1px solid #dfdfdf;
                background-color: #fff;
                padding: 6.5px 20px;
                line-height: 15px;
                border-radius: 0;
                color: #2A2A2A;
                cursor:pointer;
                i{
                  float: left;
                  margin: 1px 4px 0 0;
                  color:#999;
                  vertical-align:bottom;
                }
                &:hover{
                  color:#FF7056;
                  i{
                    color:#FF7056;
                  }
                }
              }
              .tooltips {
                position: absolute;
                bottom: 0;
                min-height: 145px;
                padding: 11px 0 11px 11px;
                width: 100%;
                left: 0;
                background: #fff;
                border: 1px solid #ddd;
                box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
                button,input {
                  padding: 5px 7px;
                  margin: 0 2px 5px 0;
                  height: 24px;
                  color: $parTextColor;
                  border: 1px solid #ddd;
                }
                .goods-attr {
                  margin: 8px 0;
                  .selected {
                    border: 1px solid $cartSubmitColor;
                  }
                }
                .cart-oper {
                  margin-top: 15px;
                  .addToCartSubmit {
                    background-color: $cartSubmitColor;
                    color: #fff;
                    border: 1px solid $cartSubmitColor;
                  }
                  .btn {
                    padding: 5px 12px;
                  }
                }
              }
            }

          }
          &.product.last {
            margin-right: 0;
          }
          &:hover, &.hovered {
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
          }

          .check-select {
            position: absolute;
            i {
              font-size: 20px;
              color: $color-secondary;
            }
            &.active {
              i {
                color: $color-danger;
              }
            }
          }
          .add-cart {
            float: right;
            margin-right: 20px;
            i {
              font-size: 30px;
              color: black;
            }
          }
        }

        .view-mode-thumb {
          display: table;
        }
        .view-mode- {
          thead {
            > tr {
              background: #fff;
            }
          }
          tbody {
            > tr {
              &.odd {
                background: $bgColor;
              }
              &.even {
                background: #fff;
              }
              &.checked-style{
                background-color:#F0F7FF;
              }
              a {
                color: #333;
                font-style: normal;
                &:hover {
                  color: $blueColor;
                }
              }
            }
            .price-style{
              color: #FF5342;
              font-size: 16px;
            }
            em{
              font-style:normal;
            }
          }
          display: none;
        }
      }
    }
  }

}