{{#if type}}
    {{#ifCond type "!==" ""}}
        {{#component "auditing-warp clearfix js-comp"}}
            <span class="auditing-title js-auditing-title" data-type="{{type}}" data-itemid="{{itemAuditId}}">
                商品{{#ifCond type "==" "1"}}初审{{/ifCond}}{{#ifCond type "==" "2"}}终审{{/ifCond}}
            </span>
            <div class="auditing-box">
                <div class="auditing-result clearfix">
                    <span class="pull-left auditing-title-s">审核结果：</span>
                    <div class="pull-left result-box">
                        <ul class="result-radio clearfix">
                            <li>
                                <label>
                                    <input type="radio" class="no-disabled js-agree-radio" data-passed=true name="agree" checked />
                                    同意
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" class="no-disabled js-agree-radio" data-passed=false name="agree" />
                                    不同意
                                </label>
                            </li>
                        </ul>
                        {{#ifCond type "==" "1"}}
                        <div class="result-content">
                            <span>下一环节进入</span>
                            <span class="next-item" name="next">终审</span>
                            <span>执行人</span>
                            <select id="operators" class="no-disabled" name="zxr">
                            </select>
                        </div>
                        {{/ifCond}}
                    </div>
                </div>
                <div class="auditing-opinion clearfix">
                    <span class="pull-left auditing-title-s">审核意见：</span>
                    <div class="pull-left opinion-box">
                        <!--<div class="opinion-box-header">-->
                            <!--<select class="no-disabled">-->
                                <!--<option>常用意见</option>-->
                            <!--</select>-->
                            <!--<span>存为常用意见</span>-->
                        <!--</div>-->
                        <div class="opinion-edit-box">
                            <textarea class="opinionText" maxlength="500" name="opinion"></textarea>
                            <div class="font-num－box">
                                <span class="cur-num js-cur-num">0</span> / 500
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box clearfix">
                    <div class="submit-btn js-submit-opinion" data-issub=false>提交</div>
                    <div class="cancel-btn hide">取消</div>
                </div>
            </div>
        {{/component}}
    {{/ifCond}}
{{/if}}