@import "pokeball/theme";
@import "compass/css3/inline-block";

$color-border: #eee;

.shop-cart-manufacture {
  text-align: center;
  position: relative;
  padding: 9px 0;
  width: 100%;
  background: rgba(255,255,255,0.70);
  border: 1px solid #474E56;
  &:hover{
    background-color: rgba(255,255,255,0.70);
    color: #ffffff;
    i.icon-cart{
      color: #474E56;;
    }
    span{
      color: #474E56;
    }
  }
  a {
    color: inherit;
  }
  span {
    @include inline-block();
    width: 65px;
    color: $navy;
  }

  #js-cart-count{
    position: absolute;
    top: -6px;
    left: 93px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    padding: 1px 2px;
    background-color: $lightred;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
  }

  .icon-zcy {
    @include inline-block();
    width: 20px;
    font-size: 20px;
    color: $navy;
  }

  .icon-cart {
    color: #197aff;
    margin-top: 1px;
    margin-left: 15px;
    font-size: 25px;
  }

  .icon-nextstep {
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
  }

  .right-blank {
    position: absolute;
    height: 1px;
    background-color: white;
    width: 100%;
    z-index: 100;
  }

  .blank-cart {
    line-height: 14px;
    height: 100px;
    padding: 43px 0;
    text-align: center;
  }

  .cart-extra {
    position: absolute;
    width: 340px;
    right: -1px;
    z-index: 99;
    background-color: white;
    border: 1px solid $color-border;
  }

  .exit-cart {
    text-align: left;
    .cart-below-title {
      line-height: 33px;
      margin-top: -2px;
      width: 56px;
    }

    .label-content {
      width: 40px;
      line-height: 33px;
      margin-top: -3px;
    }

    .product-cart-list {

      .product-cart-li {
        height: 100px;
        padding: 0 10px;
        position: relative;
        border-top: 1px solid $color-border;

        .cart-product-img {
          width: 60px;
          height: 60px;
          margin-top: 20px;
          background-size: 100% 100%;
        }

        .single-info {
          position: relative;
          @include inline-block();
          width: 180px;
          margin-left: 10px;
          line-height: 14px;
          top: -27px;
        }

        .delete-cart-product {
          float: right;
          line-height: 45px;
        }
        .single-sale {
          position: absolute;
          right: 10px;
          bottom: 10px;
        }

        .all-sale {
          @include inline-block(baseline);
        }
      }

      .bottom-control {
        position: relative;
        height: 45px;
        padding-top: 9px;

        .now-settle {position: absolute;right: 0px; bottom: 0;line-height:30px; width:120px;}
      }
    }
  }
}
