.invoice-invoiceSettings{
  .top-tips {
    line-height: 32px;
  }
  .table{
    border-color: #e7e9ea;
    tbody tr{
      border-width: 0 0 1px 0;
      border-color: #e7e9ea;
    }
  }
  .chy{
    &:hover {
      background-color: #f7f7f7;
      td.set-default {
        > a{
          display: inline-block;
        }
      }
    }
    td.set-default{
      > a{
        display: none;
      }
    }
  }
  .icon-warningfill{
    color:#aaa;
    margin-left:2px;
    margin-top:-2px;
    cursor:pointer;
    &:hover{
      color:#197AFF;
    }
  }
  .custom-content {
    max-width: 200px;
  }
}
.showRequired:before{
  content: ""!important;
}



