.evees-comp{
  display: inline-block;
  vertical-align: middle;
  .inline-block{
    display: inline-block;
  }
}
.eevee-col-row{
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  text-align: left;
  margin-left: 0;
  white-space: normal;
  width: 1200px;
}
.eevee-grids{
  text-align: center;
}
.eevee-col-box{
  display: inline-block;
}