.component-warehouse-manage {
  .warehouse-table {
    margin-top: 20px;
  }
  .component-header{
    padding: 10px 20px!important;
    //不要写IMPORTANT!!!
  }
}

.warehouse-info-modal {
  .template-area {
    width: 950px;
    margin-top: 10px;
  }

  .control-group .control-label {
    width: 70px;
  }
}

.warehouse-area-modal {
  .area-info {
    min-width: 400px;
  }
}
