<div class="modal asocciate-districts-modal">
  <div class="modal-header">
    <h2>关联区划</h2>
  </div>
    <div class="modal-dialog">
      <div>
        <label>已选区划:</label>
        <div class="js-related-districts related-districts">
          {{#each districts}}
            <span class="district-label" data-item="{{json this}}">
              <span class="district-text">{{fullName}}</span>
              <button class="js-delete-district"><i class="icon-zcy icon-close"></i></button>
            </span>
          {{/each}}
        </div>
      </div>
      <div>
        <label>添加关联区划:</label>
        <div id="districttree" class="district-tree"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-medium btn-success" type="submit">{{i18n "Confirm" bundle="all_mix"}}</button>
      <button class="btn btn-medium close" type="button">{{i18n "Cancel" bundle="all_mix"}}</button>
    </div>
</div>
