.purchase-plan-manage{
  .purchase-plan-box {
    display: inline-block;
    height: 60px;
    width: 140px;
    border: solid 1px #ccd0d6;
    text-align: center;
    margin: 4px;
    .purchase-plan-no {
      margin-bottom: 16px;
      height: 20px;
      a{
        overflow: auto;
      }
    }
    .btn {
      width: 60px;
      text-align: center;
      font-size: 12px;
      padding: 2px;
      border-radius: 4px;
    }

  }
  .red-text{
    color: #FF2300;
  }
  .green-text {
    color: #00B22D;
  }
  .item-catalog {
    text-overflow: ellipsis;
    padding: 0 20px 0 0;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    max-height: 20px;
    display: inline-block;
  }
  .bottom-tips {
    color: #666666;
  }
}