{{#component "selectric_tree js-comp"}}
  <input data-type="tree_type" data-type-value="{{_type}}" data-limit="{{_limit}}" class="hide"/>
  <div class="selectric-tree-wrapper">
    <div class="selectric-tree-value hide">
      <span class="selectric-nodes"></span>
      <span class="selectric-names"></span>
    </div>
    <div class="selectric-tree">
      <p class="label">请选择</p>
      <b class="button">&#x25be;</b>
      <b class="clear hide">&times;</b>
    </div>

    <div class="selectric-tree-items">
    </div>
  </div>
{{/component}}