<ul class="flow-ul">
  <li class="flow-li">商品概况</li>
  <li class="flow-li"><input type="checkbox" class="highlight-diff high-light input-checkbox">高亮显示不同项</li>
  <li class="flow-li"><input type="checkbox" class="highlight-same connect-same input-checkbox">合并相同项</li>
</ul>
