@import "pokeball/theme";
@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";

$color-border: #eee;

.recommended-brands {
  background-color: #f5f5f5;
  position: relative;

  .tab-navs {
    background-color: #f5f5f5;
    padding-bottom: 20px;

    li {
      @include inline-block();

      &:last-child a{
        margin-right: 0;
      }

      a {
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        padding: 0 0 !important;
        margin-right: 20px;
        color: inherit;
        font-size: 12px;
        line-height: 20px;
        background-color: inherit;

        &:hover {
          background-color: inherit;
        }
      }

      &.active a{
        border-bottom: 2px solid #3366FF !important;
        color: #3366FF;
        background-color: inherit;

        &:hover {
          background-color: inherit;
        }
      }
    }
  }
  .tab-contents{
    margin-top: 0;
    background-color: white;
  }
  .left-li{
    float: left;
  }
  .comments-ul{
    li.comments-li{
      padding-bottom: 10px;
      padding-top: 20px;
      border-bottom: 1px dashed $color-border;
      &.last{
        border-bottom: none;
      }
    }
    ul{
      background-color: #fff;
      position: relative;

      li{
        padding-left: 20px;
        margin-bottom: 10px;
        &.comment-user-name {
          width: 150px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .user-name{
        color: lighten($color-info, 35%);
      }
      .comment-date{
        position: absolute;
        right: 20px;
      }
      .comment-content, .comment-reply {
        word-break: break-all;
        width: 780px;
        margin-bottom: 5px;
      }
      .comment-reply {
        color: $color-warning;
      }
    }
  }
  .spu-info{
    background-color: #fff;
    border-width: 0 1px 1px 1px;
    border-color: $color-border;
    border-style: solid;
    padding: 0 20px;
    margin-bottom: 10px;
    .attribute-li{
      width: 290px;
      margin: 10px 20px 10px 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .package-list{
    padding: 20px 20px !important;
    .package-item{
      @include inline-block(middle);
      padding: 5px 0;
      margin: 0 10px 0 0;
    }
  }
  .aftermarket{
    padding: 0 20px;
    .aftermarket-title{
      h2{
        margin: 0 auto;
        width: 200px;
        text-align: center;
        border-bottom: 4px solid $color-danger;
      }
      border-bottom: 1px solid $color-danger;
    }
    .aftermarket-body{
      padding: 20px;
      h3{
        margin-left: 40px;
        @include inline-block(middle);
      }
      p{
        margin-left: 80px;
      }
    }
  }

  .brands-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .brands-kind {
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    width: 149px;
    height: 100px;
    padding: 16px 0;
    text-align: center;
    float: left;
    margin: 0;

    a {
      padding: 0;
      margin: 0;
      border-width: 0;
    }

    &.last {
      border-right-width: 0;
    }

    &.second-line {
      border-top: 1px solid #f5f5f5;
    }

    img {
      height: 100%;
    }
  }

  .push-right {
    position: absolute;
    right: 0;
  }

  .push-left {
    float: left;
    font-weight: 900;

    .font-20 {
      line-height: 20px;
    }

  }
}
