@import "compass/css3/inline-block";
@import "pokeball/theme";

div.order-form-detail{
  min-width: 1100px;
  padding-right: 10px;
  .icon-warningfill{
    color:#aaa;
    margin-left:2px;
    margin-top:-2px;
    cursor:pointer;
    &:hover{
      color:#197AFF;
    }
  }
  .order-form-detail-body{
    margin: 10px 0 0 0;
    .title{
      margin: 10px;
    }
    .order-title{
      font-size: 14px;
    }
    .order-info{
      font-size: 14px;
    }
    .order-form-detail-about{
      background-color: #FFFFFF;
      //padding: 15px;
    }
    .detailStatus{
      display:inline-block;
      margin-left:20px;
      padding-left:40px;
      border-left:1px solid #ddd;
      width:200px;
    }
    .order-deliveries{
      margin-top: 15px;
      .tab-contents{
        background-color: #FFFFFF;
        padding: 15px;
        margin-top: 0;
        .order-title{
          margin-top: 15px;
          margin-bottom: 10px;
          &:first-child{
            margin-top: 0;
          }
        }
        .deliveryInfo{
          line-height: 30px;
          background-color: #FFFFFF;
          border-width: 0;
          label{
            color: black;
          }
        }
      }
    }
    .order-invoices{
      margin-top: 15px;
      background-color: #FFFFFF;
      //padding: 15px;
      label{
        color: black;
      }
    }
    .order-payments{
      margin-top: 15px;
      background-color: #FFFFFF;
      //padding: 15px;

      .change-confirm-book {
        float: right;
        line-height: 35px;
        font-size: 12px;
        margin-right: 20px;
      }
    }
    .pur-all-payments{
      margin-top: 10px;
      table{
        margin-top: 10px;
        border-width: 0 !important;
        tr{
          border-width: 0 !important;
        }
        td{
          border-width: 0 !important;
          background-color: #F7F7F7  !important;
        }
      }
    }
    .sku-attrs{
      color: #BBB;
    }
    table{
      //width: 960px;
      thead{
        tr{
          background-color: #F7F7F7;
          color: #9F9F9F;
          th{
            border: 1px solid $color-border;
            border-width: 0 0 1px 0;
            &:first-child{
              border-width: 0 0 1px 1px;
            }
            &:last-child{
              border-width: 0 1px 1px 0;
              text-align: right;
            }
          }
        }
      }
      tbody{
        tr{
          border: 1px solid #e7e9ea;
          td{
            border-width: 0 0 1px 0;
            padding-top: 10px;
            padding-bottom: 10px;
            &:first-child{
              border-width: 0 0 1px 1px;
            }
            &:last-child{
              border-width: 0 1px 1px 0;
              text-align: right;
            }
            &.no-border{
              border-width: 0;
              padding: 10px;
            }
          }
          &.first-level-tr{
            border-width: 0 0 1px 2px;
          }
          &.no-border{
            border-width: 0;
          }
          a {
            color: #2687d0
          }
        }
      }
    }
    .price, .currency{
      color: #FE7800;
    }
    .no-href{
      color: #9E9E9C;
    }
    .order-form-detail-about{
      table{
        border-width: 0;
        td{
          border-width: 0;
          padding:0 !important;
        }
      }
    }
    .requireListContent table tr td:last-child{
      text-align: left;
    }
    .requireListContent table tr th:last-child{
      text-align: left;
    }

    .contract-info-table,
    .contract-info-tr{
      .disabled {
        &,
        *,
        *::after,
        *::before {
          cursor: not-allowed;
          pointer-events: none;
          background-color: #eee;
        }
      }
    }
    .contract-info-table {
      tbody {
        td {
          text-align: left;
        }
      }
    }
    .text-center {
      text-align: center;
    }

  }
  .float-hidden {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
  }

  .order-form-detail-foot{
    margin-top: 15px;
  }
  .popover {
    max-width: 800px;

    table tr{
      background-color:#fff !important;
    }
    table tr td {
      border-width: 0 !important;
    }
  }
  .more{
    font-size: 12px;
    margin-left: 20px;
    cursor: pointer;
  }
  .oraginCircular{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:#666;
    float: left;
    border: 2px solid #e5e9ee;
    margin-top: 8px;
    margin-right: 10px;
  }


  .listBtnNormal {
    border: 1px solid #bbb;
    color: #333;
    padding: 8px;
    cursor: pointer;
  }
  .list-active {
    border: 1px solid #1eb6f8;
    color: #1eb6f8;
  }
  .trade-panel-title .tabletop{
    display:inline-block;
    font-size:12px;
  }
  .sr-flowLog table {
    border:0 solid #ccd0d6;
    width: auto;
    tbody tr{
      border:0 solid #ccd0d6;
    }
    .sr-line {
      position: absolute;
      left: 15px;
      top: 24px;
      bottom: 0;
      width: 1px;
      height: 100%;
      border-left: 2px solid #ccd0d6;
      margin-bottom: 0;
      margin-left: 0;
      margin-top: 0;

      &.line-dashed {
        border-left-style: dashed;
      }
    }
  }
}
