@import "compass/css3/inline-block";
@import "pokeball/theme";

div.req-process{
  .req-process-body{
    //width: 990px;
    //background-color: #FFFFFF;
    //padding: 15px;
    margin: 10px 0 0 0;
    .css-title{
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 14px;
      &:first-child{
        margin-top: 10px;
      }
    }
    .selectric-select .selectric{
      background-color: #ffffff;
      width: 200px;
      //padding: 6px 5px;
    }
    .selectric-select-addr .selectric{
      width: 450px;
      //padding: 6px 5px;
    }
    table{
      //width: 960px;
      //margin-top: 20px;

      tbody{
        tr{
          border: 1px solid #e7e9ea;
          td{
            text-align: left;
            border-width: 0 0 1px 0;
            padding-top: 10px;
            padding-bottom: 10px;
            &:first-child{
              border-width: 0 0 1px 1px;
            }
            &:last-child{
              border-width: 0 1px 1px 0;
              text-align: right;
            }
            .req-detail-item{
              display: inline;
              .item-logo{
                float: left;
                padding-right: 5px;
              }
              .item-description{
                //float: left;
                padding-left: 5px;
                a{
                  color: #197AFF;
                }
                .sku-name{
                  overflow: hidden;
                  box-sizing: inherit;
                  text-overflow: ellipsis;
                }
                .sku-attrs{
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #A4A4A4;
                }
              }
            }
          }
          &.first-level-tr{
            border-width: 0 0 1px 2px;
          }
          &.second-level-tr{
            display: none;
          }
          &.shop-name{
            display: none;
          }
        }
      }
      td{
        overflow: visible;
      }
      &.req-process-table{
        margin-bottom: 10px;
      }
    }
    .req-checklog{
      border-width: 0;
      .checklog-table{
        border-width: 0;
      }
      .checklog-tr{
        border-width: 0;
      }
      .checklog-td{
        border-width: 0;
      }
      .select-checker{
        width: 150px;
        color: #333;
      }
      select{
        background-color: #F7F7F7;
        border-width: 0;
        width: 110px;
        color: #9F9F9F;
      }
      textarea{
        width: 300px;
        height: 100px;
      }
      .checklog-comment-count{
        display: inline;
      }
    }
  }
  .req-process-foot{
    &.block{
      background-color: #FFFFFF;
      border-width: 0;
    }
    .req-result{
      float: right;
      .total-price{
        margin: 0 0 0 40px;
        .currency{
          font-size: 16px;
        }
      }
    }
  }

  .price, .currency, .css-price{
    color: #FE7800;
  }
  .no-href{
    color: #9E9E9C;
  }
  .req-process-foot{
    padding-right: 15px !important;
  }
  .req-process-foot-operate{
    //background-color: #FFFFFF;
    //text-align: right;
    .req-process-operate-button{
      padding: 0 15px 10px 0px;
    }
  }
  .block{
    padding: 20px 0;
  }
}
