{{#component "js-comp reverse_district"}}
  <input type="hidden" value="{{_USER_.districtId}}" name="user_districtId">
  <div class="search-container">
    <i class="icon-zcy icon-sousuo- search-i"></i>
    <span class="senior-search">高级搜索</span>
    <input type="text" name="purchase-search" value="{{code}}" placeholder="输入采购需求或采购单位进行搜索">
    <div class="search-modal">
      <div>
        <label for="keyword" class="title-item">关键字:</label>
        <i class="icon-zcy icon-roundclose close-i"></i>
        <input type="text" id="keyword" name="keyword-search" placeholder="输入采购需求或采购单位进行搜索">
      </div>
      <div>
        <label class="title-item">所在地:</label>
        <input type="radio" name="reverse-location"  class="radio-reverse-first" style="margin-right: 10px" data-index="0" value="0" checked>不限
        <input type="radio" name="reverse-location" style="margin: 0 10px 0 68px;" data-index="1" value="1">
        <div class="selectric-wrapper selectric"><p class="label district-text">请选择所在地</p><b class="button">▾</b></div>
      </div>
      <!--<div class="time-position" data-start="{{startSearchTime}}" data-end="{{endSearchTime}}">-->
      <div class="time-position">
      <label class="title-item">竞价时间:</label>
        <span class="container-date"><input class="date1 search date-input mr" name="startTime"  readonly  type="text" placeholder="开始时间">-<input class="date1 search date-input mr ml" name="endTime" readonly  type="text" placeholder="结束时间"></span>
      </div>
      <button class="btn btn-reverse-sure">确定</button>
      <button class="btn btn-reverse-reset">重置</button>
    </div>
    <div class="location-container">
      <div class="location-header">
        <div class="panel-container">
        </div>
        <div class="submit-btn-container">
          <button class="btn btn-info">提交</button>
        </div>
      </div>
      <div class="location-body" data-first="true">
        <!--浙江省
        <div class="dt-province" data-pos="1" data-id="953" data-code="330000" data-child="true" data-text="浙江省">
          <div class="border"><input type="checkbox" data-code="330000" data-child="true" data-text="浙江省" name="province">浙江省<i class="icon-zcy icon-xiangxiazhedie"></i></div>
        </div>-->
      </div>
    </div>
  </div>
{{/component}}