@import "compass/css3/inline-block";
@import "pokeball/theme";

.item-publish {

  margin-top: 0;
  padding:0;
  .inline {
    display: inline-block;
  }

  .wd-300 {
    width: 300px;
  }

  .selected-category-box {
    margin: 20px 0;
  }

  .selected-category {
    border: 0;
    background-color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    color:#666;
    width: auto;
  }

  .section-title {
    display: block;
    font-size: 14px;
    margin-left: 20px;
  }

  .section-content {
    margin-left: 76px;
  }

  .delivery-list-area {
    padding: 20px 10px;
    margin: 0;
    list-style-type: none;
  }

  .delivery-template {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
    padding-left: 10px;
  }

  .group-content.error {
    .selectric {
      border-color: $color-danger;
    }
  }
  .line-h-32 {
    line-height: 32px;
  }
  .b-hide {
    display: none;
  }
  .select-box{
    margin-bottom: 10px;
  }
  .address-select {
    width: 120px;
  }

  .selectric-sku-select {
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
    .selectric{
       width: 100px;
    }
  }
  .panel {
    margin: 20px 0;

    .panel-header {
      position: relative;
      padding: 10px 20px;
      background-color: #f8f8f8;
      color: #333333;
      font-size: 14px;
    }

    .panel-body {
      position: relative;
      padding: 20px;
      background-color: #ffffff;
    }
  }
  .search_box {
    border: 1px solid #d0cbcb;
    position: absolute;
    width: 160px;
    height: 200px;
    color: #807e7e !important;
    background-color: white;
    padding: 5px;
    overflow-y: auto;
    li {
      cursor: pointer;
      &:hover {
        background-color: rgb(88,151,251);
      }
    }
  }
  .control-group .note-error.note-icon {
    padding-right: 20px;
    margin-left: -40px;
  }
  .form-section {
    .section-content {
      .attribute-list {
        .attr-show-composites-li {
          width: 100%;
          .attribute-composites {
            width: 90%;
            background: #fff;
            padding-top: 20px;
            .attr-show-li {
              width: 100%;
            }
          }
        }
        .attr-show-multi-li {
          width: 100%;
          .multi-content {
            line-height: 32px;
            min-height: 32px;
            label {
              width: auto;
            }
          }
        }
      }
    }
  }

  .category-attr-input.multi-content {
    .multi-input-append {
      display: none;
      width: 220px;
    }
  }
}



