@import "compass/css3/inline-block";
@import "pokeball/theme";

.category {
  height: 100%;
  @include inline-block(middle);
  float: left;
  width: 180px;
  position:relative;
  border: solid $color-border;
  border-width: 1px 1px 0 1px;
  *padding: 0 0 0 0;
  _border: 0;
  margin-left: -1px;

  &:first-child {
    margin-left: 0;
  }

  .category-header {
    padding: 0 7px;
    text-align: left;
  }

  .search-item {
    height: 40px;

    .search-item-group {
      padding: 8px 7px 0;
      position: relative;
    }

    i {
      position: absolute;
      top: 12px;
      right: 12px;
    }

    input {
      width: 100%;
      padding: 4px 25px 4px 4px;
    }
  }

  .category-body {
    width: 100%;
    padding: 0;
    position: absolute;
    top: 30px;
    bottom: 0px;
    overflow: hidden !important;
    _position: relative;/**IE6***/
    _top: 0px;
    _OVERFLOW-Y: auto;
    _OVERFLOW-X: auto;
    _height:100%;
    _padding: 0 0 30px 0;

    .attribute-search {
      width: 140px;
    }

    .divide-ul {
      width: 100%;
      position: absolute;
      top: 40px;
      bottom: 0px;
      overflow: auto !important;
      _position: relative;/**IE6***/
      _top:0px;
      _OVERFLOW-Y: auto;
      _OVERFLOW-X: auto;
      _height:100%;
    }

    .divide-li{
      *cursor: hand;
      cursor: pointer;
      margin-top: 1px;
      line-height: 27px;
      padding: 0;

      .normal-status {
        padding: 3px 8px 2px 7px;
        label.status{
          display: inline-block;
          float: right;
          width: 46px;
          border-radius: 4px;
          height: 24px;
          line-height: 24px;
          background: #f0f0f0;
          transform: scale(0.75);
          text-align: center;
        }
      }

      .item-pop {
        width: 120px;
        @include inline-block(middle);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $color-text;

        &.frozen{
          width: 86px;/*为了给window下出现的傻逼滚动条流出空间*/
          color: #999999;
        }
        .category-info {
          width: 100%;
          @include inline-block(middle);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &.selected {
        background-color: $menu-selected;

        .item-pop {
          color: $color-primary;
        }

        &:hover{
          background-color: $menu-selected;
        }
      }

      &:hover{
        background-color: $menu-selected;

        .item-pop{
          color: $color-primary;
        }
      }

      .category-info {
        width: 100%;
        @include inline-block(middle);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      i {
        font-size: 12px;
        @include inline-block(middle);

        &.next {
          float: right;
          margin-right: -4px;
        }

        &.hide {
          display: none !important;
        }
      }
    }

    .disappear{
      display: none !important;
    }
  }
}
.category{
  *display: inline;
}

.category-last{

  .category-body{
    margin-top: 0px;
    border-right: 0px;
  }
}

.category-spu{
  margin-right: 0px;

  .category-body{
    margin-top: 0px;
    border-right: 0px;
  }
}
