.goodsHall-navList{
  display:inline-block;
  .nav-categorys {
    width:205px;
    overflow-y: auto;
    border:1px solid #016ae6;
    .nav-header{
      background-color: #016ae6;
      width:100%;height:40px;
      font-size: 14px;
      color:#fff;
      line-height: 40px;
      padding-left:18px;
    }
    a.child-name{
      color:#333;
    }
    a.child-name:hover{
      color:#016ae6;
    }
    dl{
      width:100%;
    	line-height: 22px;
      dt{
        padding-left: 18px;
        font-size: 14px;
        color:#24344e;
        font-weight: bold;
      }
      dd{
        cursor:pointer;
        display: inline-block;
        padding:0 18px;
        margin:0;
        position:relative;
      }
    }
  }
}