<td class="center-text">
  <div class="td-inner-line">
    <label class="control-group">市场价&nbsp;&nbsp;<input type="text" class="sku-price-input js-sku-origin-price js-need-validated" pattern="^\d+(\.\d{0,2})?$" value="{{formatPrice extraPrice.originPrice}}" placeholder="请输入数字">
      <span class="note-error note-icon hint--top" aria-label="请输入数字">
        <i class="icon-pokeball icon-pokeball-error "></i>
      </span>
    </label>
  </div>
</td>
