.component-supplierList{
  .detail-box{
    min-height:300px;
  }
  .floor-body{
    .supplier-list{
      width:1215px;
      li.list-li{
        position: relative;
        width: 390px;
        height:277px;
        margin: 10px 10px 10px 0;
        display: inline-block;
        background:#fff;
        .supplier-mask{
          position: absolute;
          background-color: rgba(0, 0, 0, 0.4);
          height: 276px;
          top: 0;
          left: 0;
          right:0;
          z-index: 2;
        }
      }
      .supplier-title{
        width: 100%;
        background: #fff;
        position:absolute;
        height: 62px;
        overflow: hidden;
        z-index: 3;
        transition:height 0.5s;
        -moz-transition:height 0.5s; /* Firefox 4 */
        -webkit-transition:height 0.5s; /* Safari and Chrome */
        -o-transition:height 0.5s; /* Opera */
        padding: 10px 15px 0 15px;
        border-bottom:none;
        .supplier-name-show{
          em{
            color: #1a7aff;
            font-style: normal;
          }
        }
        &:hover{
          cursor: pointer;
          height:157px;
        }
        .scale{
          //-moz-transform:scale(1.05,1.1);
          //-webkit-transform:scale(1.05,1.1);
          //-o-transform:scale(1.05,1.1);
        }
        .title-content{
          background-color: #ffffff;
          padding-top: 12px;
          height: 110px;
          color:#999999;
          ul{
            padding-top: 10px;
          }
          li{
            margin-bottom: 20px;
            &.overflow-ell{
              height: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .score-box{
              .arrow-content{
                display: inline-block;
                margin-right: 5px;
              }
            }
            &.operator-line{
              text-align: center;
              .btn{
                margin-right: 20px;
                background: #FFC900;
                font-size: 14px;
                color: #474E56;
                padding: 7px 18px;
                &:hover{
                  background: #F0B908;
                }
              }
            }
          }
        }
        .product-image {
          display:inline-block;
          width: 134px;
          height: 40px;
          overflow: hidden;
          text-align:center;
          margin-right: 10px;
          img{
            height:100%;
          }
        }
        .title-msg{
          display: inline-block;
          width: 184px;
          .supplier-name-show{
            font-size:16px;
            color:#4A4A4A;
            line-height:22px;
          }
          .label-show{
            span{
              float:left;
              font-size:12px;
              color:#fff;
              padding:2px 3px;
            }
          }
          .label-btn{
            font-size:12px;
            background:#FFC900;
            color:#fff;
            padding:3px;
            margin-right:10px;
          }
        }
        .title-content{
          .btn-info{
          border:none;
        }
        }
        p{
          font-size: 14px;
          overflow: hidden;
          width: 180px;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
          margin: 0;
        }
      }
      .img-box{
        position: absolute;
        top: 85px;
        z-index: 1;
        width: 100%;
        padding: 0 22px 10px 22px;
        .supplier-link{
          display: inline-block;
          position: relative;
          border: 1px solid #eeeeee;
          &.fl-r{
            float: right;
          }
          img{
            width: 160px;
            height:160px;
          }
          .link-info{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            top: 0;
            padding: 0 10px;
            p{
              font-size: 12px;
              &.info-p{
                height: 72px;
                overflow: hidden;
                color: #ffffff;
                text-align: center;
                margin-top: 41px;
              }
            }
          }
        }
      }
    }
  }
}