<div class="wc-spin">
  <div class="wc-spin-circle-bg"></div>
  <div class="wc-spin-circle">
    <div class="wc-spin-circle-mask"></div>
  </div>
  <div class="wc-spin-icon"><i class="icon-zcy icon-zcy-logo"></i></div>
</div>