<div class="modal modal-questions clearfix" id="questionModal" data-event="">
  <div class="modal-header">
    <span>你可能关心的问题</span>
    <i class="icon-zcy icon-guanbi pull-right close" id="questionClose"></i>
    <a class="underline change" id="change" style="display: none">换一批</a>
  </div>
  <div class="modal-body">
    <ul>
    </ul>
  </div>
</div>
