.procurement-list {
    .oprate {
        a {
            margin-right: 5px;
        }
    }
    .newpoint {
        position: absolute;
        right: 9px;
        top: 0px;
    }
    .panel-body {
        position: relative;
        padding: 20px;
        background-color: #ffffff;
    }
}