{{#component "category-select-input js-comp"}}
  <select name="categoryId" class="category-select" data-tag="{{tag}}">
    <option value="">请选择</option>
  </select>
  <div id="item-tree" class="category-tree" hidden style="z-index: 999;"></div>
{{/component}}