@import 'compass/css3/inline-block';
@import 'pokeball/theme';
@import 'compass/css3/box-sizing';

$blue-carmaintenance: #24344e;

.fixed-car-maintenance {
  .fixed-maintenance-filter {
    border: 1px solid $border-color;
    height: 106px;

    form {
      padding: 16px 20px 10px;

      label {
        margin-right: 8px;

        &:nth-child(2) {
          margin-left: 60px;
          margin-right: 160px;
          width: 372px;
          select {
            margin-left: 5px;
          }
        }

        .selectric-wrapper {
          margin-left: 5px;
        }

        .selectric {
          width: 200px;
        }

        &:nth-child(3) {
          margin-left: 12px;
          margin-top: 10px;
        }

        &:nth-child(4) {
          margin-left: 60px;
          margin-top: 10px;
          padding-left: 24px;
        }

      }

      input {
        height: 32px;
        margin-left: 5px;
        width: 200px;
      }
    }

    .form-left {
      float: left;
      width: 80%;
    }

    .form-right {
      float: left;
      position: relative;
      width: 20%;

      button {
        background-color: $white;
        border: 1px solid $border-color;
        color: $blue-carmaintenance;
        height: 32px;
        position: absolute;
        top: 0;
        width: 56px;

        &:hover {
          color: $lightgray;
        }

        &:first-child {
          right: 85px;
        }

        &:nth-child(2) {
          right: 0;
        }

      }

    }

  }

  .fixed-maintenance-list {

    margin-top: 30px;

    li {
      float: left;
      height: 164px;
      margin: 0 40px 40px 0;
      position: relative;
      width: 560px;

      .item-logo {
        float: left;
        height: 164px;
        overflow: hidden;
        width: 220px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .item-desc {
        float: left;
        height: 48px;
        margin-left: 18px;
        width: 320px;

        h3 {
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
          margin: 0;
          text-align: left;

          a {
            color: $blue-carmaintenance;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
          }
        }

        p {
          color: $gray;
          font-size: 12px;
          line-height: 24px;
          margin: 0;
          white-space: normal;
        }

        .itemdesc-val {
          color: $blue-carmaintenance;
        }

      }

    }

  }

  .fixed-maintenance-list-pagination {
    font-size: 14px;
    height: 40px;
    text-align: right;
    width: 100%;
  }

}
