{{#component "protocol-accessory-config-info js-comp"}}
  <div class="modal-header" style="font-size:16px">配置信息
    <i class="icon-zcy icon-guanbi pull-right close cursor-pointer"></i>
  </div>
  <div class="modal-body">
    <div class="col-12">
      <div class="panel">
        <div id="itemInfo">

        </div>
      </div>
    </div>
  </div>
{{/component}}