.service-sign-desk {
  .tip-info {
    font-size: 12px;
    color: #999999;
    .icon-zcy {
      color: #F2C200;
      vertical-align: baseline;
    }
  }
  .service-list {
    margin-top: 20px;
    min-width: 800px;
    min-height: 150px;
    .title {
      font-size: 16px;
      color: #24344E;
      letter-spacing: 0;
      font-weight: bold;
    }
    .list {
      padding: 20px 0;
    }
  }
  .service-block {
    float: left;
    width: 270px;
    height: 90px;
    background: #F5F5F5;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    .signed-mark {
      display: none;
    }
    &.signed {
      background: #EAF6FC;
      .signed-mark {
        display: inline-block;
        position: relative;
        background: #CEE3ED;
        width: 35px;
        height: 35px;
        border-radius: 16px;
        padding: 8px 0 0 6px;
        top: -30px;
        left: 240px;
        .icon-zcy {
          font-size: 12px;
          color: #ffffff;
        }
      }
    }
    .icon {
      float: left;
      width: 60px;
      height: 60px;
      margin: 15px;
      img {
        max-width: 60px;
        height: 60px;
      }
    }
    .content {
      width: 172px;
      margin: 15px 0 15px 0;
      float: left;
      .info {
        height: 22px;
        .title {
          font-size: 16px;
          color: #24344E;
          line-height: 22px;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 120px;
        }
        .status {
          float: right;
          font-size: 12px;
          color: #999999;
          .icon-zcy {
            color: #AAAAAA;
            vertical-align: baseline;
          }
          .red-text {
            color: #FF2200;
          }
        }
      }
      .operations {
        margin-top: 16px;
        font-size: 12px;
        color: #4A90E2;
        letter-spacing: 0;
        line-height: 22px;
        a {
          margin-right: 5px;
          &.btn {
            background: #197AFF;
            height: 24px;
            width: 64px;
            font-size: 12px;
            color: #FFFFFF;
            line-height: 24px;
            padding: 0;
          }
        }
      }
    }
  }
}

.service-detail-modal {
  width: 600px;

  .modal-header {
    .modal-title {
      margin-left: 0;
      font-size: 14px;
    }
    a {
      font-size: 18px;
    }
  }
  .modal-body p {
    min-height: 160px;
  }
}

.qualification-check-modal {
  width: 500px;

  .modal-header {
    .modal-title {
      margin-left: 0;
      font-size: 14px;
    }
    a {
      font-size: 18px;
    }
  }

  table {
    width: 100%;
    thead tr {
      height: 32px;
      background: #F7F7F7;
      th {
        font-size: 12px;
        color: #666666;
        line-height: 18px;
        font-weight: normal;
        text-align: left;
        padding-left: 10px;
      }
    }
    tbody tr {
      height: 44px;
      border-bottom: 1px solid #E7E9EA;
      td {
        font-size: 12px;
        color: #666666;
        line-height: 18px;
        font-weight: normal;
        text-align: left;
        padding-left: 10px;
      }
    }
  }
  .check-result {
    font-size: 12px;
    vertical-align: top;
  }
}