{{#component "service-sign-desk js-comp"}}
  <div class="component-header">
    <div class="component-title">加入服务</div>
  </div>
  <div class="component-body">
    <div class="tip-info">
      <i class="icon-zcy icon-messagealertfill"></i>
      您对服务商品的任何操作在24小时后才会在前台真正生效
    </div>
    <div class="base service-list">
      <div class="title">基础服务</div>
      <div class="list"></div>
    </div>
    <div class="special service-list">
      <div class="title">特色服务</div>
      <div class="list"></div>
    </div>
  </div>

{{/component}}