{{#component "vaccine-sale-manage trade-manage js-comp clearfix"}}
  <div class="trade-panel">
    <div class="trade-panel-top">
      <div class="trade-panel-title">疫苗禁售设置</div>
    </div>
    <div class="trade-panel-body">
      <div class="top-line">
        <select name="year"></select>
        <select name="month">
          <option value="0">1月</option>
          <option value="1">2月</option>
          <option value="2">3月</option>
          <option value="3">4月</option>
          <option value="4">5月</option>
          <option value="5">6月</option>
          <option value="6">7月</option>
          <option value="7">8月</option>
          <option value="8">9月</option>
          <option value="9">10月</option>
          <option value="10">11月</option>
          <option value="11">12月</option>
        </select>
        <label class="forbid-sale-label"><input type="checkbox" class="input-checkbox" name="forbidSale">开启11号至月底禁售</label>
      </div>
      <div class="calendar-area">
      </div>
    </div>
  </div>

  <div class="modal add-white-list hide" id="vaccine-supplier-list">
    <div class="modal-header">添加白名单
      <a href="javascript:void(0)" class="close">&times;</a>
    </div>
    <div class="modal-body">
      <select name="supplierSelect" class="noselectric">
        <option value="">请选择</option>
      </select>
    </div>
    <div class="modal-footer">
      <div class="modal-footer-option">
        <button class="btn btn-info btn-medium close">取消</button>
        <button class="btn btn-primary btn-medium js-submit-white-list">确定</button>
      </div>
    </div>
  </div>

{{/component}}