{{#component "error-page js-comp"}}
  <div class="">
    <div class="img-box inline-b">
      <img src="/lunatone/assets/images/other-images/error-page.png"/>
    </div>
    <div class="text-word inline-b">
      <h1>抱歉，页面错误...</h1>
      <p>可能原因：权限不足 > 请联系您的机构管理员确认是否有此权限</p>
      <p class="follow-line">网址有错误 > 请检查地址是否完整或存在多余字符</p>
      <p class="follow-line">网址已失效 > 可能页面已删除，活动已下线等</p>
      <a class="btn btn-info" href="/">返回首页</a>
    </div>
  </div>
{{/component}}
