.district-select-input {
  input[name="districtName"] {
    background: #ffffff;
  }
  input.district-input {
    width: 160px !important;
    vertical-align: middle;
    font-size: 12px;
  }
  .arrow{
    display: inline;
    margin-left: -20px;
    width: 28px;
    height: 32px;
    color: #000;
    text-align: center;
  }

  .districtList {
    width: 240px;
    position: absolute;
    border:1px solid #ccd0d6;
    overflow: auto;
    background: #fff;
    padding: 10px;
  }
  .district-search-btn {
    margin-left: 10px;
    vertical-align: middle;
  }

  .tree-container {
    height: 250px;
    overflow: auto
  }
  .btn-info {
    margin-right: 10px;
  }
}