{{#component "component-item-curve js-comp chart"}}
  <a href="javascript:void(0);" class="js-price-curve price-curve-entrance" data-id="{{itemId}}">
  </a>
  <div class="js-price-curve-container price-curve-container">

  </div>
{{/component}}
