@import "compass/css3/inline-block";
@import "pokeball/theme";

div.pur-process{
  //width: 990px;
  .icon-warningfill {
    color: #aaa;
    margin-left: 2px;
    margin-top: -2px;
    cursor: pointer;
  }
  .pur-process-body{
    background-color: #FFFFFF;
    padding: 15px;
    margin: 10px 0 0 0;

    .error {
      color: $color-danger;
      margin-left: 100px;
    }

    .block{
      padding-left: 20px !important;
    }
    .pur-title{
      font-size: 14px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .add-or-select-pur-addr{
      .pur-addr-title{
        float: left;
        display: inline;
      }
      .add-pur-addr{
        float: right;
        margin-top: 20px;
      }
    }
    .set-default-addr{
      margin-left: 20px;
    }
    .ChooseAddr{
      margin: 15px 10px;
    }
    .selectric-select-inv-title .selectric{
      float: left;
      width: 200px;
      //padding: 6px 5px;
    }
    .selectric-select-addr .selectric{
      float: left;
      width: 450px;
      //padding: 6px 5px;
    }
    .pur-deliveries{
      margin-left: 10px;
      //.selected-receiver-address{
      //  line-height: 30px;
      //}
      .select-other-pur-addr{
        margin: 10px 0 10px 40px;
      }
      .receiver-address{
        display: inline;
      }
      .hiddenMulitAddrClass{
        display:none;
      }
      .hiddenUnifiedAddrClass{
        display:none;
      }
      .addr-list{
        margin: 10px 0;
        .addr-list-item {
          height: 40px;
          line-height: 30px;
          padding: 5px 0;
        }
        .addr-block {
          background-color: #F2F6F9;
          color: #24344e;
          border: 1px solid #dfdfdf;
          height: 40px;
          padding: 4px 0 4px 10px;
          margin-left: -11px;
        }
      }

      .show-all-pur-addr{

      }
      .hiddenElement {
        display: none;
      }
      .modify-addr {
        float: right;
        margin-right: 10px;
      }
      .default-addr {
        color: #999
      }
    }
    .pur-invoices{
      .selected-receiver-invoices-address{
        line-height: 30px;
      }
      .receiver-address{
        display: inline;
      }
      .hiddenMulitInvClass{
        display:none;
      }
      .hiddenUnifiedInvClass{
        display:none;
      }
      select{
        background-color: #ffffff;
      }
      .inv-doc{
        display: inline;
        .inv-title-doc{
          float: left;
          width: 205px;
        }
        .inv-addr-doc{
          float: left;
        }
      }
      .hiddenElement {
        display: none;
      }
      .inv-select-table{
        margin: 10px 0px;
        border: none;
        tr {
          border: none;
        }
        td {
          height: 40px;
          line-height: 30px;
          border: none;
          padding: 0;
        }
        .plainText{
          color: #999;
        }
        .inv-block {
          background-color: #F2F6F9;
          color: #24344e;
          border: 1px solid #dfdfdf;
        }
        .modify-inv {
          margin-right: 10px;
        }
      }
      .show-all-inv {
        margin-left: 10px;
      }
      .btn {
        margin-left: 10px;
      }
    }
    .ChooseInv{
      margin: 15px 10px;
    }
    .choose-invoices-mode {
      margin: 15px 10px;
    }
    .pur-invoices-content {
      margin-left: 10px;
      width: 600px;
      .title {
        margin: 10px 0;
        color: #999;
      }
      .invoice-content-edit {
        .default{
          width:70px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          display: inline-block;
          margin-right: 10px;
          cursor: pointer;
          position: relative;
        }
        .default-border{
          border: 1px solid #ddd;
          div{
            display: none;
          }
        }
        .checked-border{
          border: 1px solid #197AFF;
          color: #197AFF;
          div{
            display: block;
          }
        }
        .angle{
          color: #fff;
          background-color: #197AFF;
          width: 12px;
          height: 12px;
          line-height:12px;
          position: absolute;
          top:16px;
          right: 0;
          text-align: center;
        }
        textarea {
          width: 400px;
          height: 150px;
        }
        .hidden {
          display: none;
        }
      }
    }
    .add-or-select-pur-pay{
      display: inline;
      .pur-pay-title{
        float: left;
      }
      .add-pur-pay{
        float: right;
        margin-top: 30px;
      }
    }
    .pur-payments{
      .hiddenMulitPayClass{
        display:none;
      }
      .receiver-mulit-payments{
        margin-top: 10px;
      }
    }
    .pur-all-payments{
      margin-top: 20px;
      table{
        margin-top: 10px;
        border-width: 0 !important;
        tr{
          border-width: 0 !important;
        }
        td{
          border-width: 0 !important;
          background-color: #F7F7F7  !important;
        }
      }
    }
    table{
      //width: 960px;
      thead{
        tr{
          background-color: #F7F7F7;
          color: #9F9F9F;
          th{
            text-align: left;
            border: 1px solid $color-border;
            border-width: 0 0 1px 0;
            &:first-child{
              border-width: 0 0 1px 1px;
            }
            &:last-child{
              border-width: 0 1px 1px 0;
              text-align: right;
            }
            &.btn-select-requisitions a{
              color: #fff;
            }
          }
          &.search-tr{
            background-color: #ffffff;
          }
        }
      }
      tbody{
        tr{
          border: 1px solid #e7e9ea;
          td{
            text-align: left;
            border-width: 0 0 1px 0;
            padding-top: 10px;
            padding-bottom: 10px;
            &:first-child{
              border-width: 0 0 1px 1px;
            }
            &:last-child{
              border-width: 0 1px 1px 0;
              text-align: right;
            }
            .hasPosted{
              color: #6DD46D;
            }
            .item-name{
              margin-left: 10px;
            }
            .sku-attrs{
              color: #BBB;
            }
            .sku-price{
              margin-right:10px;
            }
            .subtotal-price{
               margin-left:10px;
            }
          }
          &.first-level-tr{
            border-width: 0 0 1px 2px;
            background-color: #F2F6F9;
          }
          &.second-level-tr{
            display: none;
          }
        }
      }
      &.checklog-table{
        td{
          overflow: visible;
        }
      }
    }
    .block{
      background-color: #F2F6F9;
      margin-bottom: 10px;
    }
    .price, .currency, .sku-price{
      color: #FE7800;
    }
    .no-href{
      color: #9E9E9C;
    }
    .add-new-addr, .add-new-inv{
      margin: 10px;
    }
    .pur-checklog{
      border-width: 0;
      .checklog-table{
        border-width: 0;
      }
      .checklog-tr{
        border-width: 0;
      }
      .checklog-td{
        border-width: 0;
      }
      .select-checker{
        width: 150px;
        color: #333;
      }
      select{
        background-color: #F7F7F7;
        border-width: 0;
        width: 110px;
        color: #9F9F9F;
      }
      textarea{
        width: 300px;
        height: 100px;
      }
      .checklog-comment-count{
        display: inline;
      }
    }
  }
  .pur-process-foot{
    background-color: #FFFFFF;
    padding: 0 15px 15px 15px;
    .pur-result{
      //padding: 0 10px;
      //margin-top: -2px;
      //float: right;
      .pur-cancel{
        margin: 0 10px;
      }
    }
  }
  .trade-panel{
    border: 1px solid #e7e9ea;
  }
  .purchase-excess{
    display: inline-block;
    padding: 2px 5px;
    background: #fc6360;
    color: #fff;
    margin-left: 8px;
  }
  .contract-select{
    display: inline;
    label {
      color: #333333;
      input {
        vertical-align: text-top;
      }
    }
  }
}

.modal{
  &.select_invoice_address{
    .select-inv-title{
      float: left;
      width: 200px;
      //padding: 5px;
      margin-right: 5px;
    }
    .select-addr{
      width: 550px;
      //padding: 5px;
    }
    .selectric-select-inv-title .selectric{
      float: left;
      width: 200px;
      //padding: 5px;
    }
    .selectric-select-addr .selectric{
      width: 450px;
      //padding: 5px;
    }
    select{
      background-color: #ffffff;
    }
    .inv-doc{
      display: inline;
      .inv-title-doc{
        float: left;
        width: 205px;
      }
      .inv-addr-doc{
        float: left;
      }
    }
  }

  .pay-ment-form {
    font-size: 12px;
    margin-top: -8px;
  }

  .receiver-address{
    line-height: 25px;
  }

  .purchase-excess{
    display: inline-block;
    padding: 2px 5px;
    background: #fc6360;
    color: #fff;
    margin-left: 8px;
  }
  .quota-requried-div{
    display: none;
  }
  .quota-title{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-bottom: 10px;
  }

  //添加、修改发票弹窗
  &.invoice {
    .hidden {
      display: none;
    }
  }
}
