<div class="modal order-form-list confirmCancelOrderModal">
	<div class="modal-header">
		<h2>订单取消</h2>
		<a href="javascript:;" class="close">&times;</a>
	</div>
	<form class="form" id="js-confirm-cancel-order-form">
		<div class="modal-body">
			<div>
				<label>是否同意取消订单：</label>
				<input type="hidden" name="orderId" value="{{orderId}}">
			</div>
			<div>
				<input type="radio" name="isAgree" value="true" checked="">同意
				<input type="radio" name="isAgree" value="false">不同意
			</div>
			<div>
				<label for="js-cancel-reason" name="commentTitle">备注：</label>
			</div>
			<div>
				<textarea name="comment" id="js-cancel-reason"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-medium" type="submit">确定</button>
      &nbsp;
      <button class="btn btn-info btn-medium close" type="button">取消</button>
		</div>
	</form>
	
</div>