<div class="modal">
  <div class="modal-header">
    <a class="close" href="javascript:void(0)">&times;</a>
    <h2>商品失效</h2>
  </div>
    <div class="modal-body">
      <div style="margin: 20px;">
        <i class="icon-zcy icon-notify-info" style="color:#FE7800; font-size: 22px;"></i>
        <span style="color: #333; font-size: 14px;">抱歉！该订单中的商品均已失效，无法进行购买，建议您重新选购商品</span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info btn-medium close" type="buttont">确定</button>
      &nbsp;
      <button class="btn btn-primary btn-medium close js-goto-buy" type="button">去选商品</button>
    </div>
</div>
