<div class="modal modal-dialog clearfix" data-event="modal">
  <div class="modal-dialog-icon ">
    <i class="icon-pokeball icon-pokeball-notify-warning warning-status"></i>
  </div>
  <div class="modal-dialog-message">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <textarea class="js-comment" placeholder="请输入{{operation}}原因"></textarea>
    <div class="modal-controls">
      <button class="btn btn-info close">
        取消
      </button>
      &nbsp;
      <button class="btn btn-minor submit ">
        确定
      </button>
    </div>
  </div>
</div>