{{#component "js-comp inquiry_district_ctax"}}
  <input type="hidden" value="{{_USER_.districtId}}" name="user_districtId">
  <div class="search-container">
    <i class="icon-zcy icon-sousuo- search-i"></i>
    <span class="senior-search">高级搜索</span>
    <input type="text" name="purchase-search" value="{{otherSearch}}" placeholder="输入采购需求或采购单位进行搜索">
    <div class="search-modal">
      <div>
        <label for="keyword" class="title-item">关键字:</label>
        <i class="icon-zcy icon-roundclose close-i"></i>
        <input type="text" id="keyword" name="keyword-search" placeholder="输入采购需求或采购单位进行搜索">
      </div>
      <div>
        <label class="title-item">所在地:</label>
        <input type="radio" name="inquiry-location"  class="radio-inquiry-first" style="margin-right: 10px" data-index="0" value="0" checked>不限
        <input type="radio" name="inquiry-location" style="margin: 0 10px 0 68px;" data-index="1" value="1">
        <div class="selectric-wrapper selectric"><p class="label district-text">请选择所在地</p><b class="button">▾</b></div>
      </div>
      <!--<div class="time-position" data-start="{{startSearchTime}}" data-end="{{endSearchTime}}">-->
      <div class="time-position">
      <label class="title-item">竞价时间:</label>
        <span class="container-date"><input class="date1 search date-input mr" name="startSearchTime"  readonly  type="text" placeholder="开始时间">-<input class="date1 search date-input mr ml" name="endSearchTime" readonly  type="text" placeholder="结束时间"></span>
      </div>
      <button class="btn btn-inquiry-sure">确定</button>
      <button class="btn btn-inquiry-reset">重置</button>
    </div>
    <div class="location-container">
      <div class="location-header">
        <div class="panel-container">
        </div>
        <div class="submit-btn-container">
          <button class="btn btn-info">提交</button>
        </div>
      </div>
      <div class="location-body">
        <div class="location-section">
          <div class="ls-left">A-G</div>
          <div class="ls-right" name="groupA_G"></div>
        </div>
        <div class="location-section">
          <div class="ls-left">H-K</div>
          <div class="ls-right" name="groupH_K"></div>
        </div>
        <div class="location-section">
          <div class="ls-left">L-S</div>
          <div class="ls-right" name="groupL_S"></div>
        </div>
        <div class="location-section">
          <div class="ls-left">T-Z</div>
          <div class="ls-right" name="groupT_Z"></div>
        </div>
        {{!-- <div class="location-section">
          <div class="ls-left">港澳台</div>
          <div class="ls-right" name="group5"></div>
        </div>
        <div class="location-section">
          <div class="ls-left">其他</div>
          <div class="ls-right" name="group6"></div>
        </div> --}}
        
      </div>
    </div>
  </div>
{{/component}}