{{#component "item-mark-import js-comp"}}
    <div class="panel">
        <div class="panel-header">
            <span>导入节能环保打标信息</span>
        </div>
        <div class="panel-body">
            <div class="eve-row">
                <div class="eve-col-4">
                    <span>topic：</span>
                    <input type="text" name="topic">
                </div>
                <div class="eve-col-4">
                    <span>effectDate：</span>
                    <input type="text" class="date-input" name="effectDate" placeholder="请选择日期" icon="false">
                </div>
                <div class="eve-col-4">
                    <span>invalidDate：</span>
                    <input type="text" class="date-input" name="invalidDate" placeholder="请选择日期" icon="false">
                </div>
            </div>
            <input type="file" name="file" id="import-o">
        </div>
    </div>
    <div class="panel border-panel">
        <div class="panel-header">
            <span>导入品牌参照表</span>
        </div>
        <div class="panel-body border">
            <input type="file" name="file" id="import-t">
        </div>
    </div>
{{/component}}
