.item-mark-import {
  .panel {
    background-color: #fff;
    margin-bottom: 20px;
    .panel-header {
      padding:10px;
      font-size:14px;
      background-color: #f7f7f7;
    }
    .panel-body {
      padding: 10px;
    }
    button {
      margin-top:20px;
    }
  }
}