.caibao-assist{
  @-webkit-keyframes rotate {
    0%{
      transform: translate(0,0) rotate(-30deg);;
      -webkit-transform: translate(0,0) rotate(-30deg);;
      -moz-transform: translate(0,0) rotate(-30deg);;
      -o-transform: translate(0,0) rotate(-30deg);;
      -ms-transform:translate(0,0) rotate(-30deg);;
      -webkit-transition:rotate,translate,scale,right 0.3s,0.3s,0.3s,0.3s ease,ease,ease,ease;
    }
    50% {
      transform: rotate(0deg) translate(-18px, -23px) scale(0.7);
      -webkit-transform: rotate(0deg) translate(-18px, -23px) scale(0.7);
      -moz-transform: rotate(0deg) translate(-18px, -23px) scale(0.7);
      -o-transform: rotate(0deg) translate(-18px, -23px) scale(0.7);
      -ms-transform: rotate(0deg) translate(-18px, -23px) scale(0.7);
      -webkit-transition:rotate,translate,scale,right 0.3s,0.3s,0.3s,0.3s ease,ease,ease,ease;
    }
    100% {
      transform: rotate(720deg) translate(-20px, 0);
      -webkit-transform: rotate(720deg) translate(-20px, 0);
      -moz-transform: rotate(720deg) translate(-20px,0);
      -o-transform: rotate(720deg) translate(-20px, 0);
      -ms-transform: rotate(720deg) translate(-20px, 0);
      -webkit-transition:rotate,translate,scale,right 0.3s,0.3s,0.3s,0.3s ease,ease,ease,ease;
    }
  }
  position:fixed;
  right:0;
  bottom:100px;
  z-index:999;
  .mascot{
    position:relative;
    width:48px;
    height:48px;
    &:hover{
      .openEye{
        animation:rotate 1s 1;
        -moz-animation:rotate 1s 1; /* Firefox */
        -webkit-animation:rotate 1s 1; /* Safari and Chrome */
        -o-animation:rotate 1s 1; /* Opera */
        right: -20px;
        transform: rotate(720deg) translate(-20px, 0);
      }
    }
    .openEye{
      position:absolute;
      cursor:pointer;
      color:#4990E2;
      right:-20px;
      bottom:0;
      font-size:48px;
      height:48px;
      line-height:48px;
      transform:rotate(-30deg);
      transition: rotate,translate,scale,right 1s,1s,1s,1s ease,ease,ease,ease;
      -webkit-transition: rotate,translate,scale,right 1s,1s,1s,1s ease,ease,ease,ease;
      -moz-transition: rotate,translate,scale,right 1s,1s,1s,1s ease,ease,ease,ease;
      -o-transition: rotate,translate,scale,right 1s,1s,1s,1s ease,ease,ease,ease;
    }
    .closeEye{
      position:absolute;
      cursor:pointer;
      color:#4990E2;
      right:0;
      bottom:0;
      font-size:48px;
      height:48px;
      line-height:48px;
      display:none;
    }
    .jsCloseEye{
      opacity: 0;
    }
  }
  .sayhi{
    position: absolute;
    left: -9px;
    top: 3px;
    color: #ff2200;
  }
  .assist-btn{
    .mod-btn{
      display:block;
      width:48px;
      height:48px;
      background: #eee;
      border-radius: 2px;
      padding:12px;
      box-sizing:border-box;
      font-size: 12px;
      color: #999;
      line-height: 12px;
      margin-bottom:2px;
      &.toTop{
        text-align:center;
        line-height:24px;
        display:none;
        i{
          font-size:18px;
        }
      }
      &:hover{
        background:#197AFF;
        color:#fff;
      }
    }
  }
}