.customer-purchase-detail {
  .icon-warningfill{
    margin-left:2px;
    margin-top:-2px;
    color:#aaa;
    &:hover{
      color:#197AFF;
    }
  }
  .panel {
    line-height: normal;
    margin-bottom: 12px;
    .panel-header {
      height: 42px;
      background-color: #f7f7f7;
      color: #24344e;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 42px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .panel-body{
      background: #ffffff;
      padding: 10px;
    }
  }
  .purchase-plan-no{
    margin: 5px;
  }
  .red-text{
    color: #FF2300;
  }
  .green-text {
    color: #00B22D;
  }
  .item-catalog {
    text-overflow: ellipsis;
    padding: 0 20px 0 0;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    max-height: 20px;
    display: inline-block;
  }
}
