{{#component "assist-detail js-comp"}}
<div class="modal modal-faq clearfix" id="detailModal" style="display: none" data-event="">
  <div class="modal-header">
    <span>采购人如何知道自己有哪些功能？</span>
    <i class="icon-zcy icon-guanbi pull-right close"></i>
  </div>
  <div class="modal-body">
    <p>description</p>
    <div class="container">
      <div class="slider_wrapper">
        <ul id="imageSlider" class="image-slider">
        </ul>         
      </div>
      <ul id="pager" class="pager">
      </ul>
    </div>
    <div class="link">
      不能解决？你还可以去<a target="_blank" href="//help.zcy.gov.cn">帮助中心</a> <a target="_blank" href="//m.tb.cn/x.X2oEy">联系智能客服</a>
    </div>
  </div>
</div>
{{/component}}
