.customer-requisition-detail {
  .col-6{
    width: 50%;
    float: left;
  }
  .pr {
    padding-right: 10px;
  }
  .panel {
    line-height: normal;
    margin-bottom: 12px;
    .panel-header {
      height: 42px;
      background-color: #f7f7f7;
      color: #24344e;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 42px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .panel-body{
      background: #ffffff;
      padding: 10px;
    }
  }
}
