@import "pokeball/theme";
@import "compass/css3/inline-block";

.supplier-details {
  background: linear-gradient(#FFFFFF,#FFFEF7);
  .manu-title{
    width:198px;
    height:58px;
    line-height:58px;
    overflow: hidden;
    text-align:center;
    border-bottom:1px solid #FFE09D;
    img{
      width:100%;
    }
  }
  .seller-title {
    text-align: center;
    padding: 10px 14px 9px;
    border-bottom: 1px solid #FFE09D;

    .shop-image {
      text-align: center;
      width: 100%;
      margin-bottom: 6px;

      img {
        width: 134px;
        height: 40px;
        vertical-align: bottom;
      }
    }

    .store-name {
      text-align: center;
      font-size: 11px;
      font-weight: bold;
    }
  }
  .seller-info-content {
    padding: 25px 0 17px 0;
    margin: 0 12px;

    p {
      margin: 0 0 5px 0;
      font-size: 14px;
    }

    .connect-list {
      li {
        margin: 5px 0;
        width: 50%;
        float: left;
      }
    }

    .info-title {
      margin: 0 0 10px 0;
    }

    &.last {
      border-bottom-width: 0;
      padding: 0;
      margin-bottom: 25px;
    }

    .info-li {
      color: #000;

      .info-icon {
        margin-right: 6px;
      }

      span {
        color: $color-border-dark;
      }
      &:nth-child(1),&:nth-child(4) {
        margin-bottom: 20px;
      }
      &:nth-child(2),&:nth-child(3) {
        margin-bottom: 10px;
      }
      .btn {
        width: 80px;
        height: 30px;
        padding: 9px 0;
      }
    }
    .supplier-avg-score-box {
      .avg-up {
        color: #ff3c00;
      }
      .avg-down {
        color: #2dc12d;
      }
      .avg-cp {
        color: #ff7900;
      }
      .popover {
        border: 1px solid #d8d8d8;
        box-shadow:0 2px 8px rgba(0,0,0,0.1);
      }
      .popover.bottom {
        >.arrow {
          border-bottom-color: #d8d8d8;
        }
      }
      .popover-content {
        padding: 12px 10px;
      }
      .score-popover-table {
        border: 0;
        font-size: 12px;
        width: 198px;
        thead {
          border: 0;
          tr {
            background-color: #fff;
            height: 30px;
            td {
              border: 0;
              color: #999;
              padding: 0;
              height: 20px;
            }
          }
        }
        tbody {
          tr {
            border: 0;
            background-color: #fff;
            height: 25px;
            td {
              border: 0;
              padding: 0;
              height: 20px;
              .icon-zcy {
                font-size: 12px;
                margin-right:10px;
              }
              .targetname-td {
                color: #666;
              }
              .percent-equal {
                color:#999;
              }
              .percent-number {
                color:#333;
              }
            }
          }
        }
      }
    }

    .service-item {
      width: 50%;
      padding: 6px 0;
      i.icon-zcy {
        font-size: 22px;
      }
    }

    .service-logo {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      text-align: center;
      font-size: 18px;
      color: #f5a623;
    }

    .service-title {
      vertical-align: top;
      margin-left: 6px;
    }

    .arrow-content-table {
      width: 100%;
      font-size: 0;

      .arrow-content {
        font-size: 14px;
        text-align: center;
        color: #ff7900;
        @include inline-block();
        width: 25%;

        span {
          line-height: 16px;
          color: #333 !important;
          @include inline-block();
          margin-bottom: 5px;
          max-width: 24px;
          overflow: hidden;
          white-space: nowrap;
          font-size: 11px;
          &.js-average-score {
            max-width: 30px;
            i {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .last-seller-info {
    ul {
      li {
        &:nth-child(odd){
          text-align: left;
        }
        &:nth-child(even){
          text-align: right;
        }
      }
    }
  }

  .hide-ellipsis {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  .icon-phone,.icon-model,.icon-location1 {
    width: 14px;
    height: 14px;
  }
  .icon-phone {

    background: url("/lunatone/assets/images/other-images/phone-info.png")center center no-repeat;
    background-size: cover;
  }
  .icon-model {
    background: url("/lunatone/assets/images/other-images/model-info.png")center center no-repeat;
    background-size: cover;
  }
  .icon-location1 {
    background: url("/lunatone/assets/images/other-images/location-info.png")center center no-repeat;
    background-size: cover;
  }
  .contact-box-warp {
    display: inline-block;
    float: none;
    &:first-child {
      margin-right: 0;
    }
    .selectric-wrapper {
      text-align: center;
      .selectric {
        width: 80px;
        border:solid 1px #FFE09D;
        background: #FBF3E1;
        p.label {
          font-size: 12px;
          color: #666;
          margin-bottom: 0;
        }
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 7px;
          left: 5px;
        }
      }
      .selectric-items {
        border:solid 1px #FFE09D;
        ul {
          li {
            text-indent: 20px;
            position: relative;
            font-size: 12px;
            color: #666;
            overflow: hidden;
            &:hover {
              background: #F5F5F5;
              color: #666;
            }
            &:before {
              content: '';
              display: inline-block;
              position: absolute;
              top:8px;
              left: 6px;
            }
          }
        }
      }
    }
    .selectric-open,.selectric-hover {
      .selectric {
        border:solid 1px #FFE09D;
      }
    }
  }
  .wangwang-warp {
    .selectric-wrapper {
      .selectric:before,.selectric-items ul li:before {
        width: 17px;
        height: 17px;
        background: url("/lunatone/assets/images/other-images/detail-ww.png")center center no-repeat;
        background-size: cover;
      }
    }
  }
  .qq-warp {
    .selectric-wrapper {
      .selectric:before,.selectric-items ul li:before {
        width: 15px;
        height: 17px;
        background: url("/lunatone/assets/images/other-images/detail-qq.png")center center no-repeat;
        background-size: cover;
      }
    }
  }
}
