.ZCY-eevee-page-controller{
  height: 100%;
  width: 100%;
  background-color: #ffffff;

  .evees-comp{

  }
  .eevee-col-box{
    .controller-mask{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
    &.hover-evt{
      position: relative;
    }
    &:hover{
      cursor: pointer;
    }
    &.comp-selected{
      .controller-mask{
        display:block;
      }
    }
  }
  .editor-menu {
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.95);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    /* line 55, src/styles/eevee/workbench.scss */
    .editor-menu-container {
      max-width: 1220px;
      margin: 0 auto;
      padding: 0 10px;
      text-align: right;
    }

    /* line 62, src/styles/eevee/workbench.scss */
    .editor-menu-crumbs {
      float: left;
    }
    /* line 65, src/styles/eevee/workbench.scss */
    .editor-menu-crumbs > li {
      display: inline-block;
      margin-right: 10px;
      line-height: 40px;
      color: #aaa;
    }
    /* line 71, src/styles/eevee/workbench.scss */
    .editor-menu-crumbs > li.crumb {
      cursor: pointer;
      color: #1abc9c;
    }
    /* line 75, src/styles/eevee/workbench.scss */
    .editor-menu-crumbs > li.crumb:last-child {
      font-weight: bold;
    }

    /* line 82, src/styles/eevee/workbench.scss */
    .editor-menu-control {
      line-height: 40px;
    }
    /* line 84, src/styles/eevee/workbench.scss */
    .editor-menu-control > li {
      display: inline-block;
      margin-left: 10px;
    }

    /* line 90, src/styles/eevee/workbench.scss */
    .editor-show-key-shortcut {
      display: inline-block;
      color: #1abc9c;
      cursor: help;
    }
    button{
      display: inline-block;
      cursor: pointer;
      outline: none;
      box-sizing: border-box;
      padding: 0 10px;
      margin: 0;
      height: 23px;
      line-height: 21px;
      border: 1px solid #1abc9c;
      vertical-align: middle;
      transition: all 0.4s ease-out;
      color: #1abc9c;
      background: none;
      font-size: 12px;
    }
  }
  .body-content{
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 99;
    background: #fff;
  }
  .body-showRight{
    width: calc(100% - 230px);
  }
  .page-list-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    color: white;
    text-shadow: 1px 1px 3px black;
    background-color: #ffffff;
    .inline-block{
      display: inline-block;
    }
    .left-menu{
      height: 100%;
      width: 30px;
      vertical-align: top;
      ul.menu-li{
        li{
          padding: 10px;
          color: #999999;
          text-shadow: 1px 1px 3px #dddddd;
          border: 1px solid #ddd;
          &:hover{
            cursor: pointer;
          }
          &.active{
            background: #444444;
            color: #fff;
          }
        }
      }
    }
    .side-content{
      width: 200px;
      height: 100%;
      background: #444444;
      margin-left:-5px;
      ul{
        li{
          line-height: 20px;
          overflow: hidden;
          padding: 10px 15px 10px 25px;
          cursor: pointer;
          border-bottom: 1px solid #ddd;
        }
      }
      .right-button{
        padding: 10px 0;
        text-align:center;
      }
    }
  }
  .comps-set{
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    color: #666666;
    background-color: #f5f5f5;
    overflow-y: auto;
    /* line 199, src/styles/eevee/workbench.scss */
    .editor-config-parts {
      margin-bottom: 40px;
    }
    /* line 202, src/styles/eevee/workbench.scss */
    .editor-config-parts > li {
      display: block;
      vertical-align: top;
      margin-bottom: 20px;
    }
    /* line 207, src/styles/eevee/workbench.scss */
    .editor-config-parts > li h2 {
      font-size: 1.5em;
      line-height: 1.5em;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #aaa;
    }
    /* line 216, src/styles/eevee/workbench.scss */
    .editor-config-parts > li p {
      margin: 10px 0;
      line-height: 1.2em;
    }
    /* line 221, src/styles/eevee/workbench.scss */
    .editor-config-parts > li .field-group {
      font-size: 1em;
      position: relative;
    }
    .field-group {
      display: inline-block;
      min-width: 85px;
      margin: 5px 0;
      font-size: 14px;
      line-height: 1.5em;
    }
    /* line 226, src/styles/eevee/workbench.scss */
    .editor-config-parts > li .field-group:hover:before {
      display: block;
      content: attr(data-description);
      position: absolute;
      pointer-events: none;
      border-radius: 3px 3px 3px 0;
      background-color: rgba(0, 0, 0, 0.7);
      max-width: 280px;
      white-space: normal;
      padding: 2px 5px;
      color: white;
      bottom: calc(100% - -6px);
      left: 0;
    }
    /* line 241, src/styles/eevee/workbench.scss */
    .editor-config-parts > li .field-group:hover:after {
      position: absolute;
      display: block;
      content: "";
      pointer-events: none;
      border-top: 3px solid rgba(0, 0, 0, 0.5);
      border-right: 3px solid rgba(0, 0, 0, 0.5);
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
      left: 0;
      bottom: 100%;
    }

    /* line 258, src/styles/eevee/workbench.scss */
    .fullscreen-dialog {
      position: absolute;
      z-index: 20000;
      height: 100%;
      width: 100%;
      padding: 40px 0 80px;
      box-sizing: border-box;
      top: 0;
      left: 0;
      font-size: 16px;
      background-color: rgba(245, 245, 245, 0.95);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
      -webkit-animation: fullscreen-dialog-show 0.2s ease-out backwards;
    }
    /* line 271, src/styles/eevee/workbench.scss */
    .fullscreen-dialog > .fullscreen-dialog-container {
      width: 1000px;
      margin: 0 auto;
      height: 100%;
    }
    /* line 277, src/styles/eevee/workbench.scss */
    .fullscreen-dialog .fullscreen-dialog-header {
      position: relative;
    }
    /* line 280, src/styles/eevee/workbench.scss */
    .fullscreen-dialog .fullscreen-dialog-header > h1 {
      font-size: 2em;
      height: 40px;
      line-height: 40px;
    }
    /* line 285, src/styles/eevee/workbench.scss */
    .fullscreen-dialog .fullscreen-dialog-header .action {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2em;
      height: 40px;
      line-height: 40px;
    }
    /* line 293, src/styles/eevee/workbench.scss */
    .fullscreen-dialog .fullscreen-dialog-header .action > a {
      font-size: 1em;
    }
  }
  .ZCY-eevee-row-page{
    margin-top: 50px;
    padding: 10px 7px;
    height: 99%;
    overflow: auto;
  }
  .eevee-grids,.eevee-col-row{
    &.hover-evt{
      outline: 2px solid green;
    }
    &.click-evt{
      outline: 2px solid green;
    }
    &.comp-selected{
      .controller-mask{
        display:block;
      }
    }
    border:1px solid #dddddd;
  }
}
.new-right{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
}
html,body,.root-container,.ZCY-eevee-page-controller,.ZCY-eevee-page-controller-content,.body-content{
  height:100%;
}