{{#component "ZCY-eevee-page-controller js-comp"}}
  <div class="ZCY-eevee-page-controller-content">
    <div class="body-content" style="overflow-x: scroll">
      <div class="editor-menu">
        <div class="editor-menu-container">

          <ul class="editor-menu-control">
            <li>
              <button class="js-page-release">&nbsp;发布</button>
            </li>
            <li>
              <button class="js-page-save">&nbsp;保存</button>
            </li>
            <li>
              <button class="js-page-show">&nbsp;页面</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="ZCY-eevee-row-page" id="rowPage">

      </div>
    </div>
    <div class="page-list-container">
      <div class="left-menu inline-block">
        <ul class="menu-li">
          <li class="active">网超</li>
          <li>医疗馆</li>
          <li>疫苗馆</li>
          <li class="addLi">➕</li>
        </ul>
      </div>
      <div class="side-content inline-block">

      </div>
    </div>
    <div class="comps-set">

    </div>
  </div>
{{/component}}
