{{#component "js-comp ctaxhall_href"}}
  <div class="hide">{{json this}}</div>
  <div class="title_text" data-color="{{defaultColorProperty}}">
    <span>协议批量<i class="icon-zcy"></i></span>
    <div class="select-box">
      <a href="{{_ENV_HREF_.ctaxccgp}}/search" target="_blank">电子卖场</a>
      <a href="{{_ENV_HREF_.front}}/lasvegas/ctax/api/protocol/announcement/initHall?page=1" target="_blank">采购公告</a>
    </div>
  </div>
{{/component}}
