{{#component 'ZCY-eevee-comp-tabline evees-comp js-comp'}}
  <div class="hide">{{json this}}</div>
  <ul>
    <li class="{{#equals this.active 1}}active{{/equals}}">
      <a href="/eevees/shop?shopId={{shopId}}&searchType=1">
        <span class="text-box">本店所有商品</span>
        <span class="line-border-box">
          <span class="line-border"></span>
          <span class="line-border"></span>
          <span class="line-border"></span>
        </span>
      </a>
    </li>
    <li class="{{#equals this.active 2}}active{{/equals}}">
      <a class="text-box" href="/eevees/supplierdetail?shopId={{shopId}}&searchType=1">企业故事</a>
    </li>
  </ul>
{{/component}}

