.enquiry-list {
  width: 1200px;
  .list-header {
    height: 30px;
    line-height: 28px;
    margin-bottom: 10px;
    .icon {
      height: 20px;
      margin-right: 5px;
      background: #126ee3;
      width: 6px;
      display: inline-block;
      vertical-align: sub;
    }
    .name {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .list-body {
    width: 100%;
    background: #ffffff;
    padding: 10px 20px 20px 20px;

    .tab {
      .btn {
        float: left;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      div {
        float: left;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }

  .enquiry-table {
    width: 100%;
    thead {
      border-bottom: 1px solid #dedede;
    }
    tbody, thead {
      tr {
        height: 48px;
        line-height: 40px;
        font-size: 14px;
        text-align: left;
        &.gray {
          background: #f7f7f7;
        }
        th {
          color: #666666;
          padding: 0 10px;
          font-weight: normal;
        }
        td {
          color: #666666;
          padding: 0 10px;
          white-space: nowrap;
          overflow: hidden;
          max-width: 300px;
          text-overflow: ellipsis;
          &:first-child {
            color: #24344E;
          }
        }
      }
    }
    tfoot {
      tr {
        height: 40px;
        td {
          padding-top: 20px;
          text-align: right;
        }
      }
    }

  }
}