.component-supplierMsg.eevee-new-comp{
  display: block;
  .icon-love-box{
    padding: 7px 16px 7px 13px;
    .icon-heart{
      font-size: 12px;
      color: #0876FF;
      margin-right: 3px;
    }
  }
  .detailqq-box{
    padding: 7px 16px 7px 13px;
    .icon-detailqq{
      color: #0876FF;
      margin-bottom: 3px;
      margin-right: 1px;
    }
  }
  .inline-block{
    display: inline-block;
  }
  .supplierMsg {
    display: inline-block;
    li{
      border: 0;
      height: auto;
      vertical-align: top;
    }
    .supplierName{
      max-width:200px;
      margin-bottom: 2px;
      height: 19px;
    }
    .supplier-avg-score-box div.js-supplier-avg-score-div span{
      margin-bottom:0;
    }
    .supplier-avg-score-box .arrow-choose {
      height: 20px;
      i.icon-more{
        margin-top: 2px;
        color: #999999;
      }
      i.icon-xiangshang {
        margin-top: -8px;
      }
    }
  }
  .bgm-box{
    display: inline-block;
    width: 160px;
    height: 60px;
    padding:10px 13px;
    background: #ffffff;
    text-align: center;
    img{
      max-height: 40px;
      max-width: 134px;
    }
  }
  .qq-icon {
    vertical-align: bottom;
    margin-right: 10px;
    width: 15px;
    height: 17px;
    background: url(/lunatone/assets/images/other-images/detail-qq.png) 50% no-repeat;
    background-size: cover;
  }
  .supplier-avg-score-box div.js-supplier-avg-score-div {
    width:50px;
    span{
      display: inline-block;
      margin-right: 2px;
      font-size: 12px;
    }
  }
  .word-red{
    color: #ff6600!important;
  }
  .word-grey{
    color:#2dc12d!important;
  }
  .supplier-avg-score-box .arrow-choose {
    height: 40px;
  }
  .btn-right-box{
    float: right;
    width:100px;
    .hide{
      display: none;
    }
    button{
      width: 90px;
      margin-bottom: 10px;
      height: 28px;
    }
  }
  .popover-box{
    top:50px;
    left:-163px;
  }
  .name-logo{
    font-size: 12px;
    color: #FFFFFF;
    background: #FF7056;
    padding:0 2px;
    margin-left: 7px;
  }
}