@import "compass/css3/inline-block";
@import "pokeball/theme";
@import "compass/css3/box-sizing";
.tax-hall-item-list{
  a{
    color: inherit;
  }
  .more-options {
    margin: 0;
  }
  .current-location-dark{
    padding: 10px 0;
    font-size: 14px;
  }
  .nav-group dl {
    padding: 0;

    dt, dd {
      vertical-align: top;
    }

    dt {
      width: 110px;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .list-more {
      dd {
        width: auto;
        margin: 0 20px;
      }
    }

    dd {
      button {
        margin-top: 4px;
      }
    }
  }
  .category-nav{
    margin-bottom: 10px;
    padding: 5px 0 0 20px;
    border: 1px solid $color-border;

    .list-more {
      height: 33px;
    }

    .sl-text {
      dd {
        width: auto;
      }
    }
  }

  .filter{
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    background: #F5F5F5;
    border: 1px solid #E6E6E6;
    .filter-banner{
      @include inline-block(middle);
      i{
        font-size: 12px;
        margin-left: 10px;
        &.icon-barrowdown12{
          @include inline-block(middle);
        }
      }
    }
    .js-item-sort{
      vertical-align: baseline;
    }
    .filter-form{
      width: 750px;
      @include inline-block(middle);
      margin-left: 10px;
      /* 2016.11.28 修改*/
      fieldset {
        padding: 1px 0;
        .span3{
          width: auto;
         &:hover{
           height: 38px;
           box-shadow:0px 2px 8px #000000;
           opacity: 10%;
           border: #D8D8D8 1px;
           background-color: #FFFFFF;
           padding-left: 10px;
           padding-right: 10px;
           #js-price-range{
               display: inline-block;
               margin-left: 10px;
               width: 48px;
               height: 28px;
             }
           }
          #js-price-range {
            display: none;
            width: auto;
          }
          label{
            margin: 0;
            padding: 0;
          }
        }
        #forins{
          display: inline-block;
          width: 10px;
          text-align: center;
        }
      }
      input[type="number"].input-small.p_f, input[type="number"].input-small.p_t{
        width: 70px!important;
        height: 28px!important;
      }
    }
    .view-mode {
      &-type {
        line-height: 40px;
        width: 60px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        &.active {
          background: #fff;
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6;
          color: #197AFF;
        }
      }
    }
  }

  .brand-list{
    @include inline-block(middle);
    width: 910px;
    margin-top: 1px;
    overflow: hidden;

    .brand-buttons{
      text-align: center;
      padding-bottom: 10px;
    }
  }

  .list{
    margin-top: 10px;
    li{

      &:hover {
        box-shadow: 0 0 1px #000;
        border: 0px ;
      }

      .check-select{
        position: absolute;
        i{
          font-size: 20px;
          color: $color-secondary;
        }
        &.active{
          i{
            color: $color-danger;
          }
        }
      }
      .add-cart{
        float: right;
        margin-right: 20px;
        i{
          font-size: 30px;
          color: black;
        }
      }
    }

    &.view-list {
      .view-mode-thumb {
        display: none;
      }
      .view-mode-list {
        display: table;
      }
    }

    .view-mode-thumb {
      display: table;
      .fav-rate{
        float: right;
      }
    }
    .view-mode-list {
      thead {
        > tr {
          background: #fff;
        }
      }
      tbody {
        > tr {
          &.odd {
            background: #F5F5F5;
          }
          &.even {
            background: #fff;
          }
          a {
            color: #333;
            font-style: normal;
            &:hover {
              color: #197AFF;
            }
          }
        }
      }

      display: none;
    }
  }
}