<li class="template-item js-template-item" data-id="{{id}}">
  <div class="template-container active">
    <div class="template-main clearfix">
      <div class="template-info">
        <p>
          <span class="edit-status">新建配送区域模板</span>
          <input type="text" name="name" {{#if name}}value="{{name}}"{{/if}} placeholder="新建配送区域模板" class="js-template-name save-status" required> <span class="js-name-error name-error required hide">请输入配送区域模板</span>
        </p>
        <p class="template-area js-template-area">
        </p>
      </div>
      <div class="template-operation">
        <button class="btn btn-minor btn-small js-delete-template btn-right">删除</button>
        <button class="btn btn-primary btn-small js-save-template btn-right">保存</button>
      </div>
    </div>
  </div>
  {{> "seller/delivery_templates/templates/_province_list"}}
</li>
