/** *
  * pokeball样式补丁
  * 除了第一个是公共样式之外，理论上其他的都是端点需要修的！
  *
  * @author sx-wangx@dtdream.com
  */

// 带框 内链接警告提示
.alert{
  height: auto;
  padding: 10px;
}
.alert-error{
   background-color: #fff6f2;
   border: 1px solid #ffe0e0;
   color: #ff2200;
}
.alert-success{
   background-color: #f5fcf1;
   border: 1px solid #ddeed3;
   color: #2dc12d;
}
.alert-warn{
   background-color: #fffbe8;
   border: 1px solid #f7e8c7;
   color: #9e7437;
}
.alert-info{
   background-color: #eaf8fe;
   border: 1px solid #d4f1fe;
   color: #1EB6F8;
}
.alert-note{
   background-color: #f9f9f9;
   border: 1px solid #e9e9e9;
   color: #666666;
}
// 文字快速对齐，到处都在用这个，尤其是分页器
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}

button.btn {
  // 为什么input有交互视觉缓冲，button就没有？！
  transition:         background-color 0.3s, border-color 0.3s, color 0.3s;
  -moz-transition:    background-color 0.3s, border-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  -o-transition:      background-color 0.3s, border-color 0.3s, color 0.3s;
}

// 日期输入框右边的那个小日历图标
input.date-input {
  width: 120px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAIAAACDRijCAAAACXBIWXMAAC4jAAAuIwF4pT92AAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAz0lEQVR42mL8//8/AzUAQAAxMVAJAAQQikFv331Yt2k7kCQoiAkAAogR7jWg0oNHjuNRam9jKSwkgEsWIIAY/sPA2o3brt++/x8HAEoBFfzHDQACCMVrorgtxCMFAQABxILMwe81/AAggFiIDAWCIQgQQCgGAU25cesOhK2hpgIk0bh4AEAAsaDxr924jawTjYsHAAQQC2Yc4+HiAQABhG4QPCCC/DwxuXgAQAChGHTjzgM0DXAuUAq/QQABRLWUDRBAjNTK/QABRLXcDxBgAO9RkDaazGQgAAAAAElFTkSuQmCC");
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

// 提了近一个月也没有改掉的checkbox[disabled]样式
input[type=checkbox].disabled:after, input[type=checkbox].disabled:after:hover, input[type=checkbox][disabled]:after, .input-group-datepicker[disabled] input[type=checkbox]:after, input[type=checkbox][disabled]:after:hover, .input-group-datepicker[disabled] input[type=checkbox]:after:hover, fieldset[disabled] input[type=checkbox]:after, fieldset[disabled] input[type=checkbox]:after:hover {
  background-color: #f7f7f7;
  border: 1px solid #ccd0d6;
}

// 如果没开selectric，让osx下的select和win下的收起样式一致
select {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAECAYAAACOXx+WAAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAZUlEQVR42mL8//8/AzaQkZFRCZRrhHJhihjBBCNj/YwZM9qx6QMIIBYGHACoqR2I2f/9+1ePLM7ExASypB2XPoAAYmLADxqAhjYgWQJiN+DTABBALAQMBBnSCMRsUG4jIfUAAQYAAqYUOM8GyL4AAAAASUVORK5CYII=");
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.tab .tab-navs{
  background-color:#eee;
}
// active tab标签的颜色闪来闪去的我很不高兴
.tab .tab-navs li.active a {
  border-top: 3px solid #4c97ff;
}
// 为什么color有交互视觉缓冲，background-color就没有？！
.tab .tab-navs li a {
  transition:         background-color 0.3s, color 0.3s;
  -moz-transition:    background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition:      background-color 0.3s, color 0.3s;
}
.pagination {
  >.pagination {
    // pokeball显示了“共X页”不符合UED规范
    >label.total {
      display: none;
    }
    // pokeball分页器没有对齐
    .icon-pokeball {
      line-height: 18px;
    }
    // 分页器鼠标悬停样式
    a:hover {
      border: 1px solid #4c97ff;
      & + a, & + span {
        border-left: 1px solid #4c97ff;
      }
    }
    a, span {
      -moz-transition:    border 0.3s, color 0.3s;
      -o-transition:      border 0.3s, color 0.3s;
      -webkit-transition: border 0.3s, color 0.3s;
      transition:         border 0.3s, color 0.3s;
    }
    span {
      cursor: default;
    }
  }
}


// h*字体不对
h1,h2,h3,h4,h5,h6 {
  font-family: '微软雅黑', Arial, "Hiragino Sans GB", \5b8b\4f53, sans-serif;
}


// 输入框的边框颜色。。。
select, textarea, input.control, [contenteditable=true], input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"] {
  border: 1px solid #ccd0d6;
}

.pika-lendar {
  height: auto;
}

.is-disabled .pika-button .pika-day, .is-outside-current-month .pika-button:hover {
  .pika-day {
    background: transparent;
    color: #ccd0d6;
  }
}

.btn-zcy-danger {
  &:hover{
    color: #fff;
    background-color: #ff2200;
    border-color: #ff2200; 
  };
}
/* 胶囊标签 */
.capsule {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  height: 32px;
  line-height: 18px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #A0AFBF;
  background-color: #A0AFBF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  &:hover {
    color: #fff;
  }
}
.capsule[selected] {
  background-color: #1EB6F8;
  border: 1px solid #1EB6F8;
}
.capsule[disabled] {
  cursor: not-allowed;
  background-color: #BBB;
  border: 1px solid #BBB;
}
.capsule-minor {
  color: #666;
  border: 1px solid #bbb;
  background-color: #fff;
  &:hover {
    color: #666;
  }
}

.capsule-minor[selected] {
  color: #1EB6F8;
  border: 1px solid #1EB6F8;
  background-color: #fff;
  &:hover {
    color: #1EB6F8;
  }
}
.capsule-minor[disabled] {
  color: #999;
  border: 1px solid #bbb;
  background-color: #fff;
  &:hover {
    color: #999;
  }
}

.capsule-medium {
  height: 28px;
  padding: 3px 13px;
}

.capsule-small {
  height: 24px;
  padding: 1px 11px;
}
//IE下input不显示X
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

.tab .tab-navs li a {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
}