.buyer_back-change_purchaser-form {
  min-width: 1000px;
  & {

    .component {
      margin-bottom: 10px;
    }

    .component-header {
      font-size: 14px;
      line-height: 40px;
      text-indent: 20px;
    }

    .component-body {

      .table {

        tbody {

          th, td {
            position: relative;
            height: 30px;
            line-height: 30px;
          }

          th {
            width: 160px;
            text-align: right;
          }

          th:after {
            content: "：";
          }

          th {
            color: #AAAAAA;
          }

          td {
            color: #666666;
          }

        }

      }

      .table.border-none {
        border: none;

        tbody {

          tr, th, td {
            padding: inherit;
            border: none;
          }

        }

      }

      .rowspan {
        display: block;
        overflow: hidden;
      }

      .rowspan.\#20 {
        line-height: 20px;
      }

      .rowspan.\#28 {
        line-height: 28px;
      }

      .rowspan.\#66 {
        line-height: 66px;
      }

      .color.\#2687D0 {
        color: #2687D0;
      }

      .color.\#FF9147 {
        color: #FF9147;
      }
      .item-name-box {
        width: 120px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }

  }

  .form {

    .field, .fieldset, .action {
      padding-left: 160px;
      padding-top: 10px;
      color: #666666;
      font-size: 12px;
      line-height: 30px;

      label, input, textarea, select, .selectric-wrapper {
        float: left;
        margin-right: 10px;
      }

      label:first-child {
        width: 160px;
        margin-right: 0;
        color: #AAAAAA;
        text-align: right;
      }

      label:first-child:after {
        content: "：";
      }

      label:first-child, .fieldset {
        margin-left: -160px;
      }

      textarea {
        max-width: 100%;
        height: 70px;
      }

    }

    .field:first-child, .fieldset:first-child {
      padding-top: 0;
    }

    .field:after, .fieldset:after, .action:after {
      content: "";
      display: block;
      clear: both;
    }

    .input-radio {
      position: relative;
      top: 8px;
    }

    .receipt-address .selectric {
      width: 500px;
    }

    .return-reason .selectric {
      width: 267px;
    }

    .number {
      width: 80px;
      height: 28px;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    .number.error {
      border: 1px solid #ff0000;
      -webkit-box-shadow: 0 0 2px #ff0000;
      -moz-box-shadow: 0 0 2px #ff0000;
      box-shadow: 0 0 2px #ff0000;
    }

    .number-tip {
      position: absolute;
      top: -4px;
      padding: 4px;
      background-color: #ff0000;
      color: #ffffff;
      font-size: 12px;
      line-height: 12px;
      white-space: nowrap;
    }

    .number-tip:before {
      content: "";
      position: absolute;
      top: 20px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 6px solid red
    }

  }

}

.buyer_back-change_purchaser-form.return-goods {
  width: 820px;

  tfoot td {
    height: 55px;
  }

  .list-pagination {
    float: right;
  }

  .total {
    margin-right: 10px;
  }

}

// Copy of web-union -----------------------------------------------------------------------------------------------

table#addressTable {

  tr {

    td {

      &:first-of-type {
        text-align: right;
      }

      #receiverName {
        width: 203px;
      }

      #province, #city, #region {
        width: 114px;
      }

      #street {
        width: 120px;
      }

      #details {
        width: 473px;
      }

      #zip {
        width: 110px;
      }

      #mobile {
        width: 162px;
      }

      #areaCode {
        width: 60px;
      }

      #phone {
        width: 100px;
      }

      #phoneExt {
        width: 100px;
      }

    }

  }

  #isDefault {
    margin-left: 5px
  }

}
