{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "body"}}
  {{> header}}
  <div class="user-background">
    <div class="main-container">
      <div class="sidebar-outer">
        <div class="body-outer user-layout">
          {{inject "system/sidebar"}}
          {{{block "realBody"}}}
        </div>
      </div>
    </div>
  </div>
  {{> footer}}
{{/partial}}
{{> layout}}
