{{#component "customer-service js-comp"}}
  <div class="customer-service-box" data-tntInstId="{{tntInstId}}">
    <img class="customer-service-icon" src="{{imageSrc}}" data-hover="{{imageHoverSrc}}"/>
  </div>
{{/component}}