.search-panel {
  padding: 10px;
  border: 1px solid #ccd0d6;
  margin-bottom: 15px;
  font-size: 12px;
  color: #24344e;
  table {
    tr {
      &:first-child {
        td {
          padding-top: 0px;
        }
      }
      td {
        color: #999999;
        padding-top: 9px;
        &.search-label {
          text-align: right;
          padding-left: 16px;
          &:first-child {
            padding-left: 0;
          }
        }
        input[type="text"],select {
          width: 190px;
          &.date-input {
            width:120px;
          }
        }
        white-space: nowrap;
      }
    }
  }
}
