{{#component "select-spu js-comp"}}
  <input type="hidden" id="ptype" value="{{ptype}}">
  <div class="component-header">
    <span class="component-title">
      标准类目编辑商品
    </span>
  </div>
  <div class="component-body">
    <div class="category-path"><label>商品类目：</label>{{categoryPath}}</div>
    <div class="scroll-view">
      <div class="category-list fixed-category"></div>
    </div>
    <div class="selected-category">
      <span class="selected-category-span">
        <label>您当前选择的是：</label>
        <span class="selected-path" data-category-path=""></span>
      </span>
    </div>
    <div class="button-submit">
      <button class="btn btn-primary btn js-submit-spu" disabled>确定</button>
    </div>
  </div>
{{/component}}
