@import 'compass/css3/inline-block';
@import 'pokeball/theme';
@import 'compass/css3/box-sizing';

$blue-carinsur: #24344e;
$orange-carinsur: #ff7900;

.fixed-car-insurance {

  // breadCrumbs
  //.current-location-dark {
  //  font-size: 14px;
  //  padding: 10px 0;
  //}
  //
  //.current-location-span {
  //  height: 30px;
  //  line-height: 28px;
  //
  //  a {
  //    color: $gray;
  //  }
  //
  //  i {
  //    @include inline-block(baseline);
  //    color: $color-text-secondary-assist;
  //  }
  //
  //}

  .fixed-title {
    margin: 4px 0 44px;

    h3 {
      color: $blue-carinsur;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .fixed-insurance-list {

    margin-top: 10px;

    li {
      float: left;
      height: 164px;
      margin: 0 40px 40px 0;
      position: relative;
      width: 560px;

      .item-logo {
        float: left;
        height: 164px;
        width: 220px;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .item-desc {
        float: left;
        height: 48px;
        margin-left: 18px;
        width: 320px;

        h3 {
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
          margin: 0;
          text-align: left;

          a {
            color: $blue-carinsur;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
          }
        }

        p {
          color: $gray;
          font-size: 12px;
          line-height: 24px;
        }

        .itemdesc-val {
          color: $blue-carinsur;
        }

        .feerate-color {
          color: $orange-carinsur;
        }
      }

    }

  }

  .fixed-insurance-list-pagination {
    font-size: 14px;
    height: 40px;
    text-align: right;
    width: 100%;
  }

}
