{{#partial "title"}}404{{/partial}}
{{#partial "body"}}
  <div class="404-site" style="width: 100%;height: 100%;">
    <div style="width:700px; position: fixed; top: 50%; left:50%; margin: -170px 0 0 -350px;">
      <div class="404-image" style="float:left;"><i class="icon-404"></i></div>
      <div class="404-words" style="float:left;">
        <div class="warning-info" style="padding:80px 0 0 65px;">
          <i class="icon-big-warning"></i>
          &nbsp;&nbsp;
          <i class="icon-oops" style="margin-top:5px;"></i>
          <p  style="padding-left:116px;font-size:14px;">您可以： <a href="/">回到{{i18n "Home page" bundle="all_mix"}}</a></p>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
{{/partial}}
{{> layout}}
