<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
  <!-- Powered by Terminus.io -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.2">
    <meta name="baidu-site-verification" content="H4CfHlHHeo" />
    <link rel="stylesheet" href="/assets/styles/vendor.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
  </head>
  <body>
    {{#block "designable"}}{{/block}}
    <div class="root-container">
    {{#block "body"}}
    {{/block}}
    </div>
    <script src="/assets/scripts/vendor.js"></script>
    <script src="/assets/scripts/templates.js"></script>
    <script src="/assets/scripts/app.js"></script>
    <script>require("app")()</script>
    {{#block "tool"}}{{/block}}
  </body>
  <!-- Powered by Terminus.io -->
</html>
