{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "body"}}
  <div class="root-container">
    {{{block "mainBody"}}}
    {{inject "common/footer"}}
  </div>
{{/partial}}
{{#partial "tool"}}
  {{{block "mainTool"}}}
{{/partial}}
{{> layout}}
