{{#partial "realTitle"}}临时测试页面{{/partial}}

{{#partial "body"}}
  <div style="background: rgb(245, 245, 245); width: 100%; height: 1600px; padding: 40px 0;">
    <div style="width: 1200px;margin: auto;">
      {{inject "education/purchaseOrgList"}}
    </div>
    <div style="margin: 40px auto; width: 1200px; background: #ffffff;">
      {{inject "education/elevatorFloor"}}
    </div>
    <div style="margin: 40px auto; width: 1200px;">
      {{inject "education/brandsFloor"}}
    </div>
    <div style="margin: 40px auto; width: 1200px;">
      {{inject "education/enquiryList"}}
    </div>
  </div>
{{/partial}}

{{> layout}}