{{#partial "bodyClass"}}ZCYbacklayout{{/partial}}
{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "body"}}

  <div class="main-top">
    {{inject "comps/user/header"}}
  </div>
  <div class="main-left">
    {{inject "comps/user/sidebar"}}
  </div>
  <div class="main-right">
    {{{block "realBody"}}}
  </div>

  <div class="notify-container"></div>
  <div class="assist-part">

  </div>
{{/partial}}
{{> layout}}
