.procurement-edit {

  .panel {
    margin-bottom: 20px;

    .panel-header {
      position: relative;
      padding: 0 20px;
      line-height: 42px;
      height: 42px;
      background-color: #f8f8f8;
      color: #333333;
      font-size: 14px;

      .btn {
        margin-top: 5px;
      }
    }

    .panel-body {
      position: relative;
      padding: 20px;
      background-color: #ffffff;
    }

  }

  .panel.list-panel{

    .panel-body {

      table {
        margin-bottom: 20px;

        th {
          width: 130px;
          background-color: #f9f9f9;
        }

        th, td {
          padding-left: 10px;
          padding-right: 10px;
          border: 1px solid #e7e9ea;
        }

      }

    }

  }
 .urllink {
   display: inline-block;
   width: 700px;
 }
}
