.ZCY-eevee-comp-normalLogo{
  display: inline-block;
  .eevee-image{
    width: 200px;
    display: inline-block;
  }
  .text-content{
    vertical-align: top;
    padding: 14px 3px 14px 10px;
    border-left: 1px solid #dddddd;
    margin-left: 9px;
    .logo-text{
      font-size: 20px;
      color: #314058;
      vertical-align:middle;
      font-weight: bolder;
    }
    select{
      width: 90px;
    }
    .selectric{
      width: 90px;
      height:24px;
      padding:0;
      .label{
        height:24px;
        line-height:23px;
      }
      .button{
        width:20px;
        height:24px;
      }
    }
    .selectric-items{
      top:23px;
      li{
        padding:2px 10px;
      }
    }
  }
}