@import "compass/css3/inline-block";
@import "pokeball/theme";
@import "compass/css3/box-sizing";

.fixed-hotel-service {

  .hotel-select-key {
    display: inline-block;
    height: 28px;
    .js-key-selector {
      display: inline-block;
      vertical-align: middle;
      background-color: $white;
      border: 1px solid $darkgray;
      padding: 3px 10px 3px 6px;
      margin-right: 6px;
      color: $darkgray;
      &:hover {
        border-color: $blue;
      }
      i {
        display: inline-block;
        vertical-align: baseline;
        margin-left: 5px;
        color: $darkgray;
        font-size: 12px;
        &:hover {
          color: $blue;
        }
      }
    }
  }

  .nav-group {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 20px;

    .control-group {
      .attr-list {
        overflow: visible;
      }

      .hotel-region-container {
        height: 32px;
        width: 280px;
        margin: 0 20px 4px;
      }
    }

    dl {
      padding: 0;

      dt, dd {
        vertical-align: top;
      }

      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }

      dt {
        width: 110px;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .attr-list {
        @include inline-block(middle);
        margin-top: 1px;
        overflow: hidden;
        width: 980px;
      }

      .list-more {
        height: 33px;

        .dd-cancel {
          margin: 0 20px;
          label {
            color: $color-text;
            width: auto;
          }
        }

      }

      .list-more.active {
        overflow: auto;
        max-height: 102px;
      }

      .mul-btns {
        text-align: center;
      }

      dd button {
        margin-top: 4px;
      }

      .more-options {
        margin: 0;
      }

    }
  }

  .click-active {
    color: $blue;
  }

  #hot-search {
    height: 28px;
    width: 280px;
    margin: 4px 20px;
  }

  .hide {
    display: none;
  }

  .filter {
    background: $light-background-color;
    border: 1px solid $whitesmoke;
    padding: 0 10px 0 0;

    .filter-banner {
      @include inline-block(middle);
      height: 40px;

      .filter-key {
        color: #000000;
        float: left;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 66px;

        &:last-child {
          position: relative;
          i {
            color: $gray;
            font-size: 6px;
            position: absolute;
            height: 6px;

            &:first-child {
              right: 4px;
              top: -4px;
            }

            &:nth-child(2) {
              right: 4px;
              top: 8px;
            }
          }

          i.icon-arrow-active {
            color: $blue;
          }
        }
      }

      .filter-active {
        background-color: $white;
        border-right: 1px solid $whitesmoke;
      }
    }

    .filter-form {
      @include inline-block(middle);
      margin-left: 10px;

      fieldset {
        padding: 1px 0;

        .price-search {
          display: inline-block;
          height: 38px;
          padding-left: 10px;
          padding-right: 10px;
          width: auto;

          #js-price-range {
            display: inline-block;
            height: 28px;
            margin-left: 10px;
            width: 48px;
          }

          label {
            margin: 5px 0;
            padding: 0;
          }
        }

        #forins {
          display: inline-block;
          text-align: center;
          width: 10px;
        }
      }

      input[type="number"].input-small.p_f, input[type="number"].input-small.p_t {
        height: 28px !important;
        width: 70px !important;
      }
    }

  }

  .list {
    margin-top: 30px;

    .view-thumb {
      overflow: hidden;

      li.hotel-item {
        border: 0;
        float: left;
        height: 206px;
        margin: 0 0 30px;
        padding: 0;
        position: relative;
        width: 550px;

        &:nth-child(odd) {
          margin-right: 50px;
        }

        .hotel-image {
          float: left;
          height: 206px;
          width: 206px;
        }

        .hotel-info {
          float: left;
          margin-left: 20px;
          word-wrap: break-word;

          p {
            margin: 0;
          }

          .hotel-name {
            width: 290px;
            height: 44px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            a {
              font-size: 20px;
              line-height: 22px;
              font-weight: bold;
              text-overflow: ellipsis;
            }
          }

          .hotel-tax {
            width: 320px;
            height: 34px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .hotel-addr {
            width: 320px;
            height: 36px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .hotel-level {
            margin-bottom: 10px;
            .link-room-vacant {
              color: $blue;
              font-size: 12px;
            }

            span:first-child {
              font-size: 14px;
              font-weight: bold;
            }

          }

          p.price-line {
            margin-top: 5px;
          }

          .hotel-price {
            font-size: 16px;
            color: $darkgray;
          }

          .hotel-currency {
            color: $orange;
          }
        }
      }
    }

  }

  .hotel-list-pagination {
    width: 100%;
    padding: 25px 0;
    text-align: right;
    font-size: 14px;
  }

}
