<div class="modal">
    <div class="modal-header" style="width:500px;">
        <span>上架信息</span>
    </div>
    <div class="modal-body">
        {{#each this}}
            <div style="">
                <div>
                    <span class="label-span">{{signDistrictName}}：</span>
                    {{#if isSuccess}}
                        <span class="content-span success">网超商品上架申请提交成功</span>
                    {{else}}
                        <span class="content-span">{{error}}</span>
                    {{/if}}

                </div>
            </div>
        {{/each}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-medium close btn-reload" type="button">确定</button>
    </div>
</div>