@import "pokeball/theme";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-sizing";
div.item-detail {
  * {
    @include box-sizing(content-box);
  }
  margin-bottom: 25px;
  .input-amount {
    &,
    * {
      @include box-sizing(border-box);
    }
    a.disabled {
      border-color: #ccd0d6;
    }
    a {
      border: solid 1px #ccd0d6;
    }
  }
  .warning {
    border: 1px solid $color-danger !important;
  }
  .item-bread-crumb {
    margin: 0 0 25px 0;
    i {
      vertical-align: top;
      font-size: 12px;
    }
  }
  .item-detail-left {
    width: 400px;
    float: left;
    _margin-right: -3px;
  }
  p.item-platform-link-warp {
    margin: 15px 0;
    color: #1A7AFF;
    ;
  }
  .item-platform-link {
    color: $color-text-assist;
    font-size: 14px;
    &:hover {
      color: #1A7AFF;
    }
  }
  .item-detail-right {
    margin-left: 400px;
    width: 570px;
    .item-info {
      margin-top: 15px;
    }
  }
  .item-title {
    position: relative;
    padding-top: 0;
    padding-right: 50px;
    h1 {
      font-size: 18px;
      line-height: 20px;
      font-weight: bold;
      color: #24322e;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .report-item {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      color: #999;
      font-size: 14px;
    }
  }
  .item-info-list {
    background-color: #fff4ea;
    list-style-type: none;
    height: 80px;
    padding: 10px 24px 10px 15px;
    li {
      width: 20%;
      float: left;
      padding: 11px 0;
    }
    .price-li {
      width: 100%;
      .component-item-curve {
        .price-curve-entrance {
          margin-top: -8px;
        }
      }
    }
    .outer-li {
      margin-right: 50px;
    }
    .outer-li,
    .discount-li {
      width: auto;
    }
    .discount-precent,
    .satisfaction,
    .percent-unit {
      color: #ff7900;
    }
    .discount-precent {
      span {
        font-size: 20px;
      }
    }
    .item-price {
      color: #ff7900;
      font-size: 28px;
      @include inline-block(middle);
      margin-top: -6px;
      font-weight: bold;
      .price {
        vertical-align: text-bottom;
      }
    }
    .outer-price {
      font-size: 20px;
      a {
        color: #666;
        div {
          display: inline-block;
        }
      }
    }
    .total-sold {
      color: $navy;
      font-weight: bold;
    }
    .first-line {
      font-size: 14px;
      color: #666;
    }
  }
  .item-info-list-pj {
    background-color: #fff;
    list-style-type: none;
    height: 38px;
    font-size: 0;
    margin: 0;
    margin-top: 12px;
    border-top: dashed 1px #E2E2E2;
    border-bottom: dashed 1px #E2E2E2;
    li {
      list-style: none;
      float: left;
      width: 33%;
      line-height: 20px;
      text-align: center;
      padding: 7px 0;
      label {
        font-size: 12px;
        color: #666;
        width: 100%;
        border-right: solid 1px #e2e2e2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
          color: #1A7AFF;
          font-weight: bold;
          &.satisfaction {
            color: #ff2200;
          }
          .satisfaction-unit {
            font-weight: 100;
          }
        }
      }
      &:hover {
        background: #C7F2E9;
      }
      &:last-child {
        label {
          border-right: 0;
        }
      }
    }
    &:after {
      content: '';
      clear: both;
    }
  }
  .control-group {
    margin-top: 15px;
    line-height: 25px;
    .control-label {
      @include inline-block(middle);
      width: 60px;
      vertical-align: middle;
    }
    .remark {
      @include inline-block(middle);
    }
    .controls {
      @include inline-block(middle);
      .original-price {
        text-decoration: line-through
      }
      .new-price {
        b {
          font-size: 24px;
          margin-left: 5px;
          font-weight: normal;
        }
      }
    }
    .new-price-controls {
      vertical-align: bottom;
    }
    .address-select-label {
      .address-select {
        height: 30px;
        .address-text {
          height: 30px;
          color: #24322e;
        }
      }
    }
  }
  .item-not-on {
    margin-top: 20px;
    border: 1px solid $color-border;
    background-color: $color-background;
    padding: 10px 20px 20px 20px;
    p {
      font-size: 16px;
    }
  }
  .item-skus,
  .item-attrs {
    margin-top: 20px;
    padding: 0 15px;
    .close-warning {
      color: $color-danger;
      float: right;
      margin: 0 -15px 0 0;
      font-weight: bold;
      font-size: 20px;
    }
    #choose {
      list-style: none;
      .control-group {
        .sku-attr {
          padding: 8px 15px;
          margin-right: 8px;
        }
        .item {
          border: 1px solid $color-border;
          @include inline-block(middle);
          margin-right: 10px;
          margin-bottom: 5px;
          padding: 5px 15px;
          color: $navy;
          line-height: 14px;
          font-size: 14px;
          &.hasImage {
            padding: 0;
          }
          &.disabled {
            cursor: not-allowed;
            background-color: $color-background;
          }
        }
        .sku-items-label {
          float: left;
          width: 94px;
          height: 25px;
          overflow: hidden;
          text-align: left;
          font-size: 14px;
          @include inline-block(middle);
          p.compare-price-more {
            margin: 0;
            a {
              font-size: 12px;
            }
          }
        }
        .sku-items {
          width: 420px;
          @include inline-block(middle);
          img {
            width: 25px;
            height: 25px;
          }
        }
        .selected {
          border: 1px solid $color-primary;
          position: relative;
          .attr-checked {
            opacity: 1;
          }
        }
        .attr-checked {
          position: absolute;
          opacity: 0;
          right: -1px;
          bottom: -1px;
        }
      }
      .compare-price {
        .sku-items-label {
          height: 45px;
        }
      }
    }
    #choose-btns {
      margin-top: 30px;
      .hide {
        display: none !important;
      }
      .report-item {
        padding: 14px;
      }
      .buy-order {
        border-color: #1A7AFF;
        color: #1A7AFF;
      }
      .btn-large {
        margin-right: 10px;
      }
    }
  }
  .item-skus {
    margin-top: 16px;
    label {
      color: #666;
    }
  }
  .btn-icon {
    [class^="icon-"],
    [class*=" icon-"] {
      vertical-align: bottom;
    }
  }
  .buy-btn {
    padding: 17px 54px;
    font-size: 18px;
  }
  .item-carousel-wrap {
    width: 340px;
    margin: 20px 0 0 20px;
  }
  .image-manage {
    margin-top: 0;
    .main-image {
      position: relative;
      width: 380px;
      height: 380px;
      border: 1px solid $color-border-dark;
      .item-mark-box {
        position: absolute;
        top: 12px;
        left: 12px;
        .mark-s {
          float: left;
          margin-right: 5px;
          width: 26px;
          height: 13px;
          img {
            width: 100%;
          }
        }
      }
    }
    .image-enlarge {
      position: absolute;
      right: 10px;
      bottom: 15px;
      font-size: 28px;
      color: $color-background;
    }
    .images {
      margin: 0;
      padding: 0;
      margin-top: 0;
      li {
        list-style: none;
        width: 55px;
        height: 55px;
        float: none;
        padding-left: 0;
        padding-top: 0;
        @include inline-block(middle);
        text-align: center;
        img {
          width: 53px;
          height: 53px;
          border: 1px solid $color-border;
          cursor: pointer;
          display: inline;
        }
        a {
          font-size: 12px;
        }
      }
      .selected {
        img {
          width: 51px;
          height: 51px;
          border: 2px solid $color-primary;
        }
      }
    }
  }
  .compare-price {
    ul {
      li {
        cursor: pointer;
        width: 120px;
        display: inline-block;
        border: 1px solid #ccd0d6;
        padding: 10px 0 10px 5px;
        .price {
          font-size: 16px;
          color: #24322e;
        }
        .discount {
          .key {
            color: #666;
          }
          .value {
            color: #666;
            display: block;
          }
        }
        .name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #666;
        }
        div {
          line-height: 20px;
        }
      }
    }
  }
  .service-protocol {
    margin-top: 20px;
    display: none;
    white-space: nowrap;
  }
}

.report-item-modal-body {
  .select-real-unreal {
    margin-bottom: 20px;
    label {
      margin-left: 70px;
    }
    input {
      margin-left: 10px;
    }
  }
  .control-group {
    float: left;
  }
}
.huanbao-box.isShow {
  display: inline-block;
}
.jieneng-box.isShow {
  display: inline-block;
}