.invoice-picker {
  .invoice-mode-select {
    label {
      color: #333333;
    }
    .input-radio {
      vertical-align: text-top;
    }
  }

  .invoice-table{
    display: table;
    @media screen and (min-width: 1300px) {
      width: 1040px;
    }
    @media screen and (max-width: 1300px) {
      width: 1000px;
    }
    padding: 0;
    .invoice-block {
      position: relative;
      vertical-align: bottom;
      @media screen and (min-width: 1300px) {
        margin: 10px 20px 10px 0px;
      }
      @media screen and (max-width: 1300px) {
        margin: 10px 10px 10px 0px;
      }
      border: 1px solid #ccd0d6;
      line-height: 20px;
      padding: 10px;
      width: 240px;
      height: 120px;
      display: inline-block;
      font-size: 12px;
      .invoice-head{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
      }
      .invoice-content {
        .icon-warningfill{
          color:#aaa;
          margin-left:2px;
          margin-top:-2px;
          cursor:pointer;
          &:hover{
            color:#197AFF;
          }
        }
        .invoice-content-text {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 150px;
          vertical-align: middle;
        }
        .icon-zcy {
          font-weight: bold;
          color: #197aff;
        }
        .custom-content-input {
          display: none;
          vertical-align: text-top;
        }
      }
      .taxNumber{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .additions {
        font-size: 10px;
        .text-info {
          color: #666666;
        }
      }
      .active-sign {
        display: none;
      }
      .hover-sign {
        display: none;
      }
    }

    .invoice-block.active {
      border: 1px solid #197aff;
      .angle {
        font-size: 8px;
        line-height: 8px;
        padding: 0;
        width: 0;
        height: 0;
        border-width: 10px 10px;
        border-color: transparent #197aff #197aff transparent;
        border-style: dashed solid solid dashed;
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .active-sign {
        display: inline-block;
      }
    }
    .invoice-block:hover {
      border: 1px solid #197aff;
      .hover-sign {
        display: inline;
      }
    }
    .extra {
      display: none;
    }

    .text-info {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .foot-operations a {
      margin-right: 10px;
    }
    .foot-operations .manage-invoice{
      float: right;
      margin-right: 20px;
    }
  }

  .hidden {
    display: none !important;
  }

  .popover {
    max-width: 700px;
  }
}

.modal.invoice-edit {
  width: 600px;
  .icon-warningfill{
    color:#aaa;
    margin-left:2px;
    margin-top:-2px;
    cursor:pointer;
    &:hover{
      color:#197AFF;
    }
  }
  .invoice-content-type {
    position: relative;
    display: inline-block;
    border: 1px solid #ccd0d6;
    margin-right: 10px;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    font-size: 12px;
    .angle {
      display: none;
    }
  }
  .invoice-content-type.selected {
    border: 1px solid #197aff;
    .angle {
      height: 10px;
      width: 10px;
      font-size: 10px;
      line-height: 10px;
      color: #ffffff;
      background: #197aff;
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline;
    }
  }
  textarea {
    width: 400px;
    height: 60px;
    resize: none;
  }
}