.customer-requisition {
  div.panel{
    padding: 18px;
    background: #ffffff;

    .search-panel {
      table tr td{
        .money-input {
          width: 120px;
        }
        .selectric {
          width: 190px;
        }
      }

    }

  }

  .jianjiao{
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    width: 28px;
    height: 32px;
    color: #000;
    text-align: center;
  }
}
