<div class="modal">
  <div class="modal-header">
    <a href="javascript:void(0)" class="close">×</a>
    <h2>帐号登录</h2>
  </div>
  <div class="modal-body">
    <div class="login-form-block clearfix">
      <div class="login-block">
        <form class="login-form" action="" method="post">
          <div class="col-12 input-row hidden">
            <div class="login-error">
              <i class="icon-zcy icon-alertfill login-error-icon"></i>
              <label id="error-text" class="error-text">帐号不存在，请重新输入</label>
            </div>
          </div>
          <div class="col-12 input-row">
            <div class="input-group">
              <i class="icon-zcy icon-dengluyonghuming input-icon"></i>
              <input type="text" id="login-by" name="loginBy" value="" class="input" placeholder="请输入帐号/邮箱/手机号"/>
            </div>
          </div>
          <div class="col-12 input-row">
            <div class="input-group">
              <i class="icon-zcy icon-denglumima input-icon"></i>
              <input type="password" id="password" name="password" value="" class="input" placeholder="请输入密码"/>
            </div>
          </div>
          <div class="col-12 input-row">
            <div class="input-group">
              <input type="text" id="captcha" name="captcha" value="" class="input-captcha input" placeholder="请输入验证码" autocomplete="off"/>
              <img alt="验证码" id="img-captcha" name="img-captcha" class="img-captcha" src="/login/captcha" title="看不清？点击更换" />
            </div>
          </div>
          <div class="col-12 input-row">
            <button type="button" id="login-now" name="login-now" class="btn btn-block login-btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
