{{#component "assist js-comp"}}
<div class="assist-part" id="assist-part">
  <div class="mascot" id="mascot">
    <img id="openeyes" src="/assets_assist/images/other-images/caibao.png">
    <img id="closeeyes" src="/assets_assist/images/other-images/caibao_biyan.png" style="display: none">
  </div>
  <div class="pop-over" id="Popover">我是采宝，是您的帮助管家，有问题就点点我吧！<div class="triangle">
  </div></div>
  <ul class="assist-menu">
  	<li class="menu"><a href="https://cschat.cloud.alipay.com/pcportal.htm?tntInstId=KMQNW3CN&scene=SCE00000041" target="_blank">向我提问</a></li>
  	<li class="menu" id="showQuestion">常见问题</li>
  	<li class="close"><i class="zcy-icon icon-qingchu"></i></li>
  </ul>
  <input id="currentCategory" value="{{_USER_.detailCategory}}" hidden />
  {{inject "common/assist/detail"}}
</div>
{{/component}}
